body {
    height: 100%;
    background-color: #444444;
}

.page {
    opacity: 0;
    -webkit-transition: .4;
    -o-transition: .4;
    transition: .4;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

.loaded {
    opacity: 1 !important;
}

.preloader {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444444;
}

.load {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header {
    background: -o-linear-gradient(315deg, rgba(121, 121, 121, 0.76) 0%, rgb(0, 0, 0) 200%), url('../img/bg.jpg');
    background: linear-gradient(135deg, rgba(121, 121, 121, 0.76) 0%, rgb(0, 0, 0) 200%), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom, bottom;
    background-size: cover, 107% 109%;
    min-height: 650px;
    height: 100vh;
    position: relative;
}

.boxer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    text-align: left;
    min-width: 280px;
    width: 550px;
    min-height: 280px;
    max-width: 600px;
    background-color: #1E1E1E;
    padding: 35px 10px 10px;
    border-radius: 10px;
}

.slide-out-bottom {
    -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.boxer.icon::after {
    display: none;
}

.boxer.icon {
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    background-image: url('../img/console2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.boxer::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #000;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #D5C5C2;
    z-index: 1;
}

.color-container {
    position: absolute;
    top: 5px;
    width: 200px;
    display: inline-block;
    z-index: 2;
}

.color-container a {
    text-decoration: none;
    color: inherit;
}

.red,
.yellow,
.green {
    display: block;
    position: absolute;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    -webkit-transition: -webkit-filter .4s;
    transition: -webkit-filter .4s;
    -o-transition: filter .4s;
    transition: filter .4s;
    transition: filter .4s, -webkit-filter .4s;
}

.red {
    background-color: #FB6254;
    border: 1px solid #D5473C;
    color: #D5473C;
}

.yellow {
    left: 25px;
    background-color: #FDBE2F;
    border: 1px solid #D5A127;
    color: #D5A127;
}

.green {
    left: 50px;
    background-color: #2DCB48;
    border: 1px solid #27B03F;
    color: #27B03F;
    font-size: 18px;
    line-height: 18px;
}

.red:hover,
.green:hover,
.yellow:hover {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}

.element {
    white-space: pre;
    line-height: 50px;
}

.mouse {
    width: 5px;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #65e2d9;
    z-index: 9999999;
    -webkit-animation: flow_withoutMoving 1.4s ease infinite;
    animation: flow_withoutMoving 1.4s ease infinite;
    display: none;
}

.boxer p {
    color: #65e2d9;
}

.bounce::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    position: absolute;
    border: 2px solid #ECECEC;
    -webkit-animation: flow 1.4s ease infinite;
    animation: flow 1.4s ease infinite;
}

.inactive {
    margin-left: 6px;
    margin-top: 40px;
    width: 10px;
    height: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.greeting,
.element {
    color: #ffffff;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

svg {
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
}

svg circle {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
    will-change: transform;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

svg .inner {
    stroke: #aacbb0;
    stroke-dasharray: 200.96;
    stroke-dashoffset: 160.96;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

svg .middle {
    stroke: #517574;
    stroke-dasharray: 238.64;
    stroke-dashoffset: 178.64;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

svg .outer {
    stroke: #1ca197;
    stroke-dasharray: 276.32;
    stroke-dashoffset: 176.32;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}


/* animations */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border-color: #ECECEC;
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        border-color: hsl(198, 60%, 50%);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border-color: #ECECEC;
    }
}

@keyframes flow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border-color: #ECECEC;
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        border-color: hsl(198, 60%, 50%);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border-color: #ECECEC;
    }
}

@-webkit-keyframes flow_withoutMoving {
    0% {
        border-color: #ECECEC;
    }
    50% {
        border-color: hsl(198, 60%, 50%);
    }
    100% {
        border-color: #ECECEC;
    }
}

@keyframes flow_withoutMoving {
    0% {
        border-color: #ECECEC;
    }
    50% {
        border-color: hsl(198, 60%, 50%);
    }
    100% {
        border-color: #ECECEC;
    }
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}