
/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
li::marker {
  display: none;
}
ul {
  list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
.no-boot ul {
  list-style: none;
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: var(--blue);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1336px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
body.overflowed {
  overflow: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #000000;
}
.center {
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.01em;
  margin-bottom: 87px;
  z-index: 1;
}

.main__screen {
  background: url(../img/masthead.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/* header */
.header {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  margin-left: 5px;
}
.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-nav li:not(:last-child) {
  margin-right: 21px;
}
.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-group > :not(:last-child) {
  margin-right: 27px;
}
.btn-auth {
  padding: 0 20px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7fb53), to(rgba(247, 251, 83, 0)));
  background: -o-linear-gradient(top, #f7fb53 0%, rgba(247, 251, 83, 0) 100%);
  background: linear-gradient(180deg, #f7fb53 0%, rgba(247, 251, 83, 0) 100%);
  border: 1px solid #c4c4c4;
}
.btn-auth:first-child:hover {
  background: #f7fb53;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.btn-auth:last-child:hover {
  background: #6fcc60;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamburger-item {
  display: none;
}
.hamburger-item .hamburger {
  padding: 0;
}
.mobile-menu {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
.mobile-menu--inner {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 475px;
  padding: 20px;
  background: #fff;
  font-size: 24px;
  border: 1px solid #f2f2f2;
  border-right: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile-menu--inner.opened {
  right: 0;
}
.mobile-nav ul li:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-nav > .btn-group {
  margin-top: 30px;
  display: none;
}
.mobile-menu .menu__item--demo {
  display: block;
}
.mobile-nav hr {
  margin: 30px 0;
  width: 100%;
}

/* section main */

.section-main__inner {
  padding: 50px 0 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main-content {
  max-width: 697px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
.main-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 158.4%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  margin-bottom: 54px;
}
.main-title span {
  font-size: 40px;
  white-space: nowrap;
}
.main-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.035em;
  margin-bottom: 52px;
}
.main-btn {
  max-width: 411px;
  height: 75px;
  background: #f7fb53;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 60px;
  margin-left: auto;
}
.main-btn:hover {
  background: #000000;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.main-img {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.main-img img {
  width: 100%;
}
.absolute-item {
  position: absolute;
  z-index: 0;
}
.ell_l {
  bottom: 20%;
  left: 0;
  width: 50%;
}
.ell_r {
  bottom: 30%;
  right: 0;
  width: 70%;
}
.ell_r svg,
.ell_l svg {
  width: 100%;
}
.obj_t {
  top: 0;
  right: 0;
  z-index: 1;
}
.obj_b {
  bottom: 50px;
  left: 0;
  z-index: 1;
}
.section-main__inner:hover .ell_r path,
.section-main__inner:hover .ell_l path {
  fill: rgba(111, 204, 96, 0.35);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-main__inner:hover .ell_r svg,
.section-main__inner:hover .ell_l svg {
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-main__inner:hover .obj_t circle,
.section-main__inner:hover .obj_b circle {
  fill: #6fcc60;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill-opacity: 1;
}
.section-main__inner:hover .obj_t circle:nth-child(2),
.section-main__inner:hover .obj_t circle:nth-child(12),
.section-main__inner:hover .obj_t circle:nth-child(13),
.section-main__inner:hover .obj_t circle:nth-child(14),
.section-main__inner:hover .obj_t circle:nth-child(15),
.section-main__inner:hover .obj_t circle:nth-child(16),
.section-main__inner:hover .obj_b circle:nth-child(2),
.section-main__inner:hover .obj_b circle:nth-child(12),
.section-main__inner:hover .obj_b circle:nth-child(13),
.section-main__inner:hover .obj_b circle:nth-child(14),
.section-main__inner:hover .obj_b circle:nth-child(15),
.section-main__inner:hover .obj_b circle:nth-child(16) {
  fill: #e66565;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill-opacity: 1;
}

/* terminal */

.p-screen {
  padding: 111px 0;
}
.filter-background {
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.filter-background::after {
  content: "";
  width: 120%;
  top: 0;
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background: #f7fb53;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.title:hover .filter-background::after {
  opacity: 0;
}
.title:hover .filter-background {
  color: #e66565;
}
.terminal-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.terminal-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}
.terminal-image img {
  width: 100%;
}
.terminal-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.terminal-card {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 27px 20px 10px;
  margin-bottom: 32px;
}
.terminal-action {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-arrow {
  margin-right: 50px;
}
.s-btn {
  height: 40px;
  min-width: 156px;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  border: 3px solid #f7fb53;
}
.s-btn:hover {
  border-color: #6fcc60;
}

/* rates */

.rates__screen {
  background: #fafafa;
}
.rates-block {
  padding-left: 30px;
  margin: 150px 0 0;
  max-width: 700px;
  width: 55%;
  border-left: 3px solid #000000;
  position: relative;
}
.rates__inner {
  position: relative;
  padding-bottom: 85px;
}
.rates-block::after {
  content: "%";
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 288px;
  line-height: 351px;
  text-transform: capitalize;
  color: #f6f6f6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rates-table {
  top: 0;
  right: 0;
  position: absolute;
  padding: 19px 6px 7px;
  background: #fff;
  max-width: 593.71px;
  width: 45%;
}
.rates-table table {
  width: 100%;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}
.rates-table table::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  margin-left: auto;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rates-table tr th {
  padding: 16px 0 32px;
}
.rates-table thead {
  border-bottom: 1px solid;
}
.rates-table tbody tr:first-child td {
  padding-top: 30px;
}
.rates-table tbody tr:last-child td {
  padding-bottom: 30px;
}
.rates-table tr td {
  padding: 16.5px 0;
}
.rates-table tr th:last-child,
.rates-table tr td:last-child {
  background: #f2f2f2;
  width: 40%;
  text-align: center;
}
.rates-table tr th:first-child,
.rates-table tr td:first-child {
  width: 60%;
}
.rates-obj_b {
  position: absolute;
  top: 115%;
  right: 0;
  z-index: -1;
}
.rates__screen:hover .rates-block::after {
  color: #e66565;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rates__screen:hover .rates-table tr th:last-child,
.rates__screen:hover .rates-table tr td:last-child {
  background: rgba(111, 204, 96, 0.35);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rates__screen:hover .rates-obj_b circle {
  fill: rgba(111, 204, 96, 0.35);
  fill-opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rates__screen:hover .rates-obj_b circle:nth-child(2),
.rates__screen:hover .rates-obj_b circle:nth-child(12),
.rates__screen:hover .rates-obj_b circle:nth-child(13),
.rates__screen:hover .rates-obj_b circle:nth-child(14),
.rates__screen:hover .rates-obj_b circle:nth-child(15),
.rates__screen:hover .rates-obj_b circle:nth-child(16) {
  fill: rgba(230, 101, 101, 0.35);
}

/* access */

.access__screen {
  padding-top: 194px;
}
.access-block {
  position: relative;
}
.access-block::after {
  content: "";
  position: absolute;
  bottom: 60%;
  right: 50%;
  width: 25%;
  height: 57%;
  background: #f2f2f2;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.access-block:hover::after {
  background: rgba(230, 101, 101, 0.35);
}
.access-item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.access-item:nth-child(even) .access-item--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}
.access-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.access-image img {
  width: 100%;
}
.access-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.access-action {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.access-item:nth-child(odd) {
  margin-bottom: 50px;
}
.access-item:nth-child(odd) .access-action {
  margin-left: auto;
  margin-right: 0;
}
.access-item:nth-child(even) .access-action {
  margin-left: 0;
  margin-right: auto;
}
.access-card {
  padding: 28px 12px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.access-card--inner p {
  z-index: 1;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 190.4%;
  letter-spacing: 0.025em;
  color: #000000;
}
.access-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 0;
}
.access-subtitle {
  margin-bottom: 59px;
  text-align: end;
}

/* platform */

.platform__screen {
  overflow-x: hidden;
}

.platform__inner {
  position: relative;
}
.platform__inner::after {
  content: "SCORE PRIORITY";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: -2;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 288px;
  line-height: 360px;
  text-transform: uppercase;
  color: #fafafa;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.platform-block--title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 17px;
}
.platform-container {
  position: relative;
}
.platform-slider--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 592px;
  height: 357px;
  background: url(../img/slider-wrapper.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.platform-slider-inner {
  margin: 0 auto;
  margin-top: 3%;
  height: 76%;
  width: 60%;
  background: #fff;
}
.platform-slider {
  width: 100%;
  height: 100%;
}
.platform-content {
  position: relative;
  height: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
  padding: 0 20px;
}
.platform-content p {
  max-width: 1114px;
  font-weight: 500;
  font-size: 20px;
  line-height: 190.4%;
  text-align: center;
  letter-spacing: 0.025em;
  color: #000000;
  position: relative;
  z-index: 4;
}
.platform-ell_b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.platform-ell_b svg {
  width: 100%;
  height: 100%;
}
.platform__inner:hover .platform-ell_b svg path {
  fill: #ceedc9;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}
.slider-nav--item {
  padding: 0 35px;
  text-align: center;
  position: relative;
  color: #5a5a5a;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.slider-nav--item.active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slider-nav--item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  width: 2px;
  background: #5a5a5a;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav-image {
  margin-bottom: 19px;
}
.nav-image img {
  width: 100%;
  max-height: 100px;
}
.platform-slider--arrow > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.platform-slider--arrow .arrow-left {
  left: 0;
}
.platform-slider--arrow .arrow-right {
  right: 0;
}

/* details */

.details__screen {
  padding: 61px 0;
  background: #fafafa;
}
.details__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.details-item--wrapper {
  position: relative;
}
.details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 79%;
  max-width: 1060px;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 65px 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}
.details-item--wrapper:not(:first-child) {
  margin-top: -32px;
}
.details-item--wrapper:nth-child(odd) .details-item {
  margin-right: auto;
}
.details-item--wrapper:nth-child(even) .details-item {
  margin-left: auto;
}
.details-item--wrapper:nth-child(1) .details-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 353px;
}
.details-item--wrapper:nth-child(1) .details-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  max-width: 535px;
}
.details-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
}
.details-image img {
  width: 100%;
}
.details-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.details-title {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
}
.details-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 190.4%;
  letter-spacing: 0.025em;
}
.details-obj_r svg,
.details-obj_l svg {
  width: 100%;
  height: auto;
}
.details-obj_r,
.details-obj_l {
  position: absolute;
  top: 44%;
  z-index: 0;
  width: 18%;
}
.details-obj_r {
  right: 0;
}
.details-obj_l {
  left: 0;
}

.details__screen:hover .details-obj_r circle,
.details__screen:hover .details-obj_l circle {
  fill: #6fcc60;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill-opacity: 1;
}
.details__screen:hover .details-obj_r circle:nth-child(2),
.details__screen:hover .details-obj_r circle:nth-child(12),
.details__screen:hover .details-obj_r circle:nth-child(13),
.details__screen:hover .details-obj_r circle:nth-child(14),
.details__screen:hover .details-obj_r circle:nth-child(15),
.details__screen:hover .details-obj_r circle:nth-child(16),
.details__screen:hover .details-obj_l circle:nth-child(2),
.details__screen:hover .details-obj_l circle:nth-child(12),
.details__screen:hover .details-obj_l circle:nth-child(13),
.details__screen:hover .details-obj_l circle:nth-child(14),
.details__screen:hover .details-obj_l circle:nth-child(15),
.details__screen:hover .details-obj_l circle:nth-child(16) {
  fill: #e66565;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill-opacity: 1;
}

/* trade */

.trade__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.trade-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.trade-image img {
  width: 100%;
}
.trade-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}
.trade-btn {
  margin-top: 50px;
  margin-right: auto;
  margin-left: 0;
}
.trade-ell {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  z-index: -1;
}
.trade-ell svg {
  width: 100%;
  height: 100%;
}
.trade__inner:hover .trade-ell svg path {
  fill: rgba(111, 204, 96, 0.35);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* footer */

.footer {
  background: #fafafa;
  -webkit-box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
  padding: 50px 0 36px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
}

.footer-column:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.footer-logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-logo .logo-title {
  font-size: 32px;
  line-height: 40px;
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-menu li:not(:last-child) {
  margin-right: 10px;
}
.rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.rights li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.rights li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rights li:not(:last-child) {
  margin-bottom: 20px;
}
.rights li svg {
  margin-right: 9px;
}