/*----------------------- OVERALL -----------------------*/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
ul, li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    transition: color .2s ease-in;
}
p {
    margin: 0;
}
i {
    font-style: normal;
}
div > img {
    width: 100%;
}
html, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
input, input:focus, button, button:focus, textarea, textarea:focus {
    outline: none;
    resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
    border: none;
}
body {
    font-family: 'Rubik', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: #181818;
    color: #fff;
    scroll-behavior: smooth;
}
body.over {
    overflow: hidden;
}
.hidden {
    display: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul li .a:hover {
    color: #787878;
}


/* ------------------------------ HEADER -------------------------*/

.header {
    width: 100%;
    background: #181818;
}
.header__wrapper {
    width: 100%;
}
.header__up--side {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    position: relative;
}
.social ul li:first-child {
    margin-right: 16px;
}
.contacts p {
    text-align: right;
}
.contacts p:first-child {
    margin-bottom: 4px;
}
.contacts p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #787878;
    margin-top: 8px;
}
.contacts-mobile {
    display: none;
}
.logo {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
}
.header__center--side {
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 0 13px;
}
.header__center--side ul {
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    margin: 0 auto;
}
.header__center--side ul li {
    color: #787878;
}
.header__center--side ul .active-link {
    color: #B7A26F;  
    font-weight: 500;  
}
.header__bottom--side {
    padding: 12px 0 16px;
}
.header__bottom--side ul {
    display: flex;
    max-width: 704px;
    margin: 0 auto;
    justify-content: space-between;
}
.hamburger {
    display: none !important;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: #fff !important;   
    height: 2px !important;
    width: 24px !important;
}
.hamburger-box {
    height: 20px !important;
    width: 24px !important;
}
.contacts__logo {
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.logo-mobile, .social-mobile {
    display: none;
}
.social-mobile svg {
    width: 28px;
    height: 28px;
}
.sticky-mobile.header, .sticky.header {
    position: fixed;
    top: 0;
    z-index: 100;
}
.sticky .logo-mobile, .sticky .social-mobile {
    display: flex;
}
.sticky .header__up--side {
    display: none;
}
.sticky .header__center--side {
    height: 45px;
    padding-top: 0;
    padding-bottom: 0;
}
.sticky .header__center--wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.sticky .header__center--wrapper > ul {
    width: 410px;
}
.logo-mobile {
    width: 97px;
}

/* BAR */

.bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #181818;
    height: 56px;
}
.bar__inner {
    max-width: 580px;
    margin: 0 auto;
    height: 100%;
}
.bar__inner ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bar__inner ul li a {
    display: flex;
    align-items: center;
}
.bar__inner ul li a > span {
    margin-left: 8px;
}
.bar__inner ul li a > span span {
    margin-left: 8px;
}
.bar__inner ul li a > span i {
    font-size: 7px;
    vertical-align: middle;
}
.bar__inner ul li {
    display: flex;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
/* OVERLAY */   

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.mobile-menu {
    position: absolute;
    top: 0;
    left: -208px;
    width: 208px;
    background: #181818;
    z-index: 2;
    padding: 24px 26px 38px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}
.mobile-menu__inner > ul {
    display: flex;
    flex-direction: column;
}
.mobile-menu__inner > ul li:not(:last-child) {
    margin-bottom: 16px;
}
.mobile-menu__inner ul .active-link {
    color: #B7A26F;
    font-weight: 500;
}
.social-menu {
    display: flex !important;
    margin-top: 33px;
}
.cross-mob-menu {
    right: 16px;
}
.cross {
    position: absolute;
    top: 16px;
    cursor: pointer;
}
.mobile-contact {
    position: absolute;
    top: 0;
    right: -136px;
    width: 136px;
    background: #181818;
    z-index: 2;
    padding: 32px 0;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
}
.mobile-contact--inner > ul {
    display: flex;
    flex-direction: column;
}
.mobile-contact--inner > ul p {
    position: relative;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}
.mobile-contact--inner > ul p span {
    position: absolute;
    bottom: 1px;
    right: -10px;
}
.mobile-contact--inner > ul li a > svg {
    margin-bottom: 16px;
}
.mobile-contact--inner > ul li {
    display: flex;
    justify-content: center;
}
.mobile-contact--inner > ul li:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-contact--inner > ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cross-mob-contacts {
    left: 16px;
}
.mobile-contact .fa-chevron-right {
    font-size: 7px;
}

/* MAIN */

.parralax {
    width: 100%;
    background: url('../img/parallax.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parralax .main__content > div {
    background-color: #181818;
}

.main__bg--section {
    background: transparent !important;
}
/* MAIN SLIDER */

.main__slider--section {
    background-color: #EBEBEC;
}
.main__slider--wrapper {
    position: relative;
    height: 360px;
    overflow-x: hidden;
}
.main__slider {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 55px 72px 48px;
}
.main__slider--wrapper img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2500px;
    height: 100%;
    z-index: -1;
}
.main__slider--title {
    width: 100%;
}
.main__slider--title span {
    text-align: center;
    color: #CF1C20;
    font-weight: 900;
}
.main__slider--title span:first-child {
    font-size: 24px;
    line-height: 28px;
}
.main__slider--title span:last-child {
    font-size: 120px;
    line-height: 108px;
}
.main__slider--title span:last-child span {
    font-weight: 700;
    font-size: 100px;
}
.main__slider--inner {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__slider--inner p {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #181818;
    text-align: center;
    margin-bottom: 32px;
}
.main__slider--button {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #181818;
    width: 260px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #181818;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}
.main__slider--button:hover {
    color: #fff;
    background: #181818;
}
.slick-dots {
    bottom: 16px !important;
}
.slick-dots li button {
    width: 16px !important;
    height: 16px !important;
}
.slick-dots li.slick-active button:before {
    background: #000 !important;
    opacity: 1 !important;
}
.slick-dots li button:before {
    content: "" !important;
    width: 16px !important;
    height: 16px !important;
    background: #fff;
    color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 50% !important;
    opacity: 1 !important;
}
.mobile-bg {
    display: none !important;
}
.slick-dotted.slick-slider {
    margin: 0 !important;
}
.button {
    background: #B7A26F;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    cursor: pointer;
    transition: all .3s ease;
    border: none;
}
.hairs_section .button:hover, .nails_section .button:hover {
    background: #fff;
    color: #000;
}
.button:hover {
    background: #B59B5D;
}
/* SKILLS */
.main__skills--section {
    border-bottom: 1px solid #353535;
}
.main__skills--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-right: 16px;
    padding-left: 16px;
}
.skills__item {
    display: flex;
    align-items: center;
}
.skills__item p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px
}
.skill-logo {
    margin-right: 18px;
}

/* HAIRS */
.main__person--section {
    padding-bottom: 56px;
}
.slider--wrapper {
    padding-right: 70px !important;
    padding-left: 70px !important;
    position: relative;
}
.main__section--title {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;  
    text-align: center; 
    display: flex;
    justify-content: center;
    padding: 32px 0 28px;
}
.main__section--title span {
    margin-left: 10px;
    margin-top: 8px;
}   
.main__section--title i {
    vertical-align: middle;
    font-size: 13px;
    line-height: 5px;
}  
.main__person--item {
    max-width: 255px;
    transition: opacity .2s ease;
}
.person-image {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.person-content {
    margin-top: 10px;
    margin-bottom: 16px;
}
.person-content p {
    text-align: center;
}
.person-content p:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;    
}
.person-content p:last-child {
    font-size: 16px;
    line-height: 19px;    
    margin-top: 8px;
}
.person-content p:last-child span {
    font-size: 24px;
}
.main__person--slider .slick-slide {
    margin: 0 10px !important;
}
/* the parent */
.main__person--slider .slick-list {
    margin: 0 -10px !important;
}
.chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.chevron-right {
    right: 10px;
}
.chevron-left {
    left: 10px;
}

/* BACKGROUND */
.main__bg--section {
    position: relative;
    height: 160px;
    overflow: hidden;
}
.main__bg--section img {
    position: absolute;
    width: 2500px;
}

/* BLOCK */
.main__person--block {
    width: 100%;
}
.block-row {
    width: 100%;
    display: flex;
    gap: 16px;
}
.block-row:first-child {
    margin-bottom: 16px;
}
.person--img {
    width: calc(100% / 3);
    border-radius: 16px;
    overflow: hidden;
}
/* TEAM */
.main__team--block {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3%;
}
.team-item {
    max-width: 33.3%;
}
.team-image {
    width: 100%;
    border-radius: 50%;
}
.team-image img {
    border-radius: 50%;
}
.team-content {
    margin-top: 24px;
    margin-bottom: 24px;
}
.team-content p {
    text-align: center;
    font-size: 32px;
    line-height: 38px;  
}
.team-content p:first-child {
    font-weight: 700;  
}
.team-content p:last-child {
    font-weight: 400;   
}

/* BLOG */

.main__blog--block {
    display: flex;
    justify-content: space-between;
}
.blog-item {
    width: 49%;
}
.blog-image {
    border-radius: 24px;
    width: 100%;
    overflow: hidden;
}
.blog-content {
    margin-top: 24px;
    margin-bottom: 24px;
}
.blog-content p {
    text-align: center;
    font-size: 32px;
    line-height: 38px;  
}
.blog-content p:first-child {
    font-weight: 700;  
}
.blog-content p:last-child {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;  
    margin-top: 8px;
}

/* REVIEW */
.review_section {
    padding-bottom: 25px;
}
.main__review--block {
    display: flex;
    justify-content: space-between;
}
.review-block {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-image {
    width: 47%;
    border-radius: 24px;
    overflow: hidden;
}
.review-content {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.review-content i {
    color: #DEDEDE;
}
.review-content i.plus {
    color: #FFB100;
}
.review-content p {
    margin-bottom: 12px;
}
.review-content p:first-child {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.review-content p:nth-child(2) {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.review-button {
    margin: 20px 0 0 0;
}

/* FOLLOW */

.follow_section {
    border-bottom: 1px solid #353535;
}
.follow-block {
    display: flex;
    justify-content: space-between;
    max-width: 676px;
    margin: 0 auto;
}
.follow-input {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #787878;
    width: 57%;
    border-radius: 12px;
    padding-left: 24px;
    height: 64px;
}
.follow-button {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    height: 64px;
    margin: 0;
    width: 40%;
}
/* BRAND */
.brand_section .chevron {
    top: calc(50% + 50px);
}
.brand_section .main__person--item {
    max-width: 218px;
}
.brand_section .slick-slide {
    margin: 0 25px !important;
}

/* FOOTER */

.footer {
    width: 100%;
    background: #353535;
}
.footer__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0 32px;
}
.footer__wrapper--inner {
    max-width: 670px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footer__item--row {
    display: flex;
    justify-content: space-between;
}
.footer--list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__row--item:nth-child(2n + 1) {
    width: 196px;
}
.footer__item--row:nth-child(2) {
    margin: 64px auto 24px;
    width: 100%;
}
.footer-logo {
    width: 124px;
    height: 36px;
}
.footer__row--item:first-child p {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #787878;    
}
.footer__row--item:first-child p:first-child {
    margin-bottom: 4px;
}
.footer__row--item:last-child p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #787878;    
}
.footer__item--row:last-child {
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #787878;
}


/* POPUP */

.popup-main {
    display: none;
    max-width: 560px;
    width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #EBEBEC;
    border-radius: 24px;
    z-index: 2;
    padding-top: 68px;
    padding-bottom: 68px;
    padding-left: 48px;
    background: url('../img/slider-mobile.jpg') no-repeat;
    background-color: #EBEBED;
    background-position: center right;
}
.popup-inner {
    max-width: 233px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__popup--title {
    text-align: center;
}
.main__popup--title span {
    text-align: center;
    color: #CF1C20;
    font-weight: 900;
}
.main__popup--title span:first-child {
    font-size: 16px;
    line-height: 19px;
}
.main__popup--title span:last-child {
    font-size: 80px;
}
.popup-inner p {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
    max-width: 200px;
    text-align: center;
}
.main__popup--title span:last-child span {
    font-weight: 700;
    font-size: 60px;
}
.main__popup--button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #181818;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #181818;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}
.main__popup--button:hover {
    color: #fff;
    background: #181818;
}
.popup-cross {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.overlayed {
    background: rgba(0,0,0, .6);
}

/* COLORING */


.coloring_section .main__section--title {
    padding-bottom: 8px;
}
.main__section--breadcrumbs {
    padding-bottom: 16px;
    border-bottom: 1px solid #353535
}
.main__section--breadcrumbs ul li {
    font-weight: 300;
}
.main__section--breadcrumbs ul li:not(:last-child) {
    color: #787878;
    margin-right: 4px;
}
.person__coloring--block {
    padding-top: 48px;
    display: flex;
}
.coloring-img {
    position: relative;
    width: 40%;
}
.coloring-service {
    width: 60%;
}
.coloring-slider {
    display: flex;
    flex-direction: column;
}
.coloring-service {
    padding: 0 134px;
}
.coloring-img > img {
    border-radius: 24px;
}
.coloring-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;    
}
.coloring-service > p:nth-child(2) {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0 13px;
}
.coloring-content p {
    text-align: center;
}
.coloring-info p:first-child {
    margin: 10px 0 8px;
}
.coloring-info p:nth-child(2) {
    font-weight: 300;
}
.selector {
    margin: 25px 0;
}
.coloring-price {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}
.coloring-price span {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
}
.coloring-button {
    margin-top: 24px;
    margin-bottom: 10px;
    width: 280px;
    height: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.coloring-info p > span:last-child {
    margin-left: 9px;
}
.coloring-info p > span:first-child {
    font-weight: 300;
}
.coloring-info i {
    font-size: 8px;
    vertical-align: middle;
}
.selector {
    display: flex;
    justify-content: center;
    position: relative;
}
.main_select {
    cursor: pointer;
}
.selector-block {
    display: none;
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    background: #fff;
    height: 232px;
    border-radius: 24px;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 0;
    font-weight: 700;
}
.first-sel {
    color: #787878;
    position: relative;
}
.first-sel .mini-chevron {
    right: -20px;
}
.for-select {
    color: #181818; 
    font-weight: 300;
}
.selector-block ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selector-block ul li {
    margin-bottom: 12px;
    cursor: pointer;
}
.selector-block ul li.general {
    color: #181818;
}
.non-active {
    display: none;
}
.selector > span {
    margin-right: 16px;
    font-weight: 300;
}
.coloring-info p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #787878;
}
.coloring-image > img {
    border-radius: 50%;
    margin: 0 auto !important;
}
.coloring-images--wrapper .slick-list, .coloring-images--wrapper .slick-track  {
    height: 200px !important;
}
.coloring-images--wrapper {
    max-width: 318px !important;
    margin: 0 auto;    
}
.mobile-coloring-title {
    display: none;
}
.coloring-images {
    position: relative;
    width: 100%;
}
.coloring-content .slick-slide {
    margin: 0 50px !important;
}
.coloring-images--wrapper .slick-active {
    -moz-transform: scale(1.18);
    -ms-transform: scale(1.18);
    -o-transform: scale(1.18);
    -webkit-transform: scale(1.18);
    opacity: 1;
    transform: scale(1.35); 
    transition: all 300ms ease;
}
.coloring-images--wrapper .slick-active.slick-center {
    z-index: 1 !important;
    position: relative !important;
}
.coloring-image {
    opacity: 0.4;
    transition: all 0.7 ease;
    margin-right: -8px !important;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    
}
.main_select {
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 4px;
    width: 188px;
    height: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
}
.mini-chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
.works_section .chevron {
    top: calc(50% + 53px);
}

.text-block p:first-child {
    margin-bottom: 24px;
}
.text-block p {
    font-weight: 300;
}

.brand--coloring .slick-list {
    padding: 0 !important;
}
.brand--coloring .main__person--item {
    max-width: unset;
}
.brand--coloring .chevron {
    top: calc(50% + 53px);
}


/* BRANDS PAGE */
.main__person--row {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.person__inner--row {
    display: flex;
    gap: 24px;
}
.person__inner--row img {
    border-radius: 24px;
}
.person__inner--row p {
    text-align: center;
    margin: 4px 0 16px;
}
.main__person--box {
    width: 50%;
}

.main__brand--box {
    margin: 48px 0;
    border-radius: 32px;
    background: url('../img/brand-bg.jpg');
    width: 100%;
    height: 240px;
}
.brand-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 20px;
}
.brands-dif_section i {
    font-size: 9px;
    vertical-align: middle;
}
.brands-dif_section .person__content--item span {
    margin-left: 5px;
}
.brands-dif_section .main__person--row {
    padding-top: 0;
}


/* ACTION */

.main__section--action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main__section--action {
    padding: 28px 0;
}
.main__section--action:not(:last-child) {
    border-bottom: 1px solid #353535;
}
.main__section--action:nth-child(1) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action1.jpg') no-repeat;
}
.main__section--action:nth-child(2) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action2.jpg') no-repeat;    
}
.main__section--action:nth-child(3) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action3.jpg') no-repeat;    
}
.main__section--action:nth-child(4) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action4.jpg') no-repeat;    
}
.main__section--action:nth-child(5) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action5.jpg') no-repeat;    
}
.main__section--action:nth-child(6) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action6.jpg') no-repeat;    
}
.main__section--action:nth-child(7) .action-bg {
    background-position: center;
    background-size: contain;
    background: url('../img/action7.jpg') no-repeat;    
}
.action-bg {
    height: 560px;
}
.action-com {
    margin-top: 12px;
}
.main__section--action p:nth-child(2) {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 8px 0 20px;
}
.main__section--action p:nth-child(3) {
    margin: 12px 0 24px;
}
.main__section--action p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
.action-button {
    width: 280px;
    height: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


/* ABOUT */

.main__about--inner {
    display: flex;
    padding: 40px 0 56px;
    gap: 24px;
}
.about-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
}
.about-content {
    font-weight: 300;
    max-width: 550px;
    width: 50%;
}
.about-image {
    width: 576px;
}
.about-image img {
    border-radius: 24px;
}

/* ARTICLE */

.article-image {
    height: 580px;
    background: url('../img/article.jpg');
    border-radius: 24px;
    margin-bottom: 24px;
}
.article-box p {
    font-weight: 300;
    margin-bottom: 20px;
}
.article-title {
    font-weight: bold !important;
    font-size: 32px;
    line-height: 38px;
}
.article-img {
    width: 45%;
    background-color: #787878;
    border-radius: 24px;
    margin-bottom: 24px;
}
.newans {
    display: flex;
    gap: 16px;
}
.newans .article-content {
    width: 55%;
}

.article_section li {
    display: inline;
}
.article_section li a:not(:last-child) {
    color: #787878;
}

/* REVIEW PAGE */

.main__review--section {
    padding-top: 38px;
}
.main__review--wrapper {
    display: flex;
}
.review-img {
    width: 42%;
}
.review-img img {
    border-radius: 24px;
}
.review-text {
    padding-top: 45px;
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-text__wrapper {
    max-width: 424px;
}
.review-text__wrapper p {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
}
.review-text__wrapper p:first-child {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;    
}
.review-nav {
    border-top: 1px solid #353535;
    margin-top: 24px;
    padding-top: 36px;
    width: 100%;
    max-width: 424px;
}
.review-nav ul {
    max-width: 236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 58px;
    position: relative;
}
.review-nav ul li {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #787878;
}
.review-nav ul li.active-nav {
    font-weight: 500;
    color: #fff;
}
.review-nav span {
    position: absolute;
    top: 5px;
    cursor: pointer;
}
.review-nav span:first-child {
    left: 0;
}
.review-nav span:last-child {
    right: 0;
}
.review-nav span i {
    font-size: 10px;
}
.review-text .plus {
    color: #FFB100;
}

/* MASTERS */

.main__masters--section {
    padding-top: 38px; 
}
.main__masters--section:not(:last-child) {
    padding-bottom: 38px;  
    border-bottom: 1px solid #353535; 
}
.main__masters--wrapper {
    display: flex;
}
.masters-img {
    width: 42%;
    display: flex;
    align-items: center;
}
.masters-img img {
    border-radius: 24px;
}
.masters-text {
    width: 68%;
    display: flex;
}
.masters-text__wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 40px;
}
.masters-text p {
    margin-bottom: 24px;
    text-align: center;
}
.masters-text__wrapper p.master-prof {
    color: #B7A26F;
    margin-bottom: 8px;
}
.masters-text__wrapper p.master-name {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
}
.master-name i {
    font-size: 10px;
    vertical-align: middle;
}
.master-name span {
    margin-left: 8px;
}
.bold {
    font-weight: bold;
}
.button-master {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    width: 280px;
    height: 80px;
}
.master-slider--wrapper {
    position: relative;
    padding: 57px 0;
}
.master-slider {
    width: 120px;
}
.master-image--slide img {
    border-radius: 24px;
}

.master-slider--inner .slick-slide {
  margin: 8px 0 !important;
}
/* the parent */
.master-slider--inner .slick-list {
  margin: -8px 0 !important;
}
.master-chevron {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.chevron-top {
    top: 0;
}
.chevron-bottom {
    bottom: 0;
    top: unset;
}


/* CONTACTS */

.main__contacts--section {
    padding-top: 34px;
}
.contacts--wrapper {
    display: flex;
}
.contacts-content {
    padding-top: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.contacts-map {
    width: 50%;
    max-width: 576px;
    overflow: hidden;
    border-radius: 24px;
    background: #575151;
}
.contacts-map iframe {
    min-height: 350px;
}
.contact-logo {
    max-width: 35px;
    margin-right: 26px;
}
.contacts-item {
    display: flex;
}
.contacts-item:not(:last-child) {
    margin-bottom: 48px;
}
.contacts-item p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

/* VACANCY */

.vacancy_section {
    padding-bottom: 16px;
}
.vacancy_section-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 240px;
    overflow: hidden;
}
.vacancy_section-bg p:not(:last-child) {
    margin-bottom: 12px;
}
.vacancy_section-bg p:nth-child(2) {
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #B7A26F;
}
.vacancy_section-bg p:nth-child(3) {
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
}
.vacancy_section-bg p {
    color: #181818;
    text-align: center;
}
.vacancy_section-bg img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2500px;
    height: 100%;
}
.vacancy--input_row {
    display: flex;
    gap: 16px;
}
.button-vacancy {
    width: 318px;
    height: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.vacancy-input {
    max-width: 270px;
    height: 64px;;
}
.vacancy-input input {
    width: 100%;    
    height: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #787878;
    padding-left: 24px;
}
.main__vacancy--section > p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #787878;
    text-align: center;
    margin-top: 32px;
}
.main__condition--section, .main__pluses--section {
    padding-bottom: 56px;
    border-bottom: 1px solid #353535;
}
.condition--inner {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
.condition-item {
    max-width: 160px;
}
.condition-item p {
    text-align: center;
}
.condition-text {
    margin-top: 12px;
}



.pluses--inner {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
.pluses-column {
    display: flex;
    flex-direction: column;
}
.plus-item {
    display: flex;
}
.plus-item:not(:last-child) {
    margin-bottom: 32px;
}
.plus-icon {
    margin-right: 24px;
}
.plus-text {
    max-width: 320px;
}

.blog_section .main__person--box p:first-child {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.blog_section .review-nav {
    max-width: unset;
}

/* PRICE */

.price_section {
    padding-bottom: 0;
}
.price_section:last-child {
    padding-bottom: 36px;
}
.price-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.price-row:not(:last-child) {
    border-bottom: 1px solid #353535;
}
.price-row > div {
    width: 30%;
    display: flex;
    align-items: center;
}
.price-row > div:nth-child(2) {
    width: 50%;
    font-size: 24px;
}
.price-button {
    margin: 0;
    width: 160px !important;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #181818;
    
}
.price-com {
    text-align: center;
    font-weight: 300;
    margin: 24px 0 36px;
}