@media only screen and (max-height: 1200px) and (min-height: 700px) {
    .main-bg {
        height: 100vh;
    }
}

@media only screen and (max-width: 900px) {
    .main-bg {
        height: auto;
        padding: 200px 0;
        background-size: 100%;
    }
    .container-text {
        padding-left: 50px;
    }
    .inner__container--item {
        margin-bottom: 50px;
    }
    .smoke-wrapper {
        width: 48%;
        margin-bottom: 24px;
    }
    .smoke-row {
        flex-wrap: wrap;
    }
    .last-block {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .second-block {
        height: 350px;
    }
    .container-text {
        margin-bottom: 0;
    }
    .main-bg h1 {
        font-size: 100px;
    }
    .container-bg {
        height: unset;
        bottom: 0;
        top: unset;
        display: flex;
    }
    .container-bg > img {
        height: unset;
    }
}

@media only screen and (max-width: 550px) {
    .second-block {
        height: auto;
    }
    .container-text {
        margin: 50px 0;
        padding: 0 30px;
    }
    .container-text h2 {
        font-size: 30px;
    }
    .container-text h2 br {
        display: none;
    }
    .smoke-block {
        padding: 30px;
    }
    .last-block {
        background-position: 56% 50%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .inner-text h3 {
        font-size: 30px;
    }
}