@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 400;
    src: local('Artico'), url('../fonts/cretype-Artico.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 400;
    src: local('Artico'), url('../fonts/cretype-Artico-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 100;
    src: local('Artico'), url('../fonts/cretype-Artico-Thin.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 100;
    src: local('Artico'), url('../fonts/cretype-Artico-Thin-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 200;
    src: local('Artico'), url('../fonts/cretype-Artico-ExtraLight.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 200;
    src: local('Artico'), url('../fonts/cretype-Artico-ExtraLight-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 300;
    src: local('Artico'), url('../fonts/cretype-Artico-Light.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 300;
    src: local('Artico'), url('../fonts/cretype-Artico-Light-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 500;
    src: local('Artico'), url('../fonts/cretype-Artico-Medium.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 500;
    src: local('Artico'), url('../fonts/cretype-Artico-Medium-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 600;
    src: local('Artico'), url('../fonts/cretype-Artico-Bold.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 600;
    src: local('Artico'), url('../fonts/cretype-Artico-Bold-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 700;
    src: local('Artico'), url('../fonts/cretype-Artico-ExtraBold.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style:- talic;
    font-weight: 700;
    src: local('Artico'), url('../fonts/cretype-Artico-ExtraBold-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 800;
    src: local('Artico'), url('../fonts/cretype-Artico-Heavy.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: Italic;
    font-weight: 800;
    src: local('Artico'), url('../fonts/cretype-Artico-Heavy-Italic.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: normal;
    font-weight: 900;
    src: local('Artico'), url('../fonts/cretype-Artico-Black.otf') format('otf');
}
@font-face {
    font-family: 'Artico';
    font-style: Italic;
    font-weight: 900;
    src: local('Artico'), url('../fonts/cretype-Artico-Black-Italic.otf') format('otf');
}