@import "fonts";

body {
    padding: 0;
    margin: 0;
    background: #fff;

    &.artico {
        * {
            font-family: "Artico";
        }
    }
}

label {
    display: block;
    span {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }

    & + label {
        margin-top: 15px;
    }

    input {
        display: block;
        width: 100%;
        height: 42px;
        border: 1px solid #a4abb4;
        padding: 0 10px;
        transition: all ease 0.3s;

        &.error {
            border: 1px solid #b53b3b;
        }
    }

    textarea {
        display: block;
        width: 100%;
        height: 100px;
        padding: 10px;
        resize: none;
        border: 1px solid #a4abb4;
    }
}

.main {
    > *:first-child {
        padding-top: 160px;
    }

    &.main_future {
        & + .footer {
            margin-top: 0;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #353535;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

h2 {
    margin: 35px 0;
    font-family: "Artico";
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #b53b3b;
}

h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #b53b3b;
}

// HEADER
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
}

.header {
    transition: all ease 0.3s;
}

.header__top {
    position: relative;
    padding: 13px 0 14px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(11, 11, 11, 0.15);
    z-index: 1;
}

.header__content {
    display: flex;
    align-items: center;
}

.header_single {
    & + .main {
        > *:first-child {
            padding-top: 110px;

            h2 {
                margin-top: 0;
            }
        }
    }

    & + .partners {
        padding-top: 50px;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-left: 16px;
    border-left: 1px solid #ededed;

    a {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        transition: all ease 0.3s;

        &.active,
        &:hover {
            color: #b53b3b;
        }

        & + a {
            margin-left: 25px;
        }
    }
}

.header__lang {
    display: flex;
    margin-left: auto;

    a {
        display: block;
        width: 42px;
        height: 42px;
        position: relative;

        img{
            display: block;
            width: 100%;
        }

        & + a {
            margin-left: 15px;
        }


        &:hover{
            &::before{
                content: attr(data-language);
                display: block;
                padding: 5px 10px;
                position: absolute;
                left: 50%;
                bottom: -3px;
                font-size: 12px;
                color: #fff;
                white-space: nowrap;
                background: rgba(0,0,0,.3);
                border-radius: 5px;
                transform: translate(-50%,100%);
            }
        }
    }
}

.second-nav {
    display: flex;
    align-items: center;

    a {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        transition: all ease 0.3s;

        &.active,
        &:hover {
            color: #b53b3b;
        }

        & + a {
            margin-left: 25px;
        }
    }
}

.header__burger {
    display: none;
    cursor: pointer;
    margin-left: 30px;
}

.header__bottom {
    padding: 13px 0 14px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(11, 11, 11, 0.15);
}

// BANNER
.banner {
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    background: url(../img/2021-aero/main-banner.jpg) center 42% no-repeat;
    background-size: cover;

    .swiper-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
    }
}

.banner_klassik {
    background: none;
}

.banner__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.banner__left {
    h1 {
        display: inline-block;
        font-size: 42px;
        font-weight: 900;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        span {
            color: #b53b3b;
        }
    }

    > * {
        padding: 20px;
        background: linear-gradient(107.47deg, rgba(255, 255, 255, 0.3) -11.49%, rgba(255, 255, 255, 0) 105.84%),
            rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);

        & + * {
            margin-top: 20px;
        }
    }
}

.logo {
    img {
        &:nth-child(2) {
            display: none;
        }
    }
}

.equipment-second-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.banner__undertitle {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #353535;
    padding: 20px;
    background: linear-gradient(107.47deg, rgba(255, 255, 255, 0.3) -11.49%, rgba(255, 255, 255, 0) 105.84%),
        rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.banner__right {
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px 15px;
        background: linear-gradient(107.47deg, rgba(255, 255, 255, 0.3) -11.49%, rgba(255, 255, 255, 0) 105.84%),
            rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);

        & + li {
            margin-top: 30px;
        }

        img {
            display: block;
        }

        h5 {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #626262;
        }
        p {
            margin-top: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #353535;
        }
    }
}

.banner_future {
    padding-top: 120px;
    background-position: center center;
}

// ADVANTAGES
.advantages {
    & + * {
        margin-top: -30px;
    }
}

.advantages__list {
    > * {
        margin-bottom: 30px;
    }
}

.advantages__item {
    height: 100%;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);

    img {
        display: block;
        width: 100%;
    }

    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 170%;
        color: #353535;
    }
}

// DESIGN
.design__list {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & + li {
            margin-top: 50px;
        }

        span {
            display: block;

            img {
                display: block;
                width: 100%;
            }

            & + * {
                margin-left: 50px;
            }
        }

        p {
            display: block;
            max-width: 370px;
            min-width: 370px;
            padding: 20px;
            font-weight: 300;
            font-size: 18px;
            line-height: 170%;
            color: #353535;
            background: #ffffff;
            box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);

            & + * {
                margin-left: 50px;
            }
        }
    }
}

// farbspektrum
.farbspektrum {
    padding: 30px 0;
    img {
        display: block;
        width: 100%;
    }
}

// DIMENSION
.dimensions__banner {
    padding-top: 50px;
    height: 100vh;
    background-size: cover !important;

    ul {
        display: inline-block;
        padding: 20px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
            linear-gradient(107.47deg, rgba(255, 255, 255, 0.3) -11.49%, rgba(255, 255, 255, 0) 105.84%);
        backdrop-filter: blur(30px);

        &.banner-back-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 620px;
            padding-bottom: 0;
            margin-left: auto;

            li {
                display: inline-block;
                margin-bottom: 20px;

                &:nth-child(2n) {
                    width: 220px;
                }
            }
        }

        li {
            display: flex;
            justify-content: flex-start;
            font-size: 18px;
            line-height: 180%;

            span {
                display: block;
                margin-right: 5px;
                color: #b53b3b;
            }
        }
    }
}

// GALLERY
.gallery__item {
    display: block;
    height: 284px;
    margin-bottom: 30px;
    background-position: center center;
    background-size: cover;
}

// FEATURES
.features {
    & + * {
        margin-top: -30px;
    }
}

.features__list {
    > * {
        margin-bottom: 30px;
    }
}

.features__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 20px 20px 30px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);

    > span {
        display: block;

        img {
            display: block;
            width: 100%;
        }

        & + * {
            margin-left: 30px;
        }
    }

    p {
        max-width: 400px;
        min-width: 400px;
        font-weight: 300;
        font-size: 20px;
        line-height: 170%;

        & + * {
            margin-left: 30px;
        }
    }
}

// EQUIPMENT
.equipment {
    ul {
        li {
            display: block;
            padding: 20px;
            font-size: 24px;
            line-height: 46px;
            letter-spacing: 0.05em;

            &:nth-child(2n + 1) {
                background: #ebebeb;
            }
        }
    }
}

.equipment_moto {
    padding-top: 20px;
    ul {
        li {
            font-size: 18px;
        }
    }

    h3 {
        margin: 20px 0;
        text-align: center;
    }
}

// OPTIONS
.options {
    padding-bottom: 50px;
    margin-top: 50px;
    background: linear-gradient(180deg, #a9b0b8 0%, #c7ced6 54.69%, #a4abb4 100%);

    h2 {
        color: #fff;
    }
}

.options__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 15px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);

    p {
        margin-top: 20px;
        font-size: 24px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.05em;
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.options__list {
    > * {
        margin-bottom: 30px;
    }
}

// SPECIFICATIONS
.specifications {
    table {
        max-width: 100%;
        margin-top: -2px;
        border-collapse: collapse;
        width: 100%;
        border: 2px solid transparent;

        tbody {
            tr {
                &:nth-child(2n + 2) {
                    background: #ebebeb;
                }
            }
        }

        th {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ffffff;
            background: #b53b3b;
        }

        td {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
        }

        th,
        td {
            padding: 20px;
            text-align: left;
            border-right: 1px solid #fff;

            &:nth-child(1) {
                width: 860px;
                min-width: 860px;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 320px;

                text-align: center;
            }
        }

        &.reverse {
            tbody {
                tr {
                    &:nth-child(2n + 1) {
                        background: #ebebeb;
                    }
                    &:nth-child(2n + 2) {
                        background: transparent;
                    }
                }
            }
        }
    }
}

// CARD
.about-us {
    min-height: calc(100vh - 99px);
}

.card {
    padding: 20px 20px 20px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);

    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 170%;
    color: #353535;

    & + .card {
        margin-top: 20px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.about-us__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
        display: block;
        width: 100%;
    }
}

// FOOTER
.footer {
    padding: 15px 0;
    margin-top: 50px;
    text-align: center;
    background: #b53b3b;

    p {
        color: #fff;
    }
}

// PARTNERS
.partners_page {
    padding-top: 73px;
}

.partners {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(100vh - 122px);
    position: relative;
    line-height: 0.9;
    overflow: hidden;
    overflow: hidden;

    iframe {
        width: calc(100% + 10px);
        height: calc(100% + 100px);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-bottom: -2px;
        transform: translate(-50%, -50%);
    }
    & + .footer {
        margin-top: 0;
    }

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

.partners__info {
    display: inline-block;
    max-width: 100%;
    position: relative;
    padding: 20px 30px 20px 20px;
    margin-left: auto;

    background: #ffffff;
    -webkit-box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);
    z-index: 2;
    li {
        display: flex;

        & + li {
            margin-top: 20px;
        }

        h6 {
            font-weight: bold;
            font-size: 18px;
            line-height: 135%;
            color: #b53b3b;
            cursor: pointer;
        }

        svg {
            margin-right: 9px;
        }

        > span {
            font-weight: 300;
            font-size: 18px;
            line-height: 135%;
            color: #353535;
        }
    }
}

// MOTO
.moto-colors__block {
    display: flex;
    align-items: flex-end;
    padding: 50px 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center bottom;
}

.moto-colors__list {
    display: inline-flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.8);

    li {
        display: block;

        & + li {
            margin-left: 20px;
        }

        > span {
            display: block;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border: 2px solid #a9b0b8;
        }

        &.active {
            span {
                border: 2px solid #b53b3b;
            }

            &::before {
                content: attr(data-color-name);
                display: block;
                padding: 10px 20px;
                position: absolute;
                left: 50%;
                top: -20px;
                font-size: 24px;
                font-weight: 600;
                color: #b53b3b;
                white-space: nowrap;
                text-transform: uppercase;
                text-align: center;
                background: rgba(255, 255, 255, 0.8);
                transform: translate(-50%, -100%);
            }
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    &::after {
        color: #fff;
    }
}

// CONTACT
.contact {
    position: relative;
    min-height: 100vh;
    padding-bottom: 30px;
    margin-bottom: -50px;

    .partners__info {
        width: 100%;
        margin-top: 30px;

        li {
            h6 {
                font-size: 20px;
            }
            span {
                font-size: 20px;
                line-height: 150%;
            }
        }
    }
    .container{
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        display: block;
        width: 64.8%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        background: url(../img/contact.jpg) left center no-repeat;
        background-size: cover;
        z-index: 0;
    }
}

.contact__image {
    height: 100%;
    width: 100%;
    background-size: cover !important;
}

.contact__form {
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.2);

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        padding: 15px;
        background: #b53b3b;
        border: 0;
        cursor: pointer;
        margin-top: 20px;
    }
}

/*-----POPUP-----*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 25px 10px;
}

.popup-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 588px;
    background: #fff;
    padding: 40px 50px 35px;
    border-radius: 10px;
    position: relative;
}

.popup_close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.popup_close svg {
    stroke: #d4dce2;
    transition: all ease 0.3s;
}

.popup_close:hover svg {
    stroke: #31bcfe;
}

.popup-img {
    display: flex;
    justify-content: center;
}
.popup-img img {
    display: block;
    max-width: 100%;
    margin-bottom: 40px;
}

.popup-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 13px;
    color: #b53b3b;
    text-align: center;
}

.popup-undertitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 250%;
    color: #848d96;
    text-align: center;
}

.popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.popup .button.popup-button {
    padding: 21px 60px;
    min-width: 235px;
    margin-top: 40px;
    margin-bottom: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
}

.popup__explanation {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #d9486d;
    text-align: center;
    margin-top: 20px;
}

#featurecardPanel {
    padding-top: 73px !important;
}

// MEDIA
@import "media";
