/*  */
.collage-bg {
    background-color: #fff;
}
.collage__screen {
    height: 923px;
    background: url('../images/collage/hero-img.webp') no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 200px 0 80px;
    margin-bottom: -130px;
    position: relative;
}
@media not all and (min-resolution: 0.001dpcm) {
    @supports(-webkit-appearance:none) {
        .collage__screen {
            background: url('../images/collage/hero-img.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}
.collage__inner * {
    position: relative;
    z-index: 1;
}
.collage-title {
    max-width: 700px;
}
.collage__inner--list {
    margin: 25px 0 56px;
}
.collage__list--item {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
.collage__list--item:not(:last-child) {
    margin-bottom: 18px;
}
.collage__list--item svg {
    margin-right: 20px;
}
.collage__list--item strong {
    color: #F7794B;
}
.collage-m-bg {
    display: none;
    height: 450px;
}
.el-mobile {
    display: none;
}
.absolute-elements > * {
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    z-index: 0;
}
.absolute-elements > * span {
    color: #F7794B;
}
.collage-express {
    top: 80px;
    right: 36%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    height: fit-content;
}
.collage-express::after {
    content: "";
    bottom: -75px;
    left: -25%;
    width: 145px;
    height: 75px;
    position: absolute;
    background: url(../images/collage/vector1.svg) no-repeat;
    z-index: 1;
}
.collage-gift {
    bottom: 15%;
    right: 54%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    height: fit-content;
}
.collage-gift img {
    margin-right: auto;
}
.collage-gift::after {
    content: "";
    bottom: 10px;
    right: 100%;
    width: 195px;
    height: 80px;
    position: absolute;
    background: url(../images/collage/vector2.svg) no-repeat;
    z-index: 1;
}
.collage-shape {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 0;
}
.collage-shape svg {
    max-width: 30vw;
    height: auto;
}
/*  */

.collage-why__screen {
    background-color: #fff;
    background-image: url(../images/collage/shape.svg), url(../images/collage/shape.svg), url(../images/collage/shape.svg), url(../images/collage/shape.svg);
    background-position: 0 0, 100% 30%, 0 60%, 0 120%;
    background-repeat: no-repeat;
    padding-bottom: 125px;
}
.page-collage-title span {
    color: #F7794B;
}
.col-subtitle {
    margin: 15px 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FA7846;
}
.col-subtitle-m {
    font-family: Trajan;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;

}
.col-subtitle-m span {
    color: #FA7846;
}
.collage-why--content .services-item__title {
    color: #FA7846;
}
.collage-why--content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2%;
}
.collage-why--content > a {
    margin-top: 60px;
    margin-right: 2%;
}
.collage-why--content > a .services-photo img {
    -webkit-box-shadow: 5px 5px 11px 0px #DBDBDD; 
    box-shadow: 5px 5px 11px 0px #DBDBDD;
}
.col-service-item {
    flex: 0 0 23%;
}
.col-service-item-b {
    flex: 0 0 48%;
}
.collage-why--content p {
    color: #1E2533;
    font-size: 20px;
}


/*  */

.collage_pop-advant {
    background: url(../images/collage/hero-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0 150px;
}
.collage-advantage--slider {
    position: relative;
    margin: 0 70px;
}
.collage-slider--item__body {
    padding: 47px 11px 21px;
    position: relative;
    background: #FFFFFF;
    border: 0.5px solid #FA7846;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 340px;
    height: 100%;
    max-height: 350px;
}
.collage-slider--item__body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -16px;
    top: -16px;
    background: rgba(255, 255, 255, 0.26);
    border: 0.5px solid #FA7846;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: -1;
}
.collage-advantage--slider {
    margin-top: 40px;
}
.collage-advantage--slider_inner {
    margin: 0 -0.5%;
}
.collage-slider--item {
    margin: 0 0.5%;
    padding: 16px 16px 0 0;
}
.collage-advantage-nav.examples-arrow {
    top: 43%;
    transform: translateY(-50%);
}
.collage-advantage_s--content {
    text-align: center;    
}
.collage-advantage_s--title {
    font-family: Trajan;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FA7846;
    margin: 26px 0 19px;
}
.collage-advantage_s--text {
    font-size: 16px;
    line-height: 19px;
}
.collage-advantage_s--text li {
    position: relative;
}

.collage-advantage_s--img {
    display: flex;
    justify-content: center;
}

.collage-advantage__image {
    display: flex;
    justify-content: center;
    margin-top: 93px;
    position: relative;
}
.advantage-gift {
    position: absolute;
    top: 0;
    left: -0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}
.advantage-gift::after {
    content: "";
    position: absolute;
    top: 90%;
    left: -10px;
    width: 200px;
    height: 110px;
    background: url(../images/collage/vector3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.advantage-gift p {
    max-width: 205px;
}
.advantage-gift img {
    max-width: 245px;
}
.advantage-gift span {
    color: #F7794B;
}

/*  */

