
@media (max-width: 1500px) {
    .collage-slider--item__body {
        min-height: 400px;
    }
}
@media (max-width: 1200px) {
    .collage-gift {
        right: 24%;
    }
    .collage-express {
        right: 10%;
    }
    .col-subtitle {
        font-size: 26px;
        line-height: 34px;
    }
    .col-subtitle-m {
        font-size: 18px;
        line-height: 25px;
    
    }
    /*  */
    .collage-why--content {
        justify-content: space-around;
    }
    .col-service-item {
        flex: 0 0 48%;
        max-width: fit-content;
    }
    .col-service-item-b {
        flex: 0 0 100%;
        max-width: fit-content;
    }
    .collage-why--content a:not(:nth-last-child(2)) {
        order: -1;
    }
    /*  */
    .collage-slider--item__body {
        min-height: 350px;
    }
    /*  */

    .collage-f-order--item--wrap {
        flex: 0 0 48%;
    }
    .collage-f-order--item--wrap:nth-child(2)::before {
        display: none;
    }
    .f-order-head {
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .collage__screen {
        background: #F9F0EC;
    }
    .col-main-el {
        margin-top: 40px;
    }
    /*  */
    .collage-advantage-nav .collage-advantage-prev {
        left: -60px;
    }
    .collage-advantage-nav .collage-advantage-next {
        right: -60px;
    }
    .collage-advantage__image {
        width: 100%;

    }
    .advantage-gift img {
        max-width: 145px;
        margin-left: -100%;
        margin-bottom: -100%;
    }
    .advantage-gift p {
        max-width: 105px;
        font-size: 14px;
    }
    .advantage-gift {
        top: -110px;
        left: 385.1px;
    }
    .advantage-gift::after {
        top: 90%;
        left: -50px;
        width: 135px;
        height: 110px;
        background: url(../images/collage/vector3M.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .collage-advantage__image {
        margin-top: 150px;
    }
}

@media (max-width: 700px) {
    .collage__list--item {
        justify-content: center;
    }
    .collage__screen {
        height: 660px;
        padding-top: 150px;
    }
    .collage__list--item {
        font-size: 18px;
        text-align: center;
    }
    .collage__list--item svg {
        width: 24px;
        height: auto;
        margin-right: 8px;
    }
    .collage__list--item:not(:last-child) {
        margin-bottom: 15px;
    }
    .absolute-elements > * {
        font-size: 11px;
        line-height: 13px;
    }
    .collage-express {
        top: 55px;
        right: 36%;
        max-width: 115px;
    }
    .collage-express::after {
        content: "";
        bottom: -50px;
        left: 57%;
        width: 80px;
        height: 52px;
        position: absolute;
        background: url(../images/collage/vector1M.svg) no-repeat;
    }
    .collage-express img {
        width: 38px;
        height: auto;
        margin-bottom: 4px;
    }
    .collage-gift {
        top: 40%;
        left: 4%;
        max-width: 120px;
        display: none;
    }
    .collage-gift img {
        width: 50px;
        height: auto;
        margin-right: auto;
    }
    .collage-gift::after {
        content: "";
        bottom: 10px;
        left: -100%;
        width: 195px;
        height: 80px;
        position: absolute;
        background: url(../images/collage/vector2M.svg) no-repeat;
    }
    /*  */
    .col-subtitle {
        font-size: 18px;
        line-height: 25px;
        margin: 10px 0;
    }
    .col-subtitle-m {
        font-size: 16px;
        line-height: 20px;
    
    }
    .collage-why--content > a {
        margin-top: 40px;
    }
    .collage-why--content p {
        color: #1E2533;
        font-size: 11px;
    }
    .collage-why--content .service-info {
        margin-top: 16px;
    }
    .collage-why--content .services-photo img {
        height: 272px;
    }
    .collage-why--content .services-item__title {
        min-height: unset;
    }
    /*  */

    .collage-advantage_s--title {
        font-size: 16px;
        line-height: 19px;
        margin: 20px 0 12px;
    }
    .collage-advantage--slider_inner .collage-slider--item:last-child .collage-advantage_s--title {
        word-wrap: break-word;
    }
    .collage-advantage_s--text {
        font-size: 11px;
        line-height: 16px;
    }
    .collage-slider--item__body {
        min-height: 280px;
    }
    .collage-slider--item__body img {
        width: 50px;
        height: 50px;
    }
    .collage-advantage--slider {
        margin: 40px 0 0;
    }
    .collage-slider--item__body {
        padding: 20px 10px;
    }
    .collage-advantage-nav .collage-advantage-prev {
        left: -15px;
    }
    .collage-advantage-nav .collage-advantage-next {
        right: -15px;
    }
    .collage-slider--item__body::after {
        right: -9px;
        top: -9px;
    }
    .collage-slider--item {
        padding: 9px 9px 0 0;
    }
    /*  */
    .advantage-gift {
        left: 50%;
    }
    .advantage-gift img {
        width: 60px;
        height: auto;
        margin-left: -59%;
        margin-bottom: -49%;
    }
    .advantage-gift p {
        max-width: 110px;
        font-size: 11px;
    }
    .collage-advantage__image {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    /*  */
    .collage-popular__screen {
        margin-top: 71px;
    }    
    /*  */

    .collage-f-order--items {
        justify-content: center;
    }
    .collage-f-order--item--wrap {
        flex: 0 0 100%;
    }
    .collage-f-order--item--wrap::before {
        transform: translateX(50%);
    }
    .collage-f-order--item--wrap:nth-child(1)::before {
        width: 140px;
        height: 100px;
        background: url(../images/collage/vfo1M.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 93%;
        right: 50%;
    }
    .collage-f-order--item--wrap:nth-child(2)::before {
        width: 100px;
        height: 140px;
        background: url(../images/collage/vfo2M.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 90%;
        right: 50%;
        display: block;`
    }
    .collage-f-order--item--wrap:nth-child(3)::before {
        width: 80px;
        height: 120px;
        background: url(../images/collage/vfo3M.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 92%;
        right: 50%;
    }
}

@media (max-width: 520px) {
    .collage__screen {
        height: unset;
        padding: 0 0 50px;
        margin: 0;
        background: #fff;
    }
    .collage__list--item {
        font-size: 15px;
    }
    .collage__inner {
        background: #fff;
    }
    .el-mobile {
        display: block;
        margin: 0;
    }
    .el-desk {
        display: none;
    }
    .collage-m-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collage-m-bg {
        display: block;
    }
    .collage__inner .section-frame {
        padding: 0 10px !important;
    }
    .collage__inner--list {
        margin-bottom: 0;
    }
    .collage-btn {
        margin-top: 35px;
    }
    .collage-gift {
        display: flex;
    }
    .collage-express {
        top: 83px;
        left: 5%;
    }
    .collage-gift::after {
        content: "";
        bottom: -21px;
        left: 89%;
        width: 76px;
        height: 97px;
    }
    /*  */
    .collage-why--content .services-photo img {
        height: 226px;
    }
    .collage-why__screen {
        padding-bottom: 55px;
    }
    /*  */
    .collage-f-order__screen {
        padding: 75px 0 80px;
        margin-top: -34px;
    }
    .collage-f-order--item {
        padding: 33px 12px;
    }
    .collage-f-order--item {
        min-height: 455px;
    }
    .collage-f-order--item--wrap:nth-child(2)::before {
        right: 25%;
    }
    .f-order-num {
        font-size: 48px;
        line-height: 58px;
    }
    .f-order-text p {
        font-size: 15px !important;
    }
    .f-order-abt-text {
        font-size: 16px;
        line-height: 26px;
        margin-left: 10px;
    }
    .collage-f-order--item--wrap:nth-child(1)::before {
        height: 90px;
    }
    .collage-f-order--item--wrap:nth-child(2)::before {
        height: 110px;
    }
    .collage-f-order--item--wrap:nth-child(3)::before {
        height: 110px;
    }
    .collage-f-order--item--wrap::after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
    }
    .collage-f-order--item--wrap {
        max-width: 308px;
    }
}
@media (max-width: 425px) {
    .collage-gift {
        top: 37%;
    }
    .collage-gift::after {
        bottom: 22px;
        left: 48%;
        height: 60px;
    }
    .collage-express::after {
        bottom: -58px;
        left: 28%;
    }
}
@media (max-width: 360px) {
    .collage-gift {
        top: 34%;
    }
}