.collage__screen {
    height: 923px;
    background: url('../images/collage/hero-img.webp') no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 200px 0 80px;
    margin-bottom: -130px;
}
@media not all and (min-resolution: 0.001dpcm) {
    @supports(-webkit-appearance:none) {
        .collage__screen {
            background: url('../images/collage/hero-img.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}
.collage-title {
    max-width: 700px;
}
.collage__inner--list {
    margin: 25px 0 56px;
}
.collage__list--item {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
.collage__list--item:not(:last-child) {
    margin-bottom: 18px;
}
.collage__list--item svg {
    margin-right: 20px;
}
.collage__list--item strong {
    color: #F7794B;
}
.collage-m-bg {
    display: none;
    height: 450px;
}
.el-mobile {
    display: none;
}