@media (max-width: 1500px) {
  .timer {
    grid-column-gap: 15px;
    grid-template-columns: repeat(4, 80px);
  }
  .cp-v_img {
    flex: 0 0 43%;
  }
  .cp-v_content {
    flex: 1;
  }
}

@media (max-width: 1440px) {
  .gallery-main__title {
    font-size: 40px;
    line-height: 50px;
  }
  .gallery-main__inner > div:first-child {
    flex: 1;
  }
  .gallery-main__inner > div:last-child {
    flex: 0 0 475px;
  }
  .gallery-main__content {
    padding-right: 20px;
  }
  /* .gallery-main__inner {
    max-width: 1000px;
  } */
  .gallery-main__slider {
    max-width: 475px;
  }
  /*  */

  .g-c-slide__inner p {
    margin-bottom: 30px;
  }
  .gcs-title + p {
    margin-bottom: 35px;
  }
}

@media (max-width: 1200px) {
  .gallery-main__content {
    padding-top: 50px;
  }
  .gallery-main__title {
    font-size: 30px;
  }
  .gcs-title {
    font-size: 22px;
    line-height: 30px;
  }
  .g-c-slide__inner p {
    margin-bottom: 20px;
  }
  .gcs-title + p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .cp-tabs {
    flex: 0 0 300px;
  }
  .cp-v_content .mm-btn {
    margin-top: 30px;
  }
  .timer {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 100px);
  }
  .cp-v_img {
    flex: 0 0 50%;
  }
  .g-viar-blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 970px) {
  .gallery-main__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .gallery-main__inner > div:first-child {
    flex: 1;
  }
  .gallery-main__inner > div:last-child {
    flex: 1;
    max-width: 100%;
  }
  .gallery-main__content {
    padding-right: 0;
    text-align: center;
  }
  .gallery-main__title {
    text-align: center;
  }
  .gallery-main__content hr {
    width: 100%;
  }
  .gallery-main__content p {
    margin: 0 auto;
  }
  .gs-inner .slick-dots {
    right: 50%;
    transform: translateX(50%);
    bottom: -30px;
  }
  .g-category-slide a {
    width: 100%;
    max-width: 290px;
  }
  .g-c-slide__inner {
    height: 550px;
  }
  .cp-item {
    margin: 0 10px;
  }
  .cp-v {
    flex-direction: column;
  }
  .cp-v_content {
    margin: 20px 0 0;
  }
  .timer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  .gallery-main {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .g-m-slider a {
    height: 50px;
    max-width: 260px;
  }
  .gallery-main__content {
    padding-top: 48px;
  }
  .g-category-slide {
    max-width: 100%;
  }
  .ccs-slider .slick-arrow {
    transform: translateY(0);
    bottom: -60px;
    width: 36px;
    height: 36px;
  }
  .ccs-slider .slick-arrow svg {
    width: 9px;
    height: auto;
  }
  .g-category-slider .slick-prev {
    left: calc(50% - 30px);
    transform: translateX(-50%);
  }
  .g-category-slider .slick-next {
    right: calc(50% - 30px);
    transform: translateX(50%);
  }
  .category-pop__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .category-pop--block {
    flex-direction: column;
  }
  .cp-tabs {
    overflow-y: hidden;
    flex: unset;
    margin-bottom: 55px;
    padding-bottom: 11px;
    position: relative;
    height: 34px;
    padding-bottom: 4px;
  }
  .cp-tabs-inner {
    position: absolute;
    left: 0;
    width: fit-content;
    height: 100%;
  }
  .cp-tabs-inner::after {
    content: "";
    position: absolute;
    bottom: -0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #1e2533;
    z-index: 1;
  }
  .cp-tab.active::after {
    height: 1px;
    bottom: 0;
  }
  .cp-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .cp-tabs::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
  }
  .cp-tabs-inner {
    display: flex;
  }
  .cp-tab {
    white-space: nowrap;
  }
  .cp-tab:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .cp-v_img {
    max-width: 100%;
    flex: unset;
    max-height: unset;
  }
  .cp-v-text,
  .cp-v-title,
  .cp-v-price {
    text-align: center;
  }
  .cp-v-size {
    justify-content: center;
  }
  .mm-btn {
    margin-right: auto;
    margin-left: auto;
  }
  .category-main__title,
  .g-viar-title,
  .trybuy-title {
    text-align: center;
  }
  category-main__title p {
    text-align: center;
  }
}

@media (max-width: 525px) {
  .gallery-main__title {
    font-size: 20px;
    line-height: 140%;
  }
  .gallery-main__content hr {
    margin: 20px 0;
  }
  .gallery-main__content p {
    font-size: 15px;
    line-height: 135%;
  }
  .g-m-slider a {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    bottom: 20px;
  }
  .category-main__title-row {
    margin-bottom: 30px;
  }
  .category-main__title {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 30px;
  }
  .category-main__title,
  .category-main__title-row p {
    text-align: center;
  }
  .g-c-slide__inner {
    height: 470px;
    padding: 20px 30px 30px;
  }
  .gcs-title {
    font-size: 18px;
    line-height: 130.4%;
  }
  .gcs-title + p {
    font-size: 15px;
    line-height: 18px;
  }
  .g-category-slide a {
    max-width: 260px;
    height: 50px;
  }
  .cp-item .mm-btn {
    max-width: 260px;
  }
  .cp-tab {
    font-weight: 600;
    font-size: 18px;
  }
  .category-main {
    padding-bottom: 100px;
  }
  .category-pop {
    padding: 42px 0 50px;
  }
  .bestseller-main {
    padding: 60px 0;
  }
  .bs-title {
    font-size: 28px;
    line-height: 130.4%;
    margin-bottom: 35px;
  }
  .timer {
    margin: 15px 0 25px;
  }
  .cp-v-size {
    margin: 17px 0 10px;
  }
  .cp-v_content .mm-btn {
    height: 50px;
    max-width: 260px;
  }
  .trybuy-main {
    padding: 60px 0;
  }
  .page-title {
    font-size: 28px;
    line-height: 130%;
    text-align: center;
  }
  .cp-v-title {
    font-size: 20px;
    line-height: 30px;
  }
  .cp-v-size {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .timer > div {
    font-size: 18px;
    line-height: 25px;
  }
  .g-viar {
    padding: 100px 0;
  }
  .g-viar-blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  .g-viar-block p {
    font-size: 14px;
    line-height: 16px;
  }
  .g-viar-btitle {
    margin: 3px 0 8px;
  }
}
