/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/
:root {
  --red: #b4322f;
  --golden: #e2993c;
  --l-golden: #f2a611;
  --r-blue: #2e5290;
  --p-blue: #96b7da;
  --violet: #b68fc4;
  --green: #29834d;
  --pink: #f0b0a1;
  --orange: #fa812e;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
li::marker {
  display: none;
}
ul {
  list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
.no-boot ul {
  list-style: none;
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
button,
textarea,
input,
select {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.screen-title {
  font-size: 60px;
  line-height: 68px;
}
.a-bold {
  font-family: "A_Albionicbold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* overall */

body {
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  background: #fbf8f6;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.container {
  max-width: 1628px;
  margin: 0 auto;
  padding: 0 18px;
}
.container_sm {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 18px;
}
body.overflowed {
  overflow: hidden;
  padding-right: 17px;
}

/* header */

.header.sticky {
  position: fixed;
  top: 0;
}
.header.sticky .header-main__wrapper {
  height: 82px;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sticky .header__logo {
  visibility: hidden;
  opacity: 0;
}
.header__logo {
  transition: all .3s ease;
}
.header-main__wrapper {
  height: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  -webkit-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.btn {
  -webkit-box-shadow: -2.66667px -2.66667px 2.66667px rgba(255, 255, 255, 0.25),
    2.66667px 2.66667px 2.66667px rgba(0, 0, 0, 0.15);
  box-shadow: -2.66667px -2.66667px 2.66667px rgba(255, 255, 255, 0.25),
    2.66667px 2.66667px 2.66667px rgba(0, 0, 0, 0.15);
  border-radius: 133.333px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
}

.btn--dark {
  background: #000000;
  color: #ffffff;
  transition: all .3s ease;
}
.btn--dark:hover, .btn--dark:focus {
  background: var(--l-golden);
}
.header__btn {
  width: 190px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-left: auto;
}
.header__btn svg {
  display: none;
  width: 18px;
  height: 18px;
}
.header__logo {
  display: block;
}

/* hamburger */

.header__hamburger {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-text {
  font-size: 38px;
  line-height: 43px;
  transition: all .15s ease;
}
.header__hamburger:hover .hamburger-text,
.header__hamburger:focus .hamburger-text {
  color: var(--l-golden);
}
.hamburger {
  z-index: 100;
  padding: 0 14px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.header__hamburger:hover .hamburger-inner,
.header__hamburger:hover .hamburger-inner::before,
.header__hamburger:hover .hamburger-inner::after,
.header__hamburger:focus .hamburger-inner,
.header__hamburger:focus .hamburger-inner::before,
.header__hamburger:focus .hamburger-inner::after {
  background-color: var(--l-golden);
}

.hamburger-box {
  width: 60px;
  height: 43px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.header__hamburger .hamburger .hamburger-inner,
.header__hamburger .hamburger .hamburger-inner::before,
.header__hamburger .hamburger .hamburger-inner::after {
  transition: all .15s ease;
  transition-delay: 0;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 60px;
  height: 7px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -15px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
  -o-transition-duration: 0.13s;
  transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
  -o-transition-delay: 0.13s;
  transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -30px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -15px, 0) rotate(-45deg);
  transform: translate3d(0, -15px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
  -o-transition-delay: 0.22s;
  transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* menu */

.header-menu__layout {
  position: fixed;
  display: none;
  z-index: 20;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 17px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: auto;
}

.header-main__menu {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 26.6667px 26.6667px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 90px 0 46px;
  -webkit-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  transform: translateY(-1000px);
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  background: url(../img/menu-el1.svg), url(../img/menu-el2.svg), #fcf9f7;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 50%;
  background-size: 190px, 240px;
  z-index: 30;
}
.header-main__menu.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.menu-separator {
  width: 2px;
  height: 540px;
  background: #000000;
  margin: 0 35px 0 30px;
}
.menu-block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.menu-column_list {
  width: calc(69% - 35px);
}
.menu-column_sublist {
  width: calc(39% - 35px);
}
.menu__title {
  font-size: 74px;
  line-height: 84px;
  margin-bottom: 48px;
}
.menu__title span:nth-child(1) {
  color: var(--l-golden);
}
.menu__title span:nth-child(2) {
  color: var(--violet);
}
.menu__title span:nth-child(3) {
  color: var(--p-blue);
}
.menu__title span:nth-child(4) {
  color: var(--pink);
}
.menu__nav > ul > li {
  font-size: 46px;
  line-height: 52px;
}
.menu__nav > ul > li a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu__nav > ul > li > a:hover,
.menu__nav > ul > li > a:focus  {
  color: #94b7dc;
}
.menu__nav > ul > li.active > a {
  color: #94b7dc;
}
.menu__nav > ul > li:not(:last-child) {
  margin-bottom: 18px;
}
.menu-column_sublist ul {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-column_sublist .collapsed__list {
  visibility: visible;
  opacity: 1;
}
.menu-column_sublist li {
  font-size: 24px;
  line-height: 28px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu-column_sublist li:hover,
.menu-column_sublist li:focus {
  color: var(--l-golden);
}
.menu-column_sublist li:not(:last-child) {
  margin-bottom: 8px;
}
.collapse-block {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: none;
  display: none;
}
.collapse-block li:not(:last-child) {
  margin-bottom: 6px;
}
.list-separator {
  background: #000000;
  border-radius: 100px;
  width: 226px;
  height: 2px;
  margin: 18px auto;
}
.menu-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.input_group input {
  width: 621.33px;
  height: 70px;
  border: 2.66667px solid #000000;
  border-radius: 133.333px;
  font-size: 24px;
  line-height: 27px;
  padding: 0 20px;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  line-height: 28px;
  background: transparent;
}
.checkbox-item label {
  display: block;
  position: relative;
  padding-left: 57px;
  cursor: pointer;
  font-size: 24px;
  line-height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-item label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 34px;
  width: 34px;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 6.66667px;
  cursor: pointer;
}
.checkbox-item label .checkmark:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../img/marker.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.checkbox-item label input:checked ~ .checkmark {
  background: #000000;
}
.chechbox_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.checkbox-item {
  margin-top: 31px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38%;
  flex: 0 0 38%;
}
.form__submit {
  width: 260px;
  height: 70px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.input_group {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 63px;
}
.menu__social > a {
  display: block;
}
.social-instagram {
  margin-right: 20px;
}

/* main screen */

.main {
  padding-top: 207px;
}
.screen-main {
  padding: 40px 0 197px;
}
.screen-main__title {
  font-size: 86px;
  line-height: 97px;
  text-indent: 0px;
}
.screen-main__subtitle {
  font-size: 60px;
  line-height: 70px;
  color: #4c4b4a;
}
.screen-main__wrapper {
  padding-left: 130px;
  width: 100%;
  height: 808px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: url(../img/bg-ellipses.svg), url(../img/bg-weed.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%, 97% 0%;
  background-size: 547px 404px, 404px 293px;
}
.screen-main__title span:nth-child(1) {
  color: var(--red);
}
.screen-main__title span:nth-child(2) {
  color: var(--p-blue);
}
.screen-main__title span:nth-child(3) {
  color: var(--golden);
}
.screen-main__title span:nth-child(4),
.screen-main__title span:nth-child(6) {
  color: var(--pink);
}
.screen-main__title span:nth-child(5) {
  color: var(--r-blue);
}
.screen-main__title span:nth-child(7) {
  color: var(--violet);
}
.screen-main__title span:nth-child(8) {
  color: var(--green);
}

/* about screen */

.screen-about {
  padding: 125px 0 150px;
  background: url(../img/about-el1.svg), url(../img/about-el2.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
}
.screen-about__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 72px 111px;
  border-radius: 13.3333px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  background: #fbf8f6;
}
.about__title {
  margin-bottom: 32px;
  text-align: center;
  color: var(--r-blue);
}
.about__text {
  max-width: 921px;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.7);
  text-indent: 30px;
}

/* machine screen */

.screen-machine {
  padding: 150px 0 136px;
  background: url(../img/machine-el.svg);
  background-repeat: no-repeat;
  background-position: 100% 20%;
}
.screen-machine--wrapper {
  border-radius: 26.6667px;
  padding: 68px 38px 57px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background: #fbf8f6;
}
.machine-title {
  margin-bottom: 56px;
  text-align: center;
}
.machine__btn {
  width: 395.51px;
  height: 70.71px;
  margin: 20px auto 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
.machine__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.machine__item {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 19.0204px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  padding: 78px 36px 64px;
  position: relative;
  margin: 0 0 46px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.machine__item--title {
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 41px;
  max-width: 65%;
}
.machine__item--btn {
  width: 239.71px;
  height: 66.04px;
  background: #ffffff;
  -webkit-box-shadow: -2.66667px -2.66667px 2.66667px rgba(255, 255, 255, 0.25),
    2.66667px 2.66667px 2.66667px rgba(0, 0, 0, 0.15);
  box-shadow: -2.66667px -2.66667px 2.66667px rgba(255, 255, 255, 0.25),
    2.66667px 2.66667px 2.66667px rgba(0, 0, 0, 0.15);
  border-radius: 38.0408px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
.machine__item--btn:hover,
.machine__item--btn:focus {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.machine__item--icon {
  position: absolute;
  top: -2px;
  right: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 22px;
  background: url(../img/white-el.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 33%;
  height: 45%;
}

/* activity screen */

.screen-activity {
  padding: 120px 0 60px;
  background: url(../img/activity-wd.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.screen-activity--wrapper {
  border-radius: 26.6667px;
  padding: 44px 44px 12px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background: #fbf8f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.activity-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  margin-bottom: 36px;
  padding: 45px 32px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.activity-item {
  background: #ffffff;
  border-radius: 26.6667px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 8px rgb(0 0 0 / 15%);
  box-shadow: 5px 5px 8px rgb(0 0 0 / 15%);
}

.activity-item:hover,
.activity-item:focus {
  background: var(--l-golden);
}
.activity-item:hover .activity-item--date svg path,
.activity-item:focus .activity-item--date svg path {
  fill: #ffffff;
}
.activity-item:hover .activity-item--title,
.activity-item:focus .activity-item--title {
  color: #ffffff;
}
.activity-item:hover .activity-item--date,
.activity-item:focus .activity-item--date {
  color: #ffffff;
}
.activity-item:hover .activity-item--btn,
.activity-item:focus .activity-item--btn {
  background: #ffffff;
  -webkit-box-shadow: inset -2px -2px 2px #ffffff,
    inset 2px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset -2px -2px 2px #ffffff, inset 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.activity-item:hover .activity-item--btn svg path,
.activity-item:focus .activity-item--btn svg path {
  fill: var(--l-golden);
}
.activity-item--title {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: 0.03em;
  height: 100px;
  margin-bottom: 20px;
  max-width: 250px;
}
.activity-item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.activity-item--date {
  font-size: 22px;
  line-height: 115%;
}
.activity-item--date > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.activity-item--date svg {
  margin-right: 15px;
}
.date-day {
  margin-bottom: 12px;
}
.activity-item--btn {
  width: 65.92px;
  height: 66px;
  background: #f2a611;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
.activity-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74%;
  flex: 0 0 74%;
  padding: 45px 32px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.activity-content p {
  max-width: 1054.71px;
  font-size: 26px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.7);
}
.activity-btn {
  width: 399.51px;
  height: 70px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  transition: all .3s ease;
}
.activity-btn:hover,
.activity-btn:focus {
  background: var(--l-golden);
}
.activity-plug {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--l-golden);
  padding: 0 33px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.activity-plug p {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.03em;
}
.plugged .activity-plug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity--slider .slick-slide {
  margin: 2px 6px;
}
.activity--slider .slick-list {
  margin: 0 -6px;
}
.screen-activity--wrapper .progress-wrapper {
  padding: 0;
}
.activity-mobile--slider {
  overflow: hidden;
}

/* news screen */

.screen-news {
  padding: 200px 0 140px;
  background: url(../img/news-wd.svg), url(../img/news-ell1.svg),
    url(../img/news-ell2.svg);
  background-repeat: no-repeat;
  background-position: 0 6%, 100% 0, 100% 100%;
}

.screen-news--wrapper {
  background: #fffcfa;
  -webkit-box-shadow: 0px 0px 26.6667px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 26.6667px rgba(0, 0, 0, 0.15);
  border-radius: 26.6667px;
  padding: 115px 80px 63px;
}
.news-title {
  margin-bottom: 181px;
}
.news__item {
  max-width: 1268.44px;
  background: #fffcfa;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 26.6667px;
  padding: 41px 51px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 128px;
}
.news__item--image {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
.news__item--image img {
  position: absolute;
  top: -125px;
  left: 0;
}
.news__item--content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}
.news__item--content p {
  font-size: 24px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.7);
}
.news__item-btn {
  margin-top: 62px;
  color: #ffffff;
  width: 309.62px;
  height: 69.93px;
  -webkit-box-shadow: -2.66667px -2.66667px 2.66667px rgba(255, 255, 255, 0.25),
    2.66667px 2.66667px 2.66667px rgba(0, 0, 0, 0.15);
  box-shadow: -2.66667px -2.66667px 2.66667px rgba(255, 255, 255, 0.25),
    2.66667px 2.66667px 2.66667px rgba(0, 0, 0, 0.15);
  border-radius: 33.3829px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news__item:nth-child(1) .news__item-btn {
  background: var(--violet);
}
.news__item:nth-child(2) .news__item-btn {
  background: var(--l-golden);
}
.news__item:nth-child(3) .news__item-btn {
  background: var(--r-blue);
}
.news__item:nth-child(1) .news__item-btn:hover,
.news__item:nth-child(1) .news__item-btn:focus {
  background: #f2b0a0;
}
.news__item:nth-child(2) .news__item-btn:hover,
.news__item:nth-child(2) .news__item-btn:focus {
  background: var(--p-blue);
}
.news__item:nth-child(3) .news__item-btn:hover,
.news__item:nth-child(3) .news__item-btn:focus {
  background: var(--l-golden);
}
.news__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.btn-news {
  width: 439.46px;
  height: 69.93px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-top: 57px;
}

/* subscribe screen */

.screen-subscribe {
  padding: 154px 0 128px;
  background: url(../img/subscribe-el1.svg), url(../img/subscribe-el2.svg);
  background-repeat: no-repeat;
  background-position: 0 10%, 100% 100%;
}
.screen-subscribe--wrapper {
  position: relative;
  background: #fffcfa;
  -webkit-box-shadow: 0px 0px 26.6667px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 26.6667px rgba(0, 0, 0, 0.15);
  border-radius: 26.6667px;
  padding: 66px 300px 50px 50px;
}
.subscribe-title {
  color: var(--p-blue);
}
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 68px;
}
.subscribe-input {
  margin-right: 24px;
  width: 550.67px;
  height: 64px;
  border: 4px solid var(--p-blue);
  border-radius: 133.333px;
  background: transparent;
  color: var(--p-blue);
  font-size: 22px;
  line-height: 27px;
  padding-left: 20px;
}
.subscribe-btn {
  width: 266.67px;
  height: 70px;
  background: #94b7dc;
  border-radius: 38.0408px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.subscribe-text {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-illustration {
  top: -220px;
  right: -21px;
  position: absolute;
}

/* footer */

.footer {
  margin-top: 40px;
}
.footer-logo {
  display: block;
}
.footer--wrapper {
  padding: 126px 0 34px;
  background: url(../img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 24px;
  line-height: 115%;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__left li:not(:last-child) {
  margin-bottom: 8px;
}
.footer__left li.col-sep {
  margin-bottom: 0;
  -webkit-column-break-after: always;
  -moz-column-break-after: always;
  break-after: always;
}
.footer__left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.footer__left li, .footer__right li {
  /* font-weight: 300; */
}
.footer-menu li {
  margin-right: 30px;
}
.footer__left li a:hover,
.footer__left li a:focus {
  font-weight: bold;
}
.footer__left li a::before {
  display: block;
  content: attr(title);
  font-size: inherit;
  /* letter-spacing: 0.05em; */
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-machine ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.footer-title {
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 25px;
}
.footer-contacts--title {
  text-align: right;
}
.footer-contacts li {
  text-align: right;
}
.footer-phone a,
.footer-email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer-contacts li:not(:last-child) {
  margin-bottom: 12px;
}
.footer-contacts .footer-social {
  margin: 21px 0;
}
.footer-social a:first-child {
  margin-right: 13px;
}
.footer-phone svg,
.footer-email svg {
  margin-right: 10px;
}
.footer-notice {
  font-weight: bold;
}
.footer-notice a:first-child {
  margin-right: 20px;
}

/* footer rights */

.rights-inner {
  padding: 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7);
}
.rights-dev img {
  margin-left: 20px;
}
.rights-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



/* scroll up */

#scroll-up {
  position: fixed;
  right: -150px;
  bottom: 50px;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}