

@media only screen and (max-width: 1440px) {
    .about__inner {
        gap: 0;
    }
    .about__content {
        margin-bottom: 42px;
    }
    .about__content {
        max-width: unset;
    }
    .about__slider--inner {
        padding-top: 5%;
        margin: 0 auto;
    }
    .footer__nav {
        padding-left: 49px;
        gap: 40px;
    }
}
@media only screen and (max-width: 1400px) {
    .about__overall--inner {
        -ms-grid-columns: 337px 337px;
        grid-template-columns: 337px 337px;
        -ms-grid-rows: 256px 256px;
        grid-template-rows: 256px 256px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .about__overall--inner > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .about__overall--inner > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .about__overall--inner > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .about__overall--inner > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .about__overall--block {
        margin: 0 !important;
        width: 337px;
    }
    .about__overall--block:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        -ms-grid-column-align: center;
            justify-self: center;
    }
    .about__overall--block:nth-child(3) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    }
}
@media only screen and (max-width: 1254px) {
    .header__nav ul li:not(:last-child) {
        margin-right: 18px;
    }
    .header__social li:not(:last-child) {
        margin-right: 16px;
    }
    .experience__block--text {
        padding: 33px 23px 33px;
        width: 60%;
    }
    .main__team--blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 400px;
    }
    .main__team--text {
        display: none;
    }
    .team__mobile--text {
        display: block;
    }
    .main__team--blocks {
        padding: 20px;
        gap: 38px;
    }
    .main__team--block:nth-child(2n + 1) {
        margin-left: auto;
    }
    .main__team--image {
        margin-bottom: 200px;
    }
    .main__team--image img {
        height: 100%;
    }
    .main__founder--row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 68px;
    }
    .main__founder--item {
        max-width: 400px;
    }
}

@media only screen and (max-width: 1180px) {
    .header__nav, .header__social {
        display: none;
    }
    .about__slider--inner {
        padding-top: 60px;
    }
    .experience__upper--row {
        margin-bottom: 50px;
    }
    .experience__tabs--row li {
        font-size: 16px;
    }
    .experience__block--text {
        font-size: 14px;
    }
    .experience__block--text {
        padding: 23px 13px 23px;
    }
}
@media only screen and (max-width: 1040px) {
    .footer__rights--text {
        position: unset;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
    }
    .social-desk {
        display: none;
    }
    .footer__content {
        -ms-grid-columns: 4fr 3fr;
        grid-template-columns: 4fr 3fr;
        -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    }
    .footer__content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer__content > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .footer__content > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .footer__content > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .footer__content > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .footer__content > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .footer__content > *:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .footer__content > *:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    .footer__content > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .footer__content > *:nth-child(10) {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }
    .social-mobile {
        display: block;
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 5 / 3;
        -ms-grid-column-align: end;
            justify-self: end;
    }
    .social-mobile ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .social-mobile ul li:not(:last-child) {
        margin-bottom: 14px;
        margin-right: 0;
    }
    .footer__logo {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 5 / 2 / 6 / 3;
    }
    .footer__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 5 / 2;
    }
    .footer__adress {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 5 / 1 / 6 / 2;
    }
    .footer__nav li {
        width: 227px;
        font-size: 24px;
        line-height: 30px;
    }
    .social-mobile ul li {
        width: 40px;
    }
    .footer__adress span {
        font-size: 24px;
        line-height: 35px;
    }
    .footer__nav {
        padding-left: 0;
        gap: 14px;
    }
    .footer__logo {
        width: 200px;
        -ms-grid-column-align: end;
            justify-self: end;
    }
    .experience__main--row {
        gap: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .experience__block--text {
        padding: 23px 13px 23px;
        font-size: 12px;
        line-height: 20px;
    }
    .experience__tabs--row li {
        font-size: 12px;  
    }  
    .project__title {
        font-size: 14px;
        line-height: 20px;
    }
    .project__location {
        font-size: 14px;
        line-height: 18px;
    }
    .main__construction--inner h4 {
        font-size: 24px;
        line-height: 36px;
    }
    .main__construction--inner h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .main__experience--page {
        margin-bottom: 107px;
    }
    .main__team--content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .main__team--blocks {
        padding: 37px 20px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        gap: 38px;
    }
    .main__team--blocks {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: unset;
    }
    .main__team--block:nth-child(2n + 1) {
        margin-left: 0;
    }
    .main__founder--row {
        max-width: unset;
    }
    .about__project--inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about__project--info {
        max-width: unset;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .about__project--block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        margin-top: 40px;
    }
    .about__project--text {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .about__project--image-second {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .about__overall--inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about__overall--block:nth-child(2n + 1) {
        margin-right: auto !important;
    }
    .about__overall--block:nth-child(2n) {
        margin-left: auto !important;
    }
    .experience__block--text {
        line-height: 17px;
    }
    .project__button--text {
        font-size: 9px;
        line-height: 14px;
    }
    .main__construction--inner h1 {
        font-size: 24px;
    }
    .main__construction--page { 
        margin-bottom: 97px;
    }
}

@media only screen and (max-width: 768px) {
    .header__inner, .main__page--header, .header--wrapper {
        height: 50px;
    }
    .main__page--inner {
        height: calc(100% - 50px);
    }
    .main__title--block {
        margin-bottom: 18px;
        font-size: 30px;
        line-height: 40px;
    }
    .hamburger-box {
        width: 25px !important;
        height: 12px !important;
    }
    .hamburger-box > div, .hamburger-box > div::after, .hamburger-box > div::before  {
        height: 2px !important;
    }
    .hamburger--collapse .hamburger-inner:after {
        top: -10px !important;
    }
    .hamburger--collapse .hamburger-inner::before {
        top: -5px !important;
    }
    .hamburger--collapse.is-active .hamburger-inner:before {
        top: 0 !important;
    }
    .hamburger--collapse.is-active .hamburger-inner {
        -webkit-transform: translate3d(0,-5px,0) rotate(-45deg) !important;
                transform: translate3d(0,-5px,0) rotate(-45deg) !important;
    }
    .logo {
        width: 170px;
    }
    .brief__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 80px 0;
    }
    .brief__inner--title {
        text-align: right;
        font-size: 24px;
        line-height: 34px;
    }
    .brief__inner--description {
        font-size: 20px;
        line-height: 27px;
    }
    .main__about--page {
        margin-bottom: 93px;
    }
    .about__absolute--item:nth-child(3) {
        display: none;
    }
    .about__slider--inner {
        padding-top: 30px;
    }
    .about__nav {
        padding: 0 16px;
    }
    .about__content--title {
        margin-bottom: 20px;
    }
    .about__inner {
        margin-bottom: 121px;
    }
    .main__experience--inner {
        padding: 40px 0 50px;
    }
    .experience__upper--row {
        margin-bottom: 16px;
    }
    .experince__title--block {
        max-width: 200px;
    }
    .experience__tabs--row {
        display: none;
    }
    .experience-mobile {
        display: block;
    }
    .experience__inner--block {
        max-width: 500px;
    }
    .experience__block--image {
        margin-left: unset;
        width: 100%;
    }
    .main__experience--page {
        background: unset;
    }
    .experience__block--text {
        padding: 22px 13px 23px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        top: 80%;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
        background: #fff;
        font-size: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 20px;
    }
    .experience__hidden--block {
        font-size: 16px;
        line-height: 20px;

    }
    
    .experience-desk {
        display: none;
    }
    .hidden-block {
        display: block;
    }
    .experience__block--text > p:not(.experience-mobile) {
        visibility: hidden;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
    }
    .experience__block--title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .project__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
    }
    .project__tabs--row li {
        font-size: 14px;
        line-height: 20px;
    }    
    .main__project--page {
        margin-bottom: 86px;
    }
    .main__experience--page {
        margin-bottom: 57px;
    }
    .main__team--blocks {
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
        gap: 38px;
    }
    .main__team--blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        max-width: 420px;
    }
    .main__team--block:nth-child(2n) {
        margin-left: auto;
    }
    .main__scheme--page {
        margin: 10px 0 65px;
    }
    .partners-mob {
        display: block;
    }
    .main__partners--item img {
        width: 70%;
    }
    .main__partners--item {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
    .main__partners--row {
        margin-top: 57px;
        gap: 21px;
    }
    .main__contacts--page {
        margin-top: 89px;
    }
    .main__contacts--content {
        top: unset;
        bottom: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
        width: 100%;
        padding: 0 18px 25px 18px;
    }
    .main__contacts--page .container {
        padding: 0;
    }
    .main__contacts--title {
        padding: 0 18px;
    }
    .main__contacts--social {
        width: 200px;
        height: 50px;
    }
    .main__contacts--social ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 20px;
    }
    .team__title--block  {
        margin-bottom: 50px;
    }
    .main__team--image {
        max-width: unset;
        margin-bottom: 0;
    }
    .team__mobile--text {
        position: unset;
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .footer__content {
        -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    }
    .footer__nav {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 4 / 2;
    }
}

@media only screen and (max-width: 550px) {
    .project__tabs--row li {
        font-size: 10px;
        line-height: 14px;
    }
    .project__item {
        width: 100%;
        max-width: 300px;
    }
    .project__location {
        display: none;
    }
    .project__title {
        visibility: visible;
        opacity: 1;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
    }
    .project__content--button {
        position: absolute;
        right: 28px;
        top: 246px;
        width: 55px;
        height: 35px;
    }
    .project__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 25px;
    }
    .project__button {
        margin-top: 0;
    }
    .project__item--wrapper {
        visibility: visible;
        width: 300px;
        opacity: 1;
        height: 35px;
        top: 0;
        left: 0;
    }
    .project__button--text {
        font-size: 11px;
        line-height: 14px;
        color: #fff;
    }
    .arrow__project-right {
        width: 22px;
        position: absolute;
        height: 17px;
        top: 50%;
        right: 8px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    

    .footer {
        margin-top: 85px;
    }
    .footer__nav li {
        font-size: 16px;
        line-height: 24px;
        width: unset;
    }
    .footer__adress span {
        font-size: 14px;
        line-height: 24px;
    }
    .footer__logo {
        width: 127px;
    }
    .footer__rights--text {
        font-size: 9px;
        line-height: 17px;
    }
    .footer__rights--author span:first-child {
        margin-right: 5px;
        font-size: 6.60546px;
    }
    .footer__rights--author span:last-child {
        width: 80px;
        margin-bottom: 2px;
    }
    .footer__rights {
        height: 51px;
    }
    .footer__nav {
        gap: 6px;
    }
    .social-mobile ul li:not(:last-child) {
        margin-bottom: 7px;
    }
    .footer__content {
        -ms-grid-rows: 1fr 8px 1fr 8px 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 8px;
    }
    .footer {
        margin-top: 45px;
    }
    .experience__hidden--block {
        font-size: 12px;
        line-height: 15px;

    }
    .main__project--page {
        margin-bottom: 37px;
    }
    .main__construction--inner h4 {
        font-size: 14px;
        line-height: 21px;
    }
    .main__construction--inner h1 {
        font-size: 14px;
        line-height: 21px;
    }
    .mobile-construction {
        display: inline;
    }
    .construction-button {
        display: none;
    }
    .main__construction--page {
        padding: 114px 0;
    }
    .main__construction--page { 
        margin-bottom: 47px;
    }
    .main__experience--page {
        margin-bottom: 37px;
    }
    .main__team--image {
        max-width: 100%;
        /* padding-right: 18px; */
    }

    .another-brief {
        border-right: 3px solid rgba(249, 1, 1, 0.65);
        padding-right: 8px;
    }

    .main__founder--item {
        width: 60%;
        padding-left: 10px;
        padding-bottom: 10px;
    
    }
    .main__partners--row {
        display: -ms-grid;
        display: grid;
                grid-template-areas:  'A A A A B B'
                              'C C C D D D'
                              'E E E F F F'
                              'G G H H I I'
                              'J J J J J J';
    }
    .main__partners--item:nth-child(1) {
        grid-area: A;
    }
    .main__partners--item:nth-child(2) {
        grid-area: D;
    }
    .main__partners--item:nth-child(3) {
        grid-area: C;
    }
    .main__partners--item:nth-child(4) {
        grid-area: B;
    }
    .main__partners--item:nth-child(5) {
        grid-area: F;
    }
    .main__partners--item:nth-child(6) {
        grid-area: H;
    }
    .main__partners--item:nth-child(7) {
        grid-area: E;
    }
    .main__partners--item:nth-child(8) {
        grid-area: J;
    }
    .main__partners--item:nth-child(9) {
        grid-area: G;
    }
    .main__partners--item:nth-child(10) {
        grid-area: I;
    }
    .main__contacts--page {
        margin-top: 39px;
    }
    .project__button {
        max-width: 125px;
    }
    .project__button .content__button--text {
        font-weight: 500;
        font-size: 12.5855px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.7);
    }
    .project__button .button__inner {
        background: rgba(249, 1, 1, 0.7);
        width: 26.22px;
        height: 26.22px;
    }
    .project__button .arrow-right {
        width: 34px;
        height: 15px;
        right: 12px !important;
    }
    .project__button .arrow-right svg {
        width: 100%;
    }
    .project__button .arrow-right svg path {
        fill: rgba(0, 0, 0, 0.7);
    }
    
}

@media only screen and (max-width: 550px) {
    .main__partners--item:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
    }
    .main__partners--item:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 2;
    }
    .main__partners--item:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(6) {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }
    .main__partners--item:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
    }
    .main__partners--item:nth-child(9) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .main__partners--item:nth-child(10) {
        -ms-grid-row: 4;
        -ms-grid-column: 5;
        -ms-grid-column-span: 2;
    }
}

@media only screen and (max-width: 550px) {
    .main__partners--item:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
    }
    .main__partners--item:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 2;
    }
    .main__partners--item:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(6) {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }
    .main__partners--item:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .main__partners--item:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
    }
    .main__partners--item:nth-child(9) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .main__partners--item:nth-child(10) {
        -ms-grid-row: 4;
        -ms-grid-column: 5;
        -ms-grid-column-span: 2;
    }
    
    .project__button .arrow-right::before {
        background: #000;
        height: 1px;
        right: 1px;
    }
    
    .breadcrumb__row {
        height: 50px;
        margin-bottom: 27px;
    }
    .breadcrumb--item:not(:last-child) { 
        margin-right: 12px;
    }
    .breadcrumb--item {
        font-size: 9px;
        line-height: 14px;
    }
    .about__project--subtitle {
        font-size: 10px;
        line-height: 15px;
        max-width: 236px;
    }
    
    .small__project--button .button__project--inner::before {
        background: #000;
    }
    .small__project--button .button__project--inner::after {
        border-color: #000;
    }
    .project__button:hover .button__inner {
        background: #F90101;
        width: 36px;
        height: 36px;
        -webkit-box-shadow: 0px 2px 5px rgb(0 0 0 / 13%);
                box-shadow: 0px 2px 5px rgb(0 0 0 / 13%);
    }
}

@media only screen and (max-width: 500px) {
    .main__page {
        background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/main-page-bg-mobile.jpg) no-repeat !important;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/main-page-bg-mobile.jpg) no-repeat !important;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/main-page-bg-mobile.jpg) no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        height: 561px;
    }
    .page__content--title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 4px;
    }
    .page__content--description {
        font-size: 12px;
        margin-bottom: 20px;
        line-height: 18px;
    }
    .content__button--text {
        font-size: 16px;
        line-height: 24px;
    }
    .main__page--content {
        margin-top: 0;
        margin-bottom: 70px;
    }
    .button__inner {
        height: 33.4px;
        width: 33.4px;
    }
    .arrow-right {
        width: 44.5px;
        right: 15.4px;
    }
    .main__screen--button .arrow-right {
        height: 19px;
    }
    .brief__inner--title {
        font-size: 16px;
        line-height: 24px;
        max-width: 220px;
    }
    .brief__inner--description {
        font-size: 10px;
        line-height: 15px;
    }
    .brief__inner {
        gap: 15px;
        padding: 48px 0;
    }
    .about__slider--inner {
        padding-top: 26px;
    }
    .about__nav {
        left: unset;
        right: 0;
        padding: 0 0 0 16px;
    }
    .about__nav--navigation li {
        font-size: 8.5px;
    }
    .about__nav--navigation li::after {
        bottom: -1.5px;
        width: 12.5px;
    }
    .about__nav--navigation li:not(:last-child) {
        margin-right: 12.5px;
    }
    .about__nav--arrows > div:not(:last-child) {
        margin-right: 13px;
    }
    .about__nav--arrows > div {
       width: 27px;
    }
    .about__nav--arrows > div svg {
        width: 100%;
    }
    .main__title--block {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 36px;
    }
    .about__content--text {
        font-size: 10px;
        line-height: 15px;
    }
    .about__nav {
        height: 36px;
    }
    .about__nav--navigation ul {
        margin-bottom: 3px;
    }
    .about__nav--navigation li::after {
        height: 1px;
        bottom: 3px;
        left: -1px;
    }
    .about__inner {
        margin-bottom: 79px;
    }
    .about__overall--inner {
        gap: 74px;
    }
    .about__overall--block {
        border: 1px solid #F90101;
        padding: 18px 10px 18px 27px;
        max-height: 161px;
        height: 161px;
        width: 190px;
    }
    .about__overall--block:last-child {
        padding: 19px 5px 18px 23px;
    }
    .about__overall--block:nth-child(2n + 1) {
        margin-bottom: 209px;
    }
    .about__overall--block:nth-child(2n) {
        margin-top: 209px;
    }
    .about__overall--block:last-child {
        padding-top: 15px;
    }
    .overall__title {
        font-size: 22px;
        line-height: 94.69%;
        margin-bottom: 12px;
    }
    .overall__text {
        font-size: 10px;
        line-height: 144.19%;
    }
    .overall__absolute--item:nth-child(1) {
        width: 44px;
        height: 44px;
        top: -25px;
        left: calc(50% + 10px);
    }
    .experience__block--button {
        width: 20px;
        height: 20px;        
    }
    .experience__block--button img {
        height: 15px;
    }
    .experience__block--text {
        top: calc(100% - 50px);
        font-size: 12px;
        height: 50px;
        width: 87%;
        
    }
    .experience__block--title {
        font-size: 12px;
    }
    .opened__text {
        padding: 40px 13px !important;
    }


    .main__testimonial--page {
        padding: 63px 0 68px;
    }
    .testimonial--inner {
        background-size: 87px 76px;
        max-width: 281px;
    }
    .testimonial-title {
        font-size: 36px;
        line-height: 24px;
        margin-bottom: 53px;
    }
    .testimonial--inner p:nth-child(2) {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 11px;
    }
    .testimonial--inner p:nth-child(3) {
        font-size: 9px;
        line-height: 13px;
    }
    .about__project--page {
        padding-bottom: 35px;
    }
    .project__info--upper span, .project__info--upper p {
        font-size: 10px;
        line-height: 170.5%;
    }
    .about__project--inner {
        margin-top: 15px;
    }
    .project__info--lower {
        font-size: 10px;
        line-height: 15px;
    }
    .text-title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 9px;
    }
    .project__inner--text {
        font-size: 10px;
        line-height: 15px;
    }
    .main__screen--button:hover .button__inner {
        background: #F90101;
        width: 40px;
        height: 40px;
    }
    .main__screen--button:hover .arrow-right {
        right: 20px;
    }
}
@media only screen and (max-width: 425px) {
    .main__about--page {
        margin-bottom: 63px;
    }
    .footer__nav li {
        font-size: 10px;
        line-height: 14px;
    }
    .footer__adress span {
        font-size: 8px;
        line-height: 10px;
    }
    .footer__adress {
        max-width: 160px;
    }
    .footer__logo {
        width: 80px;
    }
    .footer__adress span:first-child svg {
        width: 10px; 
    }
    .footer__adress {
        padding-left: 16px;
    }
    .footer__nav ul li:not(:nth-child(3)), .footer__nav li:not(:last-child) {
        margin-bottom: 6px;
    }
    .social-mobile ul li {
        width: 16px;
    }
    .footer__content {
        padding: 16px 0;
    }
    .footer {
        margin-top: 37px;
    }
    
    .experience__hidden--block {
        font-size: 9px;
        line-height: 13px;

    }
    .team__mobile--text {
        font-size: 10px;
        line-height: 15px;
    }
    .main__team--content {
        gap: 37px;
    }
    .brief__inner {
        padding: 34px 0;
    }
    .founder__absolute--item.gray-item p:first-child {
        font-size: 12.2013px;
        line-height: 18px;
    }
    .main__partners--row {
        margin-top: 20px;
    }
    .founder__absolute--item.gray-item p:nth-child(2) {
        font-size: 8.75344px;
        line-height: 13px;
    }
    .founder__absolute--item.red-backitem {
        bottom: -9px;
        right: -9px;
        width: 34px;
        height: 34px;
    }
    .main__contacts--content {
        gap: 18px;
    }
    .main__contacts--content > ul a {
        padding-left: 17px;
    }
    .main__contacts--content > ul span {
        font-weight: 300;
        font-size: 9px;
        line-height: 13px;
    }
    .main__contacts--content > ul a svg {
        max-width: 10px;
    }
    .main__contacts--content > ul li:nth-child(3) span:first-child {
        left: 1px;
        top: -6px;
    }
    .main__contacts--social {
        height: 28.5px;
        width: 82px;
    }
    .main__contacts--social svg {
        width: 100%;
        max-width: 14px;
    }
    .main__contacts--content > ul li:not(:last-child) {
        margin-bottom: 9px;
    }
    .project__tabs--row ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .project__tabs--row li {
        padding-bottom: 3px;
    }
    .project__tabs--row li:nth-child(2) {
        text-align: left;
    }
    .project__tabs--row li:first-child {
        width: 29%;
        text-align: left;
        margin: 0 200px 16px 0;
    }
    .project__tabs--row li:not(:first-child) {
        width: 33%;
    }
    .project__tabs--row li::after {
        height: 1px;
    }
    .project__item {
        max-width: 100%;
        padding-right: 0;
    }
    .project__item--wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
    .about__content--text {
        max-width: 253px;
    }
    .experience__block--text {
        font-size: 9px;
        line-height: 13px;
    }
    .main__team--block {
        width: 135px;
        height: 135px;
        border: 1.7px solid #F35D5C;
        border-right: none;
    }
    .team-num {
        width: 100%;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .team__inner-num {
        font-size: 28.4921px;
        line-height: 34px;
    }
    .team-prop {
        font-size: 15.2461px;
        line-height: 20px;
    }
    .team-mobile {
        display: inline-block;
    }
    .project__tabs--row li:first-child {
        width: 33%;
        margin: 0 150px 16px 0;
    }
}
@media only screen and (min-width: 1440px) {
    .about__inner {
        gap: 42px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
@media only screen and (min-width: 1254px) {
    .header__logo {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1180px) {
    .hamburger {
        display: none !important;
    }
}
@media only screen and (min-width: 768px) {
    .br__content--title {
        display: none;
    }
    .project__content--button:hover .small__project--button .button__project--inner::before {
        background: #F90101;
        width: 40px !important;
    }
}
@media only screen and (min-width: 550px) {
    .project__content--button:hover .small__project--button .button__project--inner {
        background: #fff;
    }
    .project__content--button:hover .small__project--button .button__project--inner::before {
        background: #F90101;
        width: 30px;
    }
    .project__content--button:hover .small__project--button .button__project--inner::after {
        border-color: #F90101;
    }
    
    .small__project--button .button__project--inner::before {
        bottom: 50%;
        content: "";
        width: 30px;
        position: absolute;
        right: 50%;
        -webkit-transform-origin: bottom;
            -ms-transform-origin: bottom;
                transform-origin: bottom;
        height: 1px;
        -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
                transform: translateY(50%);
        background: #fff;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in;
    }
    .small__project--button .button__project--inner::after {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-right-width: 1px;
        content: "";
        display: inline-block;
        height: 3px;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-2.5px, -50%) rotate(-45deg);
            -ms-transform: translate(-2.5px, -50%) rotate(-45deg);
                transform: translate(-2.5px, -50%) rotate(-45deg);
        width: 3px;
        border-color: #fff;
        background-color: transparent;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in;
    }
    .small__project--button .arrow__project-right {
        display: none;
    }
}
@media only screen and (min-width: 640px) and (max-height: 520px) {
    .mobile__nav ul {
        gap: 16px;
    }
    .mobile__nav {        
        margin-bottom: 21px;    
    }
    .header--wrapper, .header__inner, .main__page--header {
        height: 50px;
    }
    .main__layout {
        min-height: 415px;
    }
}
@media only screen and (max-height: 375px) {
    .layout__inner {
        -webkit-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset;
        padding-top: 49px;
    }
    .mobile__nav ul {
        gap: 12px;
    }
}
@media only screen and (min-width: 768px) and (min-height: 600px) {
    .mobile__nav ul li {
        font-size: 28px;
    }
    
}


@media only screen and (min-width: 550px) and (max-width: 900px) {
    .construction__video {
        width: unset;
        max-width: unset;
        min-width: 100%;
    }
}