


/* DEFAULT STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, vaar,
b, u, i, center,a
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
	outline: none;
}
input, button, textarea {
    outline: none;
}
img {
	width: 100%;
}
/* BODY */

body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
	color: rgba(0, 0, 0, 0.7);
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
}
.main__page {
    width: 100%;
    min-height: 561px;
    height: 782px;
}
.container {
    max-width: 1254px;
	width: 100%;
	padding: 0 18px;
    margin: 0 auto;
}
.overflowed {
	overflow: hidden;
}
.nicescroll-rails {
	z-index: 1000 !important;
}

/* OVERALL */

.main__title--block {
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	color: rgba(249, 1, 1, 0.65);
}
.gray-bg {
	background: rgba(240, 240, 240, 0.68);
}

/* HEADER */

.main__page--header {
	background: rgba(255, 255, 255, 0.6);
	height: 89px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-backdrop-filter: blur(25px);
	        backdrop-filter: blur(25px);
}
.mobile-header {
	background: none;
}
.header--wrapper {
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	height: 89px;
	z-index: 3;
	position: relative;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.header__inner {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 89px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.header__logo {
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	max-width: 251px;
}
.nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav ul li {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.nav ul li:not(:last-child) {
	margin-right: 28px;
}
.nav ul li.active-nav {
	color: rgba(249, 1, 1, 0.65);
}
.nav li:hover {
	color: rgba(249, 1, 1, 0.65);
}
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header__social li:not(:last-child) {
	margin-right: 21px;
}
.mobile__social li:not(:first-child) {
	margin-right: 21px;
}

.social svg path {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}

/* HAMBURGER */

.hamburger {
	padding: 0 !important;
}
.hamburger-box {
    width: 35px !important;
    height: 24px !important;
}
.hamburger-box > div, .hamburger-box > div::after, .hamburger-box > div::before {
    width: 100%;
    height: 4px !important;
    background: rgba(249, 1, 1, 0.6) !important;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background: rgba(249, 1, 1, 0.6) !important;
}
/* MAIN PAGE SCREEN*/

.main__page--inner {
	width: 100%;
	height: calc(100% - 89px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.main__page--content {
	margin-top: 3%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.page__content--inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.page__content--title {
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.page__content--title span {
	text-transform: uppercase;
}
.page__content--description {
	max-width: 452px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 60px;
}
.page__content--button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	min-height: 100px;
}
.content__button--text {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.content__button {
	margin-top: 4px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.button__inner {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: rgba(249, 1, 1, 0.6);
	position: relative;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.arrow-right {
	width: 66px;
	position: absolute;
	top: 50%;
	height: 16px;
	right: 22px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* MOBILE MENU */

.main__layout {
    width: 100%;
	height: 100%;
	min-height: 465px;
    position: fixed;
    right: calc(-100% + -200px);
    top: 0;
    z-index: 2;    
	background: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -o-transition-duration: 500ms;
       transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
       transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    visibility: hidden;
	-webkit-backdrop-filter: blur(25px);
	        backdrop-filter: blur(25px);
}
.main__layout:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 100vh 0;
    border-color: transparent rgba(255, 255, 255, 0.6) transparent transparent;
    position: absolute;
    left: -200px;
    top: 0;
}
.layout__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
}
.mobile__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main__layout.active-menu {
    right: 0;
    visibility: visible;
}
.mobile__nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.mobile__nav li:not(:last-child) {
	margin-bottom: 28px;
}
.mobile__nav li {
	margin-right: 0 !important;
}
.mobile__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	max-width: 164px;
	margin: 0 auto;
}
.mobile__nav ul li {
	text-align: center;
	font-size: 18px;
}
.mobile__nav {
	margin-bottom: 41px;
}


/* BRIEF DESCRIPTION */

.brief__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 47px;
	padding: 125px 0;
}
.brief__inner--title {
	font-weight: 800;
	font-size: 36px;
	line-height: 54px;	
	color: rgba(0, 0, 0, 0.7);
	max-width: 301px;
	padding-right: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-right: 10px solid rgba(249, 1, 1, 0.65);
}
.brief__inner--description {
	max-width: 720px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;	
	color: rgba(0, 0, 0, 0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}


/* ABOUT BLOCK */

.main__about--page {
	margin-bottom: 126px;
}
.about__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	gap: 42px;
	margin-bottom: 207px;
}
.about__slider--inner {
	max-width: 664px;
	padding-top: 9%;
	position: relative;
	z-index: 1;
}
.slider__absolute--item {
	z-index: -1;
}
.about__absolute--item, .about__nav {
	position: absolute;
}
.about__content--title {
	margin-bottom: 64px;
}
.about__content {
	max-width: 518px;
}
.slider__absolute--item:nth-child(1) {
	width: 22.8%;
	height: 28.6%;
	top: 0;
	left: -8.7%;
}
.slider__absolute--item:nth-child(2) {
	width: 64.2%;
	height: 11.7%;
	left: 17%;
	top: 0;
}
.slider__absolute--item:nth-child(3) {
	top: 6%;
	left: -12.5%;
	width: 68.5%;
	height: 84.6%;
}
.red-backitem {
	background: #F85853;
	border: 1px solid #F85853;
}
.gray-item {
	background: #F0F0F0;
}
.red-borderitem {
	border: 3px solid rgba(249, 1, 1, 0.7);
}
.about__nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 66%;
	height: 63px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 10.4% 0 7.7%;
}
.about__content--text {
	font-weight: 300;
	font-size: 22px;
	line-height: 33px;
}
.about__content--text p:first-child {
	margin-bottom: 16px;
}
.about__nav--navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about__nav--navigation li {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: rgba(249, 1, 1, 0.5);
}
.about__nav--navigation .active-slide {
	color: #F90101;
}
.about__nav--navigation .active-slide::after {
	background: #F90101;
}
.about__nav--navigation li::after {
	content: "";
	width: 22px;
	height: 2px;
	bottom: -5px;
	left: -2px;
	background: rgba(249, 1, 1, 0.5);
	position: absolute;
	display: block;
}
.about__nav--navigation li:not(:last-child) {
	margin-right: 30px;
}
.about__nav--arrows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 5px;
}
.about__nav--arrows > div:not(:last-child) {
	margin-right: 16px;
}
.about__nav--arrows > div {
	cursor: pointer;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.about__nav--arrows > div:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}
.about__nav--arrows .active-arrow svg path {
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.about__nav--arrows .active-arrow svg path {
	fill-opacity: 1;
}

/* about overall */

.about__overall--inner {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 100px 1fr 100px 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px;
}
.about__overall--block {
	border: 2px solid #F90101;
	padding: 38px 20px 38px 63px;
	z-index: -1;
	position: relative;
	max-height: 262px;
	height: 262px;
}
.about__overall--block:last-child {
	padding: 38px 15px 38px 63px;
}
.about__overall--block:nth-child(2n + 1) {
	margin-bottom: 209px;
}
.about__overall--block:nth-child(2n) {
	margin-top: 209px;
}
.about__overall--block:last-child {
	padding-top: 30px;
}
.overall__block--content {
	position: relative;
	z-index: 3;
}
.overall__title {
	font-weight: 600;
	font-size: 36.3616px;
	line-height: 94.69%;
	text-transform: uppercase;	
	color: rgba(249, 1, 1, 0.22);
	margin-bottom: 13px;
}
.overall__text {
	font-weight: 300;
	font-size: 16.1607px;
	line-height: 144.19%;
	text-indent: 5px;
}
.overall__absolute--item {
	z-index: 2;
}
.overall__absolute--item:nth-child(1) {
	width: 89.09px;
	height: 88.88px;
	top: -64px;
	left: calc(50% + 20px);
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.overall__absolute--item:nth-child(2) {
	width: 59%;
	height: 118%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: -3px;
}

/* EXPERIENCE */

.main__experience--page {
	margin-bottom: 197px;
}
.main__experience--inner {
	padding: 63px 0 97px;
}
.experience-mobile {
	display: none;
}
.experince__title--block {
	max-width: 250px;
}
.experience__upper--row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 101px;
}
.experience__tabs--row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: end;
	width: 60%;
}
.experience__tabs--row ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}
.experience__tabs--row li {
	width: 25%;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.experience__tabs--row li::after {
	content: "";
	width: 100%;
	height: 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(196, 196, 196, 0.56);
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.experience__tabs--row li.active-tab::after {
	background: #F90101;

}
.experience__block--content {
	position: relative;
}
.experience__block--image {
	margin-left: auto;
	width: 60%;
}
.hidden-block {
	display: none;
}
.experience__block--text {
	padding: 43px 33px 43px;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 50%;
	background: #F5F5F5;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.experience__block--text .p-overall p {
	text-indent: 5px;
}
.experience__block--title {
	position: relative;
	padding-right: 20px;
	padding-bottom: 6px;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
}
.experience__block--title::after {
	content: "";
	position: absolute;
	display: block;
	width: 130px;
	bottom: 0;
	height: 2px;
	background: #F5F5F5;
}
.experience__block--button {
	position: absolute;
	top: 17px;
	right: 14px;
	cursor: pointer;
	width: 40px;
	height: 40px;        
	background: rgba(249, 1, 1, 0.63);
	border-radius: 50%;
	-webkit-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}
.experience__block--button.toggled-btn {
	top: 17px !important;
	-webkit-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
	-webkit-transform: rotate(180deg) !important;
	    -ms-transform: rotate(180deg) !important;
	        transform: rotate(180deg) !important;
}
.experience__block--button img {
	height: 30px;
}
.experience-desk {
	display: block;
}
.visible {
	visibility: visible !important;
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}
.experience__hidden--block {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    -webkit-transition: max-height .6s ease;
    -o-transition: max-height .6s ease;
    transition: max-height .6s ease;
	max-height: 0;
	overflow: hidden;
}
.experience__hidden--block p {
	text-indent: 5px;
}





/* PROJECTS BLOCK */

.main__project--page {
	margin-bottom: 156px;
}
.project__title--block {
	margin-bottom: 55px;
}
.project__tabs--row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.project__tabs--row ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}
.project__tabs--row li {
	width: 25%;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__tabs--row li::after {
	content: "";
	width: 100%;
	height: 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(196, 196, 196, 0.56);
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__tabs--row li.active-tab::after {
	background: #F90101;
}

.project__items {
	margin-top: 51px;
	margin-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.project__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	        flex: 0 0 25%;
	position: relative;
	cursor: pointer;
}
.project__item img {
	height: 100%;
}
.project__item--wrapper {
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.project__item:hover .project__item--wrapper {
	visibility: visible;
	opacity: 1;
}
.project__title {
	opacity: 0;
	font-weight: 900;
	font-size: 20px;
	line-height: 30px;
	color: #F90101;
	-webkit-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	        transform: translateY(-50px);
	-webkit-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
	text-align: center;
}
.project__location {
	opacity: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: rgba(0, 0, 0, 0.7);
	-webkit-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	        transform: translateY(-50px);
	-webkit-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
	text-align: left;
	margin: 6px 0 33px;
}
.project__item:hover .project__title {
	opacity: 1;
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}
.project__item:hover .project__location {
	opacity: 1;
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}
.project__content--button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.project__button--text {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #F5100B;
}
.item__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.project__button {
	margin-top: 9px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.button__project--inner {
	height: 22.5px;
	width: 22.5px;
	border-radius: 50%;
	background: #F5100B;
	position: relative;
}
.arrow__project-right svg {
	width: 100%;
}
.arrow__project-right {
	width: 28px;
    position: absolute;
    height: 15px;
    top: 50%;
    right: 11px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.project__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 240px;
	margin: 0 0 0 auto;
}
.project__button .content__button--text {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #F5100B;
}
.project__button .button__inner {
	background: rgba(249, 1, 1, 0.25);
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__button:hover .button__inner {
	background: #fff;
	width: 60px;
	height: 60px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
	        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
}
.project__button:hover .arrow-right {
	right: 27px;
}
.project__button .arrow-right {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}


/* CONSTRUCTON BLOCK */

.main__construction--page { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	position: relative;
	padding-top: 251px;
	padding-bottom: 97px;
	-o-object-fit: contain;
	   object-fit: contain;
	overflow: hidden;
	margin-bottom: 174px;
}
.construction__video {
	z-index: -1;
	position: absolute;
	width: 100%;
	max-width: 1440px;
	min-height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.main__construction--inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	max-width: 946px;
	margin: 0 auto;
	height: 100%;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;

}

.mobile-construction {
	display: none;
}
.construction-button {
	margin-top: 64px;
}
.main__construction--inner h1 {
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.main__construction--inner h4 {
	font-weight: 500;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}


/* TEAM BLOCK */

.main__team--content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 96px;
}
.team__title--block  {
	margin-bottom: 80px;
}
.main__team--desc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 44px;
}
.main__team--image {
	max-width: 447px;
	width: 100%;
	position: relative;
}
.team__mobile--text {
	position: absolute;
	display: none;
	top: calc(100% - 31px);
	width: 87%;
	left: 0;
	background: #fff;
	padding: 15px 15px;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.7);
}
.main__team--blocks {
	background: #F5F5F5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 83px;
	padding: 21px 0 21px 59px;
}
.main__team--text {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
}
.main__team--text p:first-child, .team__mobile--text p:first-child {
	margin-bottom: 7px;
}
.main__team--text p:nth-child(2), .team__mobile--text p:nth-child(2) {
	margin-bottom: 22px;
}
.main__team--block {
	width: 153px;
	height: 153px;
	border: 2px solid #F35D5C;
	border-right: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.team-num {
	width: 100%;
	height: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.team__inner-num {
	background: #F35D5C;
	font-weight: 500;
	font-size: 30.4921px;
	line-height: 34px;
	text-transform: uppercase;	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #FFFFFF;
	width: 50%;
	height: 100%;
}
.team-prop {
	width: 100%;
	height: 50%;
	font-weight: 300;
	font-size: 17.2461px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.team-mobile {
	display: none;
}
.team-prop div {
	max-width: 109px;
}
.main__team--block:nth-child(2) .team-prop div {
	max-width: 97px;
}
.main__team--block:nth-child(3) .team-prop div {
	max-width: 70px;
}




/* ANOTHER BRIEF */


.another-brief {
	border-right: 6px solid rgba(249, 1, 1, 0.65);
	padding-top: 8px;
	padding-bottom: 8px;
}
.organize-brief {
	max-width: 400px;
}


/* FOUNDER BLOCK */

.main__founder--row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.main__founder--item {
	width: 50%;
	padding-left: 13px;
	padding-bottom: 13px;
	max-width: 281px;
	position: relative;

}
.founder__absolute--item.red-borderitem {
	background: transparent;
	width: 70%;
	height: 75%;
	bottom: -0;
	left: 0;
	z-index: -1;
	border: 1px solid rgba(249, 1, 1, 0.65);
}
.founder__absolute--item.gray-item {
	width: 108%;
	height: 17.5%;
	top: 0;
	right: -50%;
	padding: 0 0 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
}
.founder__absolute--item.gray-item p:first-child {
	font-size: 18.0567px;
	line-height: 27px;
	text-transform: uppercase;
}

.founder__absolute--item.gray-item p:nth-child(2) {
	font-weight: 300;
	font-size: 12.9542px;
	line-height: 19px;
}
.founder__absolute--item.red-backitem {
	bottom: -15px;
	right: -15px;
	width: 50px;
	height: 50px;
	z-index: -1;
}

/* SCHEME BLOCK */

.main__scheme--page {
	margin: 50px 0 165px;
}


/* PARTNERS BLOCK */

.main__partners--row {
	margin-top: 87px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 100px;
}
.main__partners--item {
	/* width: fit-content; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.partners-mob {
	display: none;
}



/* CONTACTS BLOCK */

.main__contacts--page {
	margin: 153px 0 0;
}
.main__contacts--title {
	margin-bottom: 80px;
}
.map__wrapper {
	height: 465px;
	max-height: 465px;
	position: relative;
}
#map {
	height: 100%;
	max-height: 465px;
  }
.main__contacts--content {
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	padding: 55px 68px 55px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	gap: 40px;
}
.main__contacts--content > ul {
	max-width: 343px;
}
.main__contacts--content > ul li:not(:last-child) {
	margin-bottom: 24px;
}
.main__contacts--content > ul a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding-left: 48px;
}
.main__contacts--content > ul li:nth-child(3) span:first-child {
	left: -2px;
}
.main__contacts--content span {
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
.main__contacts--content span:first-child {
	position: absolute;
	top: 0;
	left: 0;
}
.main__contacts--social {
	max-height: 100%;
	width: 87px;
	background:#F76160;
}
.main__contacts--social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	gap: 28px;
}

/* FOOTER */

.footer {
	margin-top: 145px;
	border-top: 3px solid rgba(249, 1, 1, 0.65);
}
.footer__content {
	padding: 52px 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 287px 375px 318px;
	grid-template-columns: 287px 375px 318px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__nav {
	padding-left: 89px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 60px;
}
.footer__nav li  {
	width: 140px;
}
.footer__nav ul li:not(:nth-child(3)), .footer__nav li:not(:last-child) {
	margin-bottom: 14px;
}
.footer__adress {
	position: relative;
	padding-left: 30px;
}
.footer__adress span:first-child {
	position: absolute;
	left: 0;
	top: 0;
}
.footer__adress span {
	font-size: 16px;
	line-height: 24px;
}
.social-mobile {
	display: none;
}

.footer__rights {
	border-top: 3px solid #F0F0F0;
	height: 76px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}
.footer__rights--inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer__social li svg path {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.footer__social li:not(:last-child) {
	margin-right: 21px;
}
.footer__rights--text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-size: 14px;
	line-height: 21px;
}
.footer__rights--author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__rights--author span:first-child {
	margin-right: 21px;
	font-size: 13.5px;
	line-height: 77.5%;
	letter-spacing: 0.065em;
	text-transform: uppercase;
	color: #4D4D4D;
}
.footer__rights--author span:last-child {
	display: block;
	width: 163px;
}


/* SCROLL TO TOP BUTTON */

.button__scroll--up {
	position: fixed;
	bottom: 100px;
	right: -150px;
	width: 50px;
	height: 50px;	
	background: rgba(249, 1, 1, 0.63);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	border-radius: 50%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
	overflow: hidden;
	z-index: 100;
}
.scroll-up {
	width: 16px;
    height: 39px;
	position: relative;
}
.scroll-up svg:last-child {
	display: none;
	opacity: 0;
}
.scroll-up svg {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.button__scroll--up:hover .scroll-up {
	height: 52px;
}
.button__scroll--up:hover svg:first-child {
	display: none;
	opacity: 0;
} 
.button__scroll--up:hover svg:last-child {
	display: block;
	opacity: 1;
} 
.button__scroll--up:hover {
	width: 66px;
	height: 66px;	
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
	        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
}
.button__scroll--up:hover path {
	fill: #F90101;
}



/* HOVERS AND ARROWS ANIMATION */

.social li:hover svg path, .footer__social li:hover svg path {
	fill-opacity: 1;
}
.social li:active svg path, .footer__social li:active svg path {
	fill-opacity: 1;
}
.experience__tabs--row li:hover, .project__tabs--row li:hover {
	color: rgba(249, 1, 1, 0.5);
}

.experience__tabs--row li:hover::after, .project__tabs--row li:hover::after {
	background: rgba(249, 1, 1, 0.5);
}
.main__screen--button:hover .content__button--text {
	color: #F90101;
}
.main__screen--button:hover .button__inner {
	background: #F90101;
	width: 60px;
	height: 60px;
}
.main__screen--button .arrow-right  {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.main__screen--button:hover .arrow-right {
	right: 27px;
}
.construction-button .arrow-right::before {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 100%;
	background: #fff;
	height: 1.5px;
	opacity: 0.5;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.construction-button:hover .arrow-right::before {
	width: calc(100% + 10px);
	opacity: 1;
	right: 2px;
}
.construction-button:hover .arrow-right {
	right: 29px;
}
.construction-button .arrow-right {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.construction-button:hover .button__inner {
	background: #F90101;
	height: 60px;
	width: 60px;
}
.construction-button:hover .arrow-right svg path {
	fill-opacity: 1;
}
.construction-button:hover .arrow-right svg path {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__button .arrow-right::before {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 100%;
	background: #F90101;
	height: 2px;
	opacity: 0.5;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__button:hover .arrow-right::before {
	width: calc(100% + 10px);
	opacity: 1;
}
.project__button:hover .arrow-right svg path {
	fill-opacity: 1;
}
.project__button:hover .arrow-right svg path {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__content--button .small__project--button .button__project--inner {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.project__content--button .small__project--button path {
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}

.main__screen--button:hover .arrow-right::before {
	width: calc(100% + 10px);
	opacity: 1;
}
.main__screen--button .arrow-right::before {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	right: 2px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 99%;
	background: #fff;
	height: 2px;
	opacity: 0.5;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}



/* BREADCRUMB */ 

.breadcrumb__row {
	height: 69px;
	left: 0px;
	top: 90px;
	background: rgba(249, 1, 1, 0.06);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 47px;
}
.breadcrumb__row--inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.breadcrumb--item:not(:last-child) { 
	margin-right: 12px;
	padding-right: 26px;
}
.breadcrumb--item {
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;	
	color: rgba(0, 0, 0, 0.7);
}
.breadcrumb--item:not(:last-child)::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background: url(../img/small-btn.svg);
}

/* ABOUT PROJECT PAGE */

.about__project--subtitle {
	font-size: 14px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.7);
	max-width: 435px;
}
.about__project--page {
	padding-bottom: 141px;
}
.about__project--inner {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about__project--info {
	width: 100%;
	max-width: 42%;
	margin-right: 50px;
}
.project__info--lower {
	font-size: 18px;
	line-height: 27px;
	color: #000000;
}
.project__info--upper {
	background: #F0F0F0;
	padding: 16px 0 15px;
	margin-bottom: 23px;
	position: relative;
}
.project__info--upper::before {
	content: "";
	display: block;
	position: absolute;
	background: #F0F0F0;
	width: 300%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
}
.project__info--upper span {
	color: rgba(249, 1, 1, 0.65);
	font-weight: bold;
	font-size: 18px;
	line-height: 170.5%;
}
.project__info--upper p {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
}
.about__project--image {
	max-width: 664px;
}
.about__project--block {
	margin-top: 136px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about__project--image-second {
	max-width: 500px;
	width: 50%;
}
.about__project--text {
	width: 50%;
	margin-left: 78px;
	max-width: 620px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.text-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: rgba(249, 1, 1, 0.65);
	margin-bottom: 12px;
}
.project__inner--text {
	font-size: 18px;
	line-height: 27px;
	color: #000000;
}
.project__text--item:first-child {
	margin-bottom: 35px;
}




/* TESTIMONIAL */

.main__testimonial--page {
	background: rgba(240, 240, 240, 0.47);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 109px 0 122px;
}
.testimonial--inner {
	background: url(../img/testimonial.png) no-repeat;
	background-position: center;
	background-size: 150px 130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 484px;
	margin: 0 auto;
}
.testimonial-title {
	text-align: center;
	font-weight: bold;
	font-size: 38px;
	line-height: 57px;
	text-transform: uppercase;
	margin-bottom: 106px;
}
.testimonial--inner p:nth-child(2) {
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 20px;
}
.testimonial--inner p:nth-child(3) {
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}