/* DEFAULT STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
input, button, textarea {
    outline: none;
}
img {
	width: 100%;
}
/* BODY */

body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
	color: rgba(0, 0, 0, 0.7);
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.main__page {
    width: 100%;
    min-height: 561px;
    height: 782px;
}
.container {
    max-width: 1254px;
	width: 100%;
	padding: 0 18px;
    margin: 0 auto;
}
.overflowed {
	overflow: hidden;
}


/* OVERALL */

.main__title--block {
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	color: rgba(249, 1, 1, 0.65);
}
.gray-bg {
	background: rgba(240, 240, 240, 0.68);
}

/* HEADER */

.main__page--header {
	background: rgba(255, 255, 255, 0.6);
	height: 89px;
	transition: all .5s ease;
	backdrop-filter: blur(25px);
}
.mobile-header {
	background: none;
}
.header--wrapper {
	transition: all .5s ease;
	height: 89px;
	z-index: 3;
	position: relative;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.header__inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 89px;
	transition: all .5s ease;
}
.header__logo {
	transition: all .5s ease;
	max-width: 251px;
}
.nav ul {
	display: flex;
	gap: 28px;
}
.nav ul li {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
.nav ul li.active-nav {
	color: rgba(249, 1, 1, 0.65);
}
.social {
	display: flex;
	gap: 21px;
}

/* HAMBURGER */

.hamburger {
	padding: 0 !important;
}
.hamburger-box {
    width: 35px !important;
    height: 24px !important;
}
.hamburger-box > div, .hamburger-box > div::after, .hamburger-box > div::before {
    width: 100%;
    height: 4px !important;
    background: rgba(249, 1, 1, 0.6) !important;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background: rgba(249, 1, 1, 0.6) !important;
}
/* MAIN PAGE SCREEN*/

.main__page--inner {
	width: 100%;
	height: calc(100% - 89px);
	display: flex;
	align-items: center;
}
.main__page--content {
	margin-top: 3%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.page__content--inner {
	display: flex;
	flex-direction: column;
}
.page__content--title {
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.page__content--title span {
	text-transform: uppercase;
}
.page__content--description {
	max-width: 452px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 60px;
}
.page__content--button {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.content__button--text {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
}
.content__button {
	margin-top: 4px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.button__inner {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: rgba(249, 1, 1, 0.6);
	position: relative;
}
.arrow-right {
	width: 66px;
	position: absolute;
	top: 50%;
	right: 22px;
	transform: translateY(-50%);
}

/* MOBILE MENU */

.main__layout {
    width: 100%;
	height: 100%;
	min-height: 465px;
    position: fixed;
    right: calc(-100% + -200px);
    top: 0;
    z-index: 2;    
	background: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    visibility: hidden;
	backdrop-filter: blur(25px);
}
.main__layout:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 100vh 0;
    border-color: transparent rgba(255, 255, 255, 0.6) transparent transparent;
    position: absolute;
    left: -200px;
    top: 0;
}
.layout__inner {
    display: flex;
    justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.main__layout.active-menu {
    right: 0;
    visibility: visible;
}
.mobile__nav ul {
	display: flex;
	flex-direction: column;
}
.mobile__social {
	display: flex;
	flex-direction: row-reverse;
	max-width: 164px;
	margin: 0 auto;
}
.mobile__nav ul li {
	text-align: center;
	font-size: 18px;
}
.mobile__nav {
	margin-bottom: 41px;
}


/* BRIEF DESCRIPTION */

.brief__inner {
	display: flex;
	gap: 47px;
	padding: 125px 0;
}
.brief__inner--title {
	font-weight: 800;
	font-size: 36px;
	line-height: 54px;	
	color: rgba(0, 0, 0, 0.7);
	max-width: 301px;
	padding-right: 23px;
	display: flex;
	align-items: center;
	border-right: 10px solid rgba(249, 1, 1, 0.65);
}
.brief__inner--description {
	max-width: 720px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;	
	color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
}


/* ABOUT BLOCK */

.main__about--page {
	margin-bottom: 126px;
}
.about__inner {
	display: flex;
	justify-content: space-between;
	gap: 42px;
	margin-bottom: 207px;
}
.about__slider--inner {
	max-width: 664px;
	padding-top: 9%;
	position: relative;
	z-index: 1;
}
.slider__absolute--item {
	z-index: -1;
}
.about__absolute--item, .about__nav {
	position: absolute;
}
.about__content--title {
	margin-bottom: 64px;
}
.about__content {
	max-width: 518px;
}
.slider__absolute--item:nth-child(1) {
	width: 22.8%;
	height: 28.6%;
	top: 0;
	left: -8.7%;
}
.slider__absolute--item:nth-child(2) {
	width: 64.2%;
	height: 11.7%;
	left: 17%;
	top: 0;
}
.slider__absolute--item:nth-child(3) {
	top: 6%;
	left: -12.5%;
	width: 68.5%;
	height: 84.6%;
}
.red-backitem {
	background: #F85853;
	border: 1px solid #F85853;
}
.gray-item {
	background: #F0F0F0;
}
.red-borderitem {
	border: 3px solid rgba(249, 1, 1, 0.7);
}
.about__nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 66%;
	height: 63px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10.4% 0 7.7%;
}
.about__content--text {
	font-weight: 300;
	font-size: 22px;
	line-height: 33px;
}
.about__content--text p:first-child {
	margin-bottom: 16px;
}
.about__nav--navigation ul {
	display: flex;
}
.about__nav--navigation li {
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: rgba(249, 1, 1, 0.5);
}
.about__nav--navigation .active-slide {
	color: #F90101;
}
.about__nav--navigation .active-slide::after {
	background: #F90101;
}
.about__nav--navigation li::after {
	content: "";
	width: 22px;
	height: 2px;
	bottom: -5px;
	left: -2px;
	background: rgba(249, 1, 1, 0.5);
	position: absolute;
	display: block;
}
.about__nav--navigation li:not(:last-child) {
	margin-right: 30px;
}
.about__nav--arrows {
	display: flex;
	margin-top: 5px;
}
.about__nav--arrows > div:not(:last-child) {
	margin-right: 16px;
}
.about__nav--arrows > div {
	cursor: pointer;
}
.about__nav--arrows .active-arrow svg path {
	transition: .3s ease;
}
.about__nav--arrows .active-arrow svg path {
	fill-opacity: 1;
}

/* about overall */

.about__overall--inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px;
}
.about__overall--block {
	border: 2px solid #F90101;
	padding: 38px 20px 38px 63px;
	z-index: -1;
	position: relative;
	max-height: 256px;
	height: 256px;
}
.about__overall--block:nth-child(2n + 1) {
	margin-bottom: 209px;
}
.about__overall--block:nth-child(2n) {
	margin-top: 209px;
}
.about__overall--block:last-child {
	padding-top: 30px;
}
.overall__block--content {
	position: relative;
	z-index: 3;
}
.overall__title {
	font-weight: 600;
	font-size: 36.3616px;
	line-height: 94.69%;
	text-transform: uppercase;	
	color: rgba(249, 1, 1, 0.22);
	margin-bottom: 13px;
}
.overall__text {
	font-weight: 300;
	font-size: 16.1607px;
	line-height: 144.19%;
}
.overall__absolute--item {
	z-index: 2;
}
.overall__absolute--item:nth-child(1) {
	width: 89.09px;
	height: 88.88px;
	top: -64px;
	left: calc(50% + 20px);
	transform: translateX(-50%);
}
.overall__absolute--item:nth-child(2) {
	width: 59%;
	height: 118%;
	top: 50%;
	transform: translateY(-50%);
	left: -3px;
}

/* EXPERIENCE */

.main__experience--inner {
	padding: 63px 0 97px;
}
.experience-mobile {
	display: none;
}
.experince__title--block {
	max-width: 250px;
}
.experience__upper--row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 101px;
}
.experience__tabs--row {
	display: flex;
	align-items: end;
	width: 60%;
}
.experience__tabs--row ul {
	width: 100%;
	display: flex;
	align-self: flex-end;
}
.experience__tabs--row li {
	width: 25%;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px
}
.experience__tabs--row li::after {
	content: "";
	width: 100%;
	height: 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(196, 196, 196, 0.56);
}
.experience__tabs--row li.active-tab::after {
	background: #F90101;

}
.experience__block--content {
	position: relative;
}
.experience__block--image {
	margin-left: auto;
	width: 60%;
}
.hidden-block {
	display: none;
}
.experience__block--text {
	padding: 43px 33px 43px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 50%;
	background: #F5F5F5;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	transition: all .3s ease;
}
.experience__block--text .p-overall p {
	text-indent: 5px;
}
.experience__block--title {
	position: relative;
	padding-right: 20px;
	padding-bottom: 6px;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
}
.experience__block--title::after {
	content: "";
	position: absolute;
	display: block;
	width: 130px;
	bottom: 0;
	height: 2px;
	background: #F5F5F5;
}
.experience__block--button {
	position: absolute;
	top: 17px;
	right: 14px;
	cursor: pointer;
	width: 40px;
	height: 40px;        
	background: rgba(249, 1, 1, 0.63);
	border-radius: 50%;
	transition: .4s ease;
}
.experience__block--button.toggled-btn {
	top: 17px !important;
	transform: none !important;
	transform: rotate(180deg) !important;
}
.experience__block--button img {
	height: 30px;
}
.opened__text {
	height: unset !important;
	padding: 60px 13px !important;
}
.opened__block {

}


/* CONTACTS BLOCK */

.main__contacts--page {
	margin: 153px 0 0;
}
.main__contacts--title {
	margin-bottom: 80px;
}
.main__map {
	position: relative;
}
.main__map iframe {
	width: 100% !important;

}
.main__contacts--content {
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 55px 68px;
}
.main__contacts--content ul {
	max-width: 343px;
}
.main__contacts--content li:not(:last-child) {
	margin-bottom: 24px;
}
.main__contacts--content a {
	display: flex;
	position: relative;
	padding-left: 48px;
}
.main__contacts--content li:nth-child(3) span:first-child {
	left: -2px;
}
.main__contacts--content span {
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;}
.main__contacts--content span:first-child {
	position: absolute;
	top: 0;
	left: 0;
}

/* FOOTER */

.footer {
	margin-top: 145px;
	border-top: 3px solid rgba(249, 1, 1, 0.65);
}
.footer__content {
	padding: 52px 0;
	display: grid;
	grid-template-columns: 287px 375px 318px;
	justify-content: space-between;
}
.footer__nav {
	padding-left: 89px;
	display: flex;
	gap: 60px;
}
.footer__nav li  {
	width: 140px;
}
.footer__nav ul li:not(:nth-child(3)), .footer__nav li:not(:last-child) {
	margin-bottom: 14px;
}
.footer__adress {
	position: relative;
	padding-left: 30px;
}
.footer__adress span:first-child {
	position: absolute;
	left: 0;
	top: 0;
}
.footer__adress span {
	font-size: 16px;
	line-height: 24px;
}
.social-mobile {
	display: none;
}

.footer__rights {
	border-top: 3px solid #F0F0F0;
	height: 76px;
	display: flex;
	align-items: center;
	position: relative;
}
.footer__rights--inner {
	display: flex;
	justify-content: space-between;
}
.footer__social ul {
	display: flex;
}
.footer__social li:not(:last-child) {
	margin-right: 21px;
}
.footer__rights--text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	line-height: 21px;
}
.footer__rights--author {
	display: flex;
	align-items: center;
}
.footer__rights--author span:first-child {
	margin-right: 21px;
	font-size: 13.5px;
	line-height: 77.5%;
	letter-spacing: 0.065em;
	text-transform: uppercase;
	color: #4D4D4D;
}
.footer__rights--author span:last-child {
	display: block;
	width: 163px;
}