@media only screen and (max-width: 1250px) {
    .header__wrapper {
        width: 96%;
    }
    .main__content--wrapper__team,
    .main__content--wrapper__contacts,
    .main__content--wrapper__ability,
    .footer__wrapper {
        width: 98%;
    }
    .main__content--wrapper__portfolio {
        width: 85%;
    }
    .main__portfolio--inner {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1160px) {
    .main__screen--about {
        font-size: 36px;
    }
    .main__screen--logan {
        font-size: 26px;
    }
    .main__content--wrapper {
        width: 90%;
    }
    .main__content--skill {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__content--skill:nth-child(2n) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .main__content--skill h2, .main__content--skill p {
        text-align: center !important;
    }
    .main__content--skill__text h2 {
        margin: 4vw 0;
    }
    .main__about--inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__section--title {
        margin: 0 auto;
    }
    .main__section--title::after {
        left: 45%;
    }
    .main__about--list {
        margin-bottom: 50px;
        max-width: 90%;
    }
    .team__person--white {
        width: 27%;
    }
    .main__team--inner_person h3 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1080px) {
    .main__screen hr {
        margin: 4vh 0;
    }
    .contacts__inner--form {
        width: 100%;
        padding-bottom: 100px;
    }
    .contacts__inner--social {
        bottom: -470px;
        top: unset;
        background: -o-linear-gradient(197deg, #DE466D 0.95%, #000000 91.75%);
        background: linear-gradient(253deg, #DE466D 0.95%, #000000 91.75%);
    }
    .contacts__inner--social ul {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        padding-top: 45px;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 200px;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .contacts__inner--social ul li:last-child {
        margin: 25px 0 25px 140px;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 80px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .contacts__inner--social ul li {
        font-size: 14px;
    }
    .contacts__inner--social ul li img {
        width: 25px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 970px) {
    .main__screen--about {
        font-size: 29px;
    }
    .main__screen--logan {
        font-size: 19px;
    }
    
    .header__nav li:not(:first-child) {
        padding: 0 1vw;
    }
    .header__nav li:first-child {
        padding: 0 1vw 0 0;
    }
    .header__nav li:nth-child(4) {
        padding: 0 1vw 0 1vw;
    }
    
    .hamburger {
        display: block !important;
    }
    .header__nav {
        display: none;
    }
    .logo {
        padding-top: 21px;
    }
    .hamburger {
        margin-top: 27px !important;
    }
    .main__content--whoweare__inner h2 {
        font-size: 35px;
        max-width: 730px;
    }
    .main__content--whoweare__inner h2 > span {
        padding: 5px 0;
    }
    .preloader {
        font-size: 26px;
    }
    .preloader__image_animate {
        left: calc(50% - 104px);
        width: 80px;
        height: 80px;
        -webkit-animation: up-down2 2s infinite;
                animation: up-down2 2s infinite;
    }
    .span {
        margin-left: 65px;
    }
    .main__team--inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__team--inner_person {
        width: 581px;
    }
    .team__person--content p {
        max-width: unset;
    }
    .main__portfolio--project h2 {
        font-size: 18px;
    }
    .main__portfolio--inner {
        padding-top: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .main__screen--about {
        font-size: 36px;
        line-height: 47px;
    }
    .main__screen--wrapper hr {
        margin: 5vh 0;
    }
    .br-desktop {
        display: none;
    }
    .main__screen--logan {
        font-size: 16px;
        line-height: 21px;
    }
    .br-mobile {
        display: block;
    }
    .whoweare__inner--arrow {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .whoweare__inner--our_projects {
        width: 150px;
        height: 150px;
        position: unset;
        margin-top: 4vw;
    }
    .whoweare__inner--our_projects h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .whoweare__inner--arrow img {
        margin: 37px 0 0 0;
    }
    .main__content--whoweare__inner h2 {
        font-size: 24px;
        max-width: 530px;
    }
    .main__content--whoweare__inner .chevron {
        margin-top: 7vh;
    }
    .main__about--image {
        display: none;
    }
    .main__about--list {
        margin-bottom: 0;
    }
    .main__about--list ul li p {
        font-size: 16px;
    }
    .main__about--list ul li p > span > span {
        width: 33px;
        height: 33px;
    }
    .main__about--list ul li p > span > span > span {
        padding: 10px 0 0 10px;
    }
    .main__about--list ul li p > span {
        padding-left: 28px;
    }
    .main__about--list ul li:last-child p > span {
        padding-left: 25px;
    }
    .main__about--list ul li:last-child p > span > span > span {
        padding: 10px 0 0 14px;
    }
    .main__about--list ul li p > span > span {
        left: -10px;
    }
    .main__about--inner {
        margin-top: 61px;
    }
    .main__portfolio--inner {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .about__sphere {
        display: none;
    }
    .main__portfolio--navigation {
        justify-content: center;
    }
    .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__nav {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .footer__nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__nav ul li {
        margin-right: 0 !important;
    }
    .footer__nav ul li:not(:last-child) {
        margin-bottom: 21px;
    }
    .footer__logo {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .footer__social {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 25px 0;
    }
    .footer__social ul li:first-child {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 660px) {
    .main__screen--about {
        font-size: 24px;
        line-height: 28px;
    }

    .navigation__block {
        display: none;
    }
    .preloader {
        font-size: 18px;
    }
    .preloader__image_animate {
        left: calc(50% - 73px);
        width: 50px;
        height: 50px;
        -webkit-animation: up-down3 2s infinite;
                animation: up-down3 2s infinite;
    }
    .preloader__text {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    .span {
        margin-left: 45px;
    }
    .main__team--inner_person h2 {
        font-size: 18px;
    }
    .main__team--inner_person h3 {
        font-size: 14px;
    }
    .team__person--content p {
        font-size: 9px;
        max-width: 250px;
        line-height: 160%;
    }
    .main__team--inner_person {
        height: 257px;
        width: 400px;
    }
    .team__person--content img {
        width: 122px;
    }
    .team__person--white {
        width: 30%;
    }
    .mobile__menu ul li a {
        line-height: 25px;
    }
}
@media only screen and (max-width: 540px) {
    
    .main__content--whoweare__inner h2 {
        font-size: 18px;
        max-width: 384px;
    }
    .main__about--list ul li p {
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.255em;
    }
    .main__section--title {
        font-size: 24px;
    }
    .main__section--title::after {
        left: 40%;
    }
    .main__content--describe {
        padding: 50px 0 6.4vw;
    }
    .main__content--wrapper__about {
        padding: 49px 0 61px;
    }
    .main__about--list ul li p > span > span {
        width: 30px;
        height: 30px;
    }
    .main__about--list ul li:last-child p > span {
        padding-left: 23px;
    }
    .main__about--list ul li p > span {
        padding-left: 25px;
    }
    .contacts__inner--social ul li {
        font-size: 9px;
    }
    .contacts__inner--social ul li img {
        width: 15px;
    }
    .contacts__inner--social ul {
        padding-top: 20px;
    }
    .contacts__inner--social {
        bottom: -190px;
        width: 340px;
        height: 340px;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 120px;
    }
    .contacts__inner--social ul li:last-child {
        margin: 25px 0 25px 80px;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 45px;
    }
    .main__content--wrapper__contacts {
        width: 85%;
        padding: 35px 0 0;
        margin-bottom: 14px;
    }
    .contacts__inner--form {
        padding-top: 30px;
    }
    .form__submit {
        width: 91px;
        height: 31px;
        font-size: 14px;
    }
    .form__group--row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .form__group--row:not(:last-of-type) {
        margin-bottom: 21px;
    }
    .form__group--input {
        width: 100%;
        font-size: 14px;
    }
    .form__group--input::-webkit-input-placeholder {
        font-size: 14px;
    }
    .form__group--input::-moz-placeholder {
        font-size: 14px;
    }
    .form__group--input:-ms-input-placeholder {
        font-size: 14px;
    }
    .form__group--input::-ms-input-placeholder {
        font-size: 14px;
    }
    .form__group--input::placeholder {
        font-size: 14px;
    }
    .form__group--input:not(:last-of-type) {
        margin-bottom: 21px;
    }
    .form__group--row:last-of-type {
        margin-top: 0;
    }
    .contacts__inner--social {
        background: -o-linear-gradient(301deg, #DE466D 0.95%, #000000 27.75%);
        background: linear-gradient(149deg, #DE466D 0.95%, #000000 27.75%);
    }
    .main__content--wrapper__ability {
        padding-top: 60px;
    }
    .contacts__inner--social ul li svg {
        margin-right: 13px;
        width: 20px;
    }

}
@media only screen and (max-width: 425px) {
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 33%;
        left: 35%;
    }
    .main__screen {
        background: url('../img/main__mobile-background.webp') no-repeat;
        background-position: 0 -101px;
        background-size: cover;
    }
    .main__screen--about {
        font-size: 18px;
        line-height: 28px;
    }
    .main__screen--logan {
        font-size: 14px;
        line-height: 26px;
    }
    .main__screen hr {
        margin: 2vh 0;
    }
    .chevron {
        display: none;
    }
    .main__screen--contact__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .main__content--about {
        font-size: 14px;
        line-height: 139.9%;
    }
    .main__content--skill__logo {
        width: 100px;
        height: 100px;
    }
    .main__content--skill__text h2 {
        font-size: 18px;
        line-height: 119.04%;
    }
    .main__content--skill__text p {
        font-size: 10px;
        line-height: 180%;
    }
    .main__content--about {
        padding-top: 32px;
    }
    .main__content--skill__text h2 {
        margin: 24px 0;
    }
    .main__content--skill:not(:last-child) {
        margin-bottom: 41px;
    }
    .main__content--whoweare__inner h2 > span {
        background: none;
        display: inline;
        padding: 0;

    }
    .main__content--whoweare__inner h2 > span > span {
        background: #DE466D;
        display: block;
        max-width: 100px;
        margin: 0 auto;
    }
    .main__content--whoweare__inner h2 {
        max-width: 284px;
        line-height: 198.9%;
        letter-spacing: 0.15em;
    }
    .br-mobile__whoweare {
        display: inline;
    }
    .main__content--wrapper__team {
        width: 100%;
        padding: 52px 17px 56px;
    }
    .main__team--inner_person {
        width: 100%;
    }
    .team__person--white {
        width: 114px;
    }
    .team__person--black {
        width: unset;
    }
    .main__section--title::after {
        left: 30%;
    }
    .team__person--white {
        padding: 8px 1px 8px 0;
    }
    .main__portfolio--project p {
        font-size: 13px;
        text-align: center;
        margin: 22px 0 35px;
    }
    .main__portfolio--project {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px 6px 29px 6px;
        border: 1px solid #FFFFFF;
        background: url('../img/ellipse-mini.svg') no-repeat;
        background-position: 100% 100%;
    }
    .main__portfolio--project h2 {
        text-align: center;
    }
    .main__portfolio--project a {
        width: 100%;
        text-align: right;
    }
    .main__portfolio--project:hover a {
        color: #fff;
        text-decoration: underline;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 110px;
    }
    .contacts__inner--social ul li:last-child {
        margin: 25px 0 25px 62px;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 18px;
    }
    .contacts__inner--social ul li svg {
        margin-right: 10px;
        width: 15px;
    }
    .main__portfolio--navigation {
        display: none;
    }
}



@media only screen and (min-height: 800px) and (min-width: 660px) {
    .sphere {
        bottom: 30%;
    }
}
@media only screen and (min-height: 1300px) and (min-width: 660px) {
    .sphere {
        bottom: 35%;
    }
}







@media only screen and (max-height: 700px) and (min-width: 660px) {
    .main__screen {
        padding-top: 2.2vh;
    }
}


@media only screen and (max-height: 550px) and (min-width: 660px) {
    .chevron {
        margin-top: 14vh;
    }
    .main__screen--wrapper hr {
        margin: 4vh 0;
    }
    
    .navigation__block {
        display: none;
    }
    .main__content--whoweare__inner {
        padding-bottom: 50px;
    }
    .main__content--whoweare__inner .chevron {
        margin-top: 110px;
    }
    .main__content--wrapper__portfolio .chevron {
        margin: 76px auto 0;
    }
}

@media only screen and (max-height: 440px) and (min-width: 660px) {
    .main__screen--wrapper hr {
        margin: 2vh 0;
    }
    .main__screen--about {
        font-size: 24px;
        line-height: 28px;
    }
    .main__screen--logan {
        font-size: 2vw;
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 80px;
    }
}


@media only screen and (max-height: 390px) and (max-width: 660px) {
    .chevron {
        margin-top: 7vh;
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 40%;
    }
}

@media only screen and (max-height: 900px) and (min-height: 850px) and (min-width: 768px) {
    .main__content--wrapper__whoweare .chevron {
        margin-top: 15vh;
    }
}
@media only screen and (max-height: 850px) and (min-height: 800px) and (min-width: 768px) {
    .main__content--wrapper__whoweare .chevron {
        margin-top: 12vh;
    }
}
@media only screen and (max-height: 1000px) and (min-height: 900px) and (min-width: 768px) {
    .about__sphere {
        bottom: 250px !important;   
    }
}
@media only screen and (min-height: 800px) and (max-height: 1000px) and (min-width: 768px) {
    .main__content--wrapper__whoweare {
        height: 100vh;
    }
}
@media only screen and (min-height: 850px) and (max-height: 1000px) and (min-width: 970px) {
    .main__content--wrapper__team {
        height: 100vh;
    }
}
@media only screen and (min-height: 850px) and (max-height: 1000px) and (min-width: 1160px) {
    .main__content--wrapper__portfolio,
    .main__content--wrapper__about {
        height: 100vh;
    }
}

@media only screen and (max-height: 425px) and (min-width: 568px) {
    .header {
        height: 74px;
    }
    /* .mobile__menu--overlay {
        top: 74px;
        height: calc(100vh - 74px);
    } */
    .main__screen {
        max-height: calc(100vh - 74px);
    }
}   


@media only screen and (min-width: 1440px) {
    #particles-js1, #particles-js2 {
        width: 18vw;
        height: 18vw;
    }

}
@media only screen and (min-width: 425px) {
    .mobile__menu ul li:not(:last-child) {
        margin-bottom: 8vh;
    }
    .mobile__menu ul li a {
        font-size: 6vh;
    }
}










@media only screen and (max-height: 550px) and (max-width: 660px) {
    .main__screen {
        padding-top: 1.2vh;
    }
}
@media only screen and (max-height: 550px) and (max-width: 425px) {
    .main__screen--contact__block {
        right: 10px;
    }
    .main__screen {
        background-position: 0 -207px;
    }
}
@media only screen and (max-height: 550px) and (max-width: 360px) {
    .main__screen {
        background-position: center;
    }
}


@media only screen and (orientation: landscape) { 
        .mobile__menu--overlay {
            overflow-y: scroll;
            overflow-x: hidden !important;
        }
}
