@media only screen and (max-width: 1440px) {
    .navigation__block {
        right: 3vw;
    }
}


@media only screen and (max-width: 1250px) {
    .header__wrapper {
        width: 96%;
    }
}

@media only screen and (max-width: 1160px) {
    .main__screen--about {
        font-size: 36px;
    }
    .main__screen--logan {
        font-size: 26px;
    }
    .main__content--wrapper {
        width: 90%;
    }
    .main__content--skill {
        flex-direction: column;
        align-items: center;
    }
    .main__content--skill:nth-child(2n) {
        flex-direction: column-reverse;
    }
    .main__content--skill h2, .main__content--skill p {
        text-align: center !important;
    }
    .main__content--skill__text h2 {
        margin: 4vw 0;
    }
}
@media only screen and (max-width: 1080px) {
    .main__screen hr {
        margin: 4vh 0;
    }
}
@media only screen and (max-width: 970px) {
    .main__screen--about {
        font-size: 29px;
    }
    .main__screen--logan {
        font-size: 19px;
    }
    
    .header__nav li:not(:first-child) {
        padding: 0 1vw;
    }
    .header__nav li:first-child {
        padding: 0 1vw 0 0;
    }
    .header__nav li:nth-child(4) {
        padding: 0 1vw 0 1vw;
    }
    
    .hamburger {
        display: block !important;
    }
    .header__nav {
        display: none;
    }
    .logo {
        padding-top: 21px;
    }
    .hamburger {
        margin-top: 27px !important;
    }
}
@media only screen and (max-width: 768px) {
    .main__screen--about {
        font-size: 36px;
        line-height: 47px;
    }
    .main__screen--wrapper hr {
        margin: 5vh 0;
    }
    .br-desktop {
        display: none;
    }
    .main__screen--logan {
        font-size: 16px;
        line-height: 21px;
    }
    .br-mobile {
        display: block;
    }
}
@media only screen and (max-width: 660px) {
    .main__screen--about {
        font-size: 24px;
        line-height: 28px;
    }

    .navigation__block {
        display: none;
    }
}
@media only screen and (max-width: 425px) {
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 33%;
        left: 35%;
    }
    .main__screen {
        background: url('../img/main__mobile-background.webp') no-repeat;
        background-position: 0 -101px;
        background-size: cover;
    }
    .main__screen--about {
        font-size: 18px;
        line-height: 28px;
    }
    .main__screen--logan {
        font-size: 14px;
        line-height: 26px;
    }
    .main__screen hr {
        margin: 2vh 0;
    }
    .chevron {
        display: none;
    }
    .main__screen--contact__block {
        display: flex;
    }
    .main__content--about {
        font-size: 14px;
        line-height: 139.9%;
    }
    .main__content--skill__logo {
        width: 100px;
        height: 100px;
    }
    .main__content--skill__text h2 {
        font-size: 18px;
        line-height: 119.04%;
    }
    .main__content--skill__text p {
        font-size: 10px;
        line-height: 180%;
    }
    .main__content--about {
        padding-top: 32px;
    }
    .main__content--skill__text h2 {
        margin: 24px 0;
    }
    .main__content--skill:not(:last-child) {
        margin-bottom: 41px;
    }
}









@media only screen and (min-height: 800px) and (min-width: 660px) {
    .sphere {
        bottom: 30%;
    }
}
@media only screen and (min-height: 1300px) and (min-width: 660px) {
    .sphere {
        bottom: 35%;
    }
}







@media only screen and (max-height: 900px) {
    .navigation__block {
        bottom: 4vh;
    }
}





@media only screen and (max-height: 700px) and (min-width: 660px) {
    .main__screen {
        padding-top: 2.2vh;
    }
}


@media only screen and (max-height: 550px) and (min-width: 660px) {
    .chevron {
        margin-top: 7vh;
    }
    .main__screen--wrapper hr {
        margin: 4vh 0;
    }
    
    .navigation__block {
        display: none;
    }
}

@media only screen and (max-height: 440px) and (min-width: 660px) {
    .chevron {
        margin-top: 3vh;
    }
    .main__screen--wrapper hr {
        margin: 2vh 0;
    }
    .main__screen--about {
        font-size: 24px;
        line-height: 28px;
    }
    .main__screen--logan {
        font-size: 1vw;
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 80px;
    }
}


@media only screen and (max-height: 390px) and (max-width: 660px) {
    .chevron {
        margin-top: 7vh;
    }
    .header {
        height: 74px;
    }
    .main__screen {
        max-height: calc(100vh - 74px);
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 40%;
    }
}








@media only screen and (min-width: 1440px) {
    #particles-js1, #particles-js2 {
        width: 18vw;
        height: 18vw;
    }

}
@media only screen and (min-width: 425px) {
    .mobile__menu ul li:not(:last-child) {
        margin-bottom: 12vh;
    }
    .mobile__menu ul li a {
        font-size: 6vh;
    }
}










@media only screen and (max-height: 550px) and (max-width: 660px) {
    .main__screen {
        padding-top: 1.2vh;
    }
}
@media only screen and (max-height: 550px) and (max-width: 425px) {
    .main__screen--contact__block {
        right: 10px;
    }
    .main__screen {
        background-position: 0 -207px;
    }
}
@media only screen and (max-height: 550px) and (max-width: 360px) {
    .main__screen {
        background-position: center;
    }
}
