/* OVERALL */
* {
    box-sizing: border-box;
}
ul, li {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
}
html, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
button, button:focus {
    outline: none;
}
.hidden {
    display: none;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

/* HEADER */

.header {
    height: 104px;
    width: 100%;
    overflow: hidden;
}
.header__wrapper {
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header__nav {
    height: 100%;
}
.header__nav ul {
    height: 100%;
    display: flex;
}
.header__nav li:not(:first-child) {
    padding: 0 1.4vw;
}
.header__nav li:first-child {
    padding: 0 1.4vw 0 0;
}
.header__nav li:nth-child(4) {
    padding: 0 2.9vw 0 1.4vw;
}
.header__nav li:not(:last-child) a:before {
    height: .1em;
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    top: 30px;
    left: 50%;
    background: orange;
    background: linear-gradient(270deg,#00f,#ff1493);
    background: transparent;
    transition: all .3s;
}
.header__nav li:not(:last-child) a:hover {
    color: hsla(0,0%,100%,.6);
}
.header__nav li a:hover::before {
    width: 100%;
    left: 0;
    background: linear-gradient(
270deg
,#00f,#ff1493);
    background: #fff;
    opacity: .7;
}
.animated__link {
    padding: 0 1.95vw 0 1.95vw !important;
    position: relative;
    border: 2px solid #DE466D;
    border-top: none;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    overflow: hidden;
}
.animated__link span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(222,70,109,1);
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.animated__link:hover a {
    font-weight: 600;
}
.animated__link:hover {
    transform: translateZ(0);
}
.animated__link:hover span {
    width: 225%;
    height: 562.5px;
}
.header__nav li a {
    text-transform: uppercase;
    color: #FEFEFE;
    transition: 0.4s;
    margin-top: 43px !important;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}
.header__nav li.active__link a {
    font-weight: 500;
}
.logo {
    color: #FEFEFE;
    text-transform: uppercase;
    padding-top: 33px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

}
.hamburger {
    display: none !important;
    padding: 0 !important;
    height: 20px;
    margin-top: 37px !important;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #fff !important;
    height: 1.33px !important;
}
.hamburger-box {
    width: 26px !important;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 26px !important;
}
/* MAIN */

.main {
    width: 100%;
    position: relative;
}
.main__screen {
    width: 100%;
    height: 1080px;
    max-height: calc(100vh - 104px);
    background: url('../img/main-background.webp') no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 16.2vh;
    position: relative;
    overflow: hidden;
}
.main__screen--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__screen--wrapper hr {
    margin: 7vh 0;
    height: 3px;
    width: 143px;
    background: #fff;
}
.main__screen--about {
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.34);    
}
.main__screen--logan {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
}
.chevron {
    display: block;
    margin-top: 20vh;
    position: relative;
    cursor: pointer;
    padding: 5px;
}
.chevron::after, .chevron::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transition: all .4s ease;
}
.chevron::before {
    top: 0;
    left: -12px;
    transform: rotate(216deg);
}
.chevron::after {
    top: 0;
    left: 12px;
    transform: rotate(143deg);
}
.chevron:hover::after, 
.chevron:hover::before {
    box-shadow: 1px -3px 12px 1px rgb(255 255 255 / 48%);
    height: 4px;
    width: 32px;
}
.chevron:hover::after {
    left: 12px;
}
.chevron:hover::before {
    left: -12px;
}
.br-mobile {
    display: none;
}
.sphere {
    position: absolute;
    bottom: 150px;
    left: 22%;

}
canvas {
    display: block;
    border-radius: 50%;
    background: transparent;
}
#particles-js1, #particles-js2 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    background: transparent;
}
.navigation__block {
    position: fixed;
    bottom: 112px;
    right: 100px;
}
.navigation__block ul {
    display: flex;
    flex-direction: column;
    height: 212px;
    align-items: center;
    justify-content: space-between;
}
.navigation__block ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DE466D ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation__block ul li a:not(.navigation__active) {
    background: black;
}
.navigation__block ul li a {
    width: 16px;
    height: 15px;
    display: block;
    border-radius: 50%;
    transition: all .3s ease-in;
}

/* MOBILE MENU */

.mobile__menu--overlay {
    height: calc(100% - 104px);
    width: 100%;
    position: absolute;
    top: 104px;
    left: 0;
    background: #000;
}
.mobile__menu {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 3vh;
}
.mobile__menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mobile__menu ul li.active__link a {
    font-weight: 500;
}
.mobile__menu ul li {
    text-align: center;
}
.mobile__menu ul li:not(:last-child) {
    margin-bottom: 32px;
}
.mobile__menu ul li a {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-transform: uppercase;
}
.main__screen--contact__block {
    position: absolute;
    cursor: pointer;
    display: none;
    padding: 0 10px;
    bottom: 32px;
    right: 40px;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(222, 70, 109, 0.8) 0%, rgba(36, 74, 252, 0.8) 100%);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.main__screen--contact__block h2 {
    font-size: 8px;
    font-weight: 600;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}
.mobile--contact {
    display: flex;
}

/* MAIN CONTENT */

.main__content {
    width: 100%;
}
.main__content--wrapper {
    max-width: 1050px;
    margin: 0 auto; 
}
.main__content--about {
    padding: 3.9vw 0 6.4vw;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.03em;
}
.main__content--skills {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.main__content--skill {
    display: flex;
    justify-content: space-between;
}
.main__content--skill:not(:last-child) {
    margin-bottom: 1.5vw;
}
.main__content--skill__logo {
    background: rgba(222, 70, 109, 0.25);
    border: 1px solid #DE466D;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease;
    transition-delay: .4s;
    cursor: pointer;
}
.main__content--skill__logo svg {
    width: 50%;
}
.main__content--skill__text {
    max-width: 794px;
}
.main__content--skill__text h2 {
    margin-bottom: 1vw;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 119.04%;
    text-align: left;
    text-transform: uppercase;
}
.main__content--skill__text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 145.4%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: left;
}
.main__content--skill:nth-child(2n) p {
    text-align: right;
}
.main__content--skill:nth-child(2n) h2 {
    text-align: right;
}
.main__content--skills .chevron {
    margin: 57px auto 0;
}
.main__content--skill__logo svg path {
    transition: fill .3s ease;
    transition-delay: .4s;
}
.main__content--skill__logo:hover {
    background: #DE466D;
	-webkit-animation: rotate-vert-center 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.main__content--skill__logo:hover svg path{
    fill: #fff !important;
    fill-opacity: 1;
}
.preloader {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    background: #000;
    letter-spacing: 5px;
    font-size: 35px;
    font-weight: 100;
    z-index: 1000;
  }
  
  .preloader__text {
    position: absolute;
    top: 50%;
    left: calc(50% - 195px);
  }
  
  .span {
    margin-left: 105px;
  }
  
  .preloader__image_animate {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 40px);
    left: calc(50% - 100px);
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s linear;
    animation: up-down 2s infinite;
  }
  
  @keyframes up-down {
    0% {
        top: calc(50% - 40px);
    }
    25% {
        top: calc(50% - 30px);
    }
    75% {
        top: calc(50% - 30px);
    }
    100% {
        top: calc(50% - 40px);
    }
    from{
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
@-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
@keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  