@media only screen and (max-width: 1650px) {
  .comparison__screen .auction-item {
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1600px) {
  .ms-container {
    max-width: 1250px;
  }
  .slider__inner {
    padding: 127px 0 166px;
  }
  .new-price {
    font-size: 19px;
    line-height: 17px;
  }
  .old-price {
    font-size: 14px;
    line-height: 19px;
  }
  .item-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
  }
  .hamburger {
    width: 24px !important;
    height: 18px !important;
  }
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    background: var(--black) !important;
    width: 24px !important;
    height: 2px !important;
  }
  .hamburger-inner:before {
    top: -8px !important;
  }
  .hamburger--collapse .hamburger-inner:after {
    top: -16px !important;
  }
  .hamburger-box {
    width: 24px !important;
    height: 18px !important;
  }
  .header-phone svg:nth-child(3) {
    width: 11px;
    height: 8px;
  }
  .header-cabinet img {
    width: 16px;
    height: 16px;
  }
  .search-btn button {
    font-size: 18px;
    font-weight: 400;
  }
  .abs-arrow svg {
    width: 42px;
    height: 46px;
  }
  .header-phone > svg:first-child {
    width: 16px;
    height: 16px;
  }
  .header__tools select {
    width: 58px;
    height: 32px;
    font-size: 16px;
    line-height: 21px;
  }
  .badghed::after {
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 19px;
  }
  .tools-text {
    height: 42px;
  }
  body {
    font-size: 16px;
  }
  .about-title {
    font-size: 16px;
    line-height: 20px;
  }
  .about-desc {
    font-size: 13px;
    line-height: 20px;
  }
  .header__logo {
    max-width: 168px;
  }
  .input-wrapper,
  .search-btn {
    height: 49px;
  }
  .shop-text {
    font-size: 18px;
  }
  .auction-badges > div {
    height: 40px;
    line-height: 15px;
  }
  .auction-price-old {
    font-size: 14px;
  }
  .auction-tools {
    top: 10px;
    right: 12px;
  }
  .h1 {
    font-size: 40px;
    line-height: 25px;
  }
  .catalog__inner--filter {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    margin-right: 20px;
  }
  .catalog__inner--carts {
    width: calc(100% - 270px);
  }
  .main__subtitle {
    margin-bottom: 30px;
  }
  .catalog__items {
    margin: 0 -10px;
  }
  .selected__filter {
    margin: 0 -10px;
  }
  .auction-name {
    font-size: 14px;
  }
  .catalog__items .auction-item {
    width: 302px;
  }
  .subscribe-social p {
    font-size: 14px;
    margin-right: 15px;
  }
  .social a:first-child img {
    margin-right: 15px;
  }
  .social img {
    height: 36px;
    width: 36px;
  }
  .email-text {
    font-size: 14px;
    max-width: 275px;
  }
  .auction-tool svg {
    width: 30px;
    height: 30px;
  }
  .auction-tool {
    height: 30px;
  }
  .cart-items li a svg {
    width: 32px;
    height: 32px;
  }

  .header__main--wrapper {
    height: 110px;
  }
  .slider-title {
    font-size: 40px;
    line-height: 54px;
  }
  .slider-subtitle {
    font-size: 50px;
    line-height: 60px;
  }
  .about-img {
    margin-right: 15px;
  }
  .about-img svg {
    width: 100%;
    height: 100%;
  }
  .col-6 .about-img {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .col-6:nth-child(2) .about-img svg {
    width: 52px;
    height: 49px;
  }
  .col-6:nth-child(3) .about-img svg {
    width: 52px;
    height: 52px;
  }
  .col-6:nth-child(4) .about-img svg {
    width: 57px;
    height: 57px;
  }
  .col-6:nth-child(1) .about-img svg {
    width: 72px;
    height: 49px;
  }
  .subscribe-email img {
    width: 66px;
    height: 66px;
    margin-right: 15px;
  }
  .subscribe-input {
    width: 270px;
    height: 50px;
    margin-right: 15px;
  }
  .subscribe-btn {
    width: 140px;
    font-size: 16px;
    height: 50px;
  }
  .footer__list-first {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .subscribe__wrapper > div:not(:last-child) {
    margin-right: 20px;
  }
  .footer-logo {
    width: 140px;
  }
  .footer__list li {
    font-size: 16px;
    line-height: 30px;
  }
  .filter__category--title {
    font-size: 18px;
    line-height: 25px;
  }
  .filter__item label {
    font-size: 18px;
  }
  .info-collapse {
    font-size: 16px;
  }
  .phone-collapse {
    line-height: 25px;
    font-size: 16px;
  }
  .section-title {
    font-size: 40px;
    line-height: 56px;
  }
  .info-btn {
    height: 40px;
    font-size: 16px;
    margin: 0 9px;
  }
  .auction-price-new,
  .info-price {
    font-size: 20px;
    line-height: 20px;
  }
  .auction-price-btn,
  .info-buy {
    width: 41px;
    height: 41px;
  }
  .info-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41px;
    flex: 0 0 41px;
    height: 41px;
  }
  .auction-reviews svg {
    margin-right: 5px;
  }
  .info-auction-collapse {
    padding: 9px;
  }
  .filter__category {
    padding: 0 0 7px;
  }
  .filter__item label {
    padding-left: 28px;
  }
  .filter__category--title {
    padding: 15px 0;
  }
  .sort {
    width: 222px;
    height: 45px;
  }
  .auction-rate,
  .auction-price {
    padding: 0 9px;
  }
  .auction__slider .slick-slide {
    margin: 0 9px;
  }
  .auction-name {
    padding: 0 9px;
  }
  .auction-price-btn svg,
  .info-buy svg {
    width: 25px;
    height: 25px;
  }
  .info-text {
    font-size: 14px;
    line-height: 19px;
    margin-right: 10px;
  }
  .auction-stars img {
    width: 20px;
    height: 20px;
  }
  .auction-reviews svg {
    width: 25px;
    height: 25px;
  }
  .auction-badges > .discount.active {
    font-size: 20px;
  }
  .add-btn {
    max-width: 290px;
    height: 50px;
  }
  .add-btn svg {
    margin-right: 8px;
  }
  .card-rate img {
    width: 25px;
    height: 25px;
  }
  .card__menu a {
    font-size: 16px;
    line-height: 21px;
  }
  .card__menu {
    padding: 21px 15px;
  }
  .add-card-btn svg {
    width: 17px;
    height: 17px;
    margin-left: 10px;
  }
  .add-card-btn {
    width: 218px;
    height: 55px;
    font-size: 16px;
    line-height: 25px;
  }
  .credit-btn {
    font-size: 16px;
    line-height: 25px;
    width: 178px;
    height: 55px;
  }
  .click-btn {
    font-size: 16px;
    line-height: 25px;
  }
  .click-btn span {
    display: none;
  }
  .card-tools svg {
    width: 32px;
    height: 32px;
  }
  .card-content > div:not(.availability):not(:last-child) {
    margin-bottom: 15px;
  }
  .card-btn-row > a {
    margin-top: 0;
  }
  .deliver-wrapper {
    padding: 15px;
  }
  .card-btn-row > a:not(:last-child) {
    margin-right: 12px;
  }
  .card__slider--wrapper {
    max-width: 91px;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .card__inner--block {
    margin-top: 53px;
  }
  .card-left {
    top: -30px;
  }
  .card-right {
    bottom: -35px;
  }
  .card__image {
    height: 511px;
  }
  .card-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
  }
  .card-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
  }

  .feature-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    margin: 15px;
  }
  .feature-name {
    font-size: 16px;
    line-height: 19px;
    height: 40px;
    margin-bottom: 10px;
  }
  .feature-text {
    font-size: 14px;
    line-height: 19px;
    height: 40px;
  }
  .feature-content {
    margin-top: 15px;
  }
  .specs__subtitle h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .specs__feature {
    margin-bottom: 60px;
  }
  .complectation-text {
    font-size: 18px;
  }
  .video-inner video {
    width: 826px;
    height: 448px;
  }
  .question-name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .question__action:first-child .question-img {
    margin-right: 24px;
  }
  .question__action:last-child .question-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 96px;
    flex: 0 0 96px;
    margin-right: 24px;
  }
  .question-btn {
    width: 193px;
    height: 55px;
    font-size: 18px;
    line-height: 24px;
  }
  .question__action {
    padding: 23px 20px;
  }
  .review__inner {
    padding: 30px;
  }
  div.input-form-wrapper input,
  div.input-form-wrapper select {
    height: 63px;
  }
  .form-textarea--wrapper {
    height: 184px;
  }
  .review__form label {
    font-size: 16px;
    line-height: 19px;
  }
  .form-review--btn {
    width: 196px;
    height: 63px;
  }
  .popup-title,
  .popup-title span {
    padding-bottom: 20px;
  }
  .popup-title {
    padding-top: 20px;
    padding-right: 30px;
  }
  .popup-content {
    padding: 20px 30px;
  }
  .popup-cross {
    top: 20px;
    right: 30px;
  }
  .form-inner,
  a.register {
    width: 357px;
  }
  .input-warn {
    font-size: 13px;
    line-height: 15px;
  }
  .auth-btn {
    width: 261px;
  }
  .popup__check {
    font-size: 14px;
  }
  .popup__check label {
    padding-left: 35px;
  }
  .popup__form--btn {
    height: 61px;
  }
  .credit-inner {
    width: 1110px;
  }
  .credit-col:nth-child(2),
  .credit-col:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 34%;
    flex: 0 0 34%;
  }
  .credit-col span {
    font-size: 18px;
    line-height: 24px;
  }
  .credit-col {
    height: 66px;
  }
  .credit-price,
  .choose-btn {
    font-size: 18px;
    line-height: 25px;
  }
  .credit-price span {
    font-size: 30px;
    line-height: 40px;
  }
  .credit-price {
    font-size: 18px;
  }
  .cart-phone a {
    font-size: 20px;
    line-height: 24px;
  }
  .cart__inner {
    margin: 0 0 80px;
  }
  .cart-img {
    width: 123px;
    height: 117px;
  }
  .cart-content {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .cart-col:nth-child(2) {
    margin: 0 0;
  }
  .cart-col .auction-info {
    max-width: 250px;
  }
  .cart-col:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 338px;
    flex: 0 0 338px;
  }
  .cart-col:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 118px;
    flex: 0 0 118px;
    padding-right: 0;
    margin: 0 30px;
  }
  .cart-delete svg {
    width: 26px;
    height: 26px;
  }
  .cart-count--input input {
    width: 39px;
  }
  .cart-count--input button {
    width: 27px;
  }
  .cart-count--input {
    width: 91px;
    height: 29px;
  }
  .cart-sidebar--title {
    font-size: 26px;
    line-height: 35px;
  }
  .sidebar-row span {
    width: 50%;
  }
  .sidebar-row span:first-child {
    font-size: 16px;
    line-height: 22px;
  }
  .sidebar-row span:last-child {
    font-size: 16px;
    line-height: 22px;
  }
  .cart-sidebar--btn {
    width: 225px;
    height: 57px;
    font-size: 16px;
    line-height: 22px;
  }
  .cart__sidebar--inner {
    padding: 15px;
  }
  .cart-sidebar--inner hr {
    margin: 15px 0 20px;
  }
  .cart__body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72.5%;
    flex: 0 0 72.5%;
    margin-bottom: 80px;
  }
  .cart-name {
    font-size: 24px;
    line-height: 33px;
  }
  .cart-collapse-block .accessories-title {
    font-size: 16px;
    line-height: 19px;
  }
  .cart-collapse-block .row > * {
    padding: 0 5px;
  }
  .cart-collapse-block {
    padding: 15px 15px 0;
  }
  .cart-collapse--item {
    margin-bottom: 60px;
  }
  .cart-contacts {
    margin-bottom: 40px;
  }
  .cart-delivery {
    margin-bottom: 60px;
  }
  .delivery__scheme--inner ul {
    width: 225px;
  }
  .scheme-item .hours,
  .scheme-item .day {
    font-size: 18px;
    line-height: 24px;
  }
  .map {
    width: calc(100% - 260px);
  }
  .cart-delivery--item__select {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .cart-delivery-title {
    font-size: 20px;
  }
  .cart-delivery-price {
    font-size: 20px;
    line-height: 24px;
  }
  .cart-delivery--item {
    padding: 30px 15px 20px;
  }
  .checkbox-cart--wrapper {
    width: 29px;
    height: 29px;
    margin-right: 28px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29px;
    flex: 0 0 29px;
  }
  .checkbox-cart--wrapper::after {
    width: 13px;
    height: 13px;
  }
  .delivery-title svg {
    width: 41px;
    height: 41px;
    margin: 0 15px;
  }
  .delivery-title a {
    font-size: 26px;
    line-height: 35px;
  }
  .cart-delivery--item .input__group:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .cart-delivery--item .input__group:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .cart-delivery--item .input__group:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .delivery__scheme--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .map {
    width: 100%;
    margin-top: 20px;
  }
  .delivery__scheme--inner ul {
    width: 100%;
  }
  .cart-delivery--item .input-row {
    margin-left: 57px;
  }
  .cart-sidebar--inner p {
    font-size: 14px;
    line-height: 19px;
  }
  .comparison__screen {
    margin-bottom: 40px;
  }
  .outline-btn {
    width: 215px;
    height: 61px;
    font-size: 18px;
    line-height: 25px;
  }
  .table__main--col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    margin-right: 0;
  }
  .table__mobile--row {
    width: calc(100% - 270px);
  }
  .table__main--col span {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .table--inner-col {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .table-ellipse {
    width: 42px;
    height: 42px;
    margin-right: 20px;
  }
  .table-ellipse img {
    width: 28px;
    height: 28px;
  }
  .table--inner-col,
  .table-complectation {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__screen {
    margin-bottom: 40px;
  }
  .contacts-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
  }
  .contacts__content--title {
    font-size: 18px;
    line-height: 24px;
  }
  .contacts__content--inner p:nth-child(2) {
    margin-bottom: 15px;
  }
  .contacts-label label {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts__form--btn {
    font-size: 18px;
    line-height: 25px;
    width: 230px;
    height: 57px;
  }
  .reveal-content {
    width: 200px;
  }
  .abs-it {
    left: 14%;
  }
  .auction-price-btn.none-btn {
    width: 95px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  .map {
    min-height: 211px;
  }
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1220px) {
  .header__upper--wrapper > div:not(:last-child) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .header__upper--wrapper > div.header-catalog {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
  }
  .header__search-bar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
  .item-name {
    font-size: 14px;
  }
  .old-price {
    margin-right: 8px;
    font-size: 14px;
  }
  .new-price {
    font-size: 18px;
    line-height: 31px;
  }
  .form-collapse--body li {
    padding: 10px;
  }
  .slider-img img {
    width: unset;
  }
  .subscribe__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-grid;
    display: grid;
  }
  .subscribe-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .subscribe-social p {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .subscribe__wrapper > div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .col-6 .about-item .about-img svg {
    width: 62px;
    height: 62px;
  }
  .col-6 about-item .about-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62px;
    flex: 0 0 62px;
  }
  .card__inner--block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .card-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 0 50px;
  }
  .feature-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
  .credit-price span {
    font-size: 20px;
    line-height: 25px;
  }
  .credit-col:nth-child(2),
  .credit-col:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
  }
  .credit-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .credit-inner {
    width: 960px;
  }
  .cart-col:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 282px;
    flex: 0 0 282px;
  }
  .table__com--col,
  .table__brief--col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
  }
  .card__image {
    width: unset;
  }
}
@media only screen and (max-width: 1020px) {
  .comparison__screen .catalog__inner--filter {
    display: none;
  }
  .comparison__screen .catalog__inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 991px) {
  .header-cabinet span {
    display: none;
  }
  .header__upper--wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__upper--wrapper > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .hamburger {
    margin: 0 15px !important;
  }
  .header-catalog {
    padding-right: 15px;
  }
  .header-cabinet {
    margin-left: 0;
  }
  .header__upper--wrapper .header-cabinet img {
    margin-right: 0;
  }
  .cart-items {
    margin-left: 20px;
  }
  .cart-items li:not(:last-child) {
    margin-right: 20px;
  }
  .header__logo {
    max-width: 170px;
  }
  .search-btn button span {
    display: none;
  }
  .search-icon {
    display: block;
  }
  .search-btn {
    width: 39px;
    height: 39px;
  }
  .input-wrapper {
    height: 39px;
  }
  .h1 {
    font-size: 38px;
    line-height: 20px;
  }
  .brands__slider .slick-slide {
    margin: 0 7px;
  }
  .brands__slider .slick-list {
    margin: 0 -7px;
  }
  .ms-container {
    padding: 0 15px;
  }
  .section-title,
  .cart__title--text {
    padding-bottom: 20px;
  }
  .cart__title--text {
    font-size: 26px;
    line-height: 35px;
  }
  .sort {
    margin-bottom: 20px;
    height: 40px;
  }
  .complectation-img {
    margin-bottom: 12px;
  }
  .complectation-text {
    font-size: 14px;
  }

  .video-inner video {
    width: 100%;
    height: unset;
  }
  .video-btn {
    width: 85px;
    height: 85px;
  }
  .popup-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-separator div,
  .form-separator span {
    display: none;
  }
  .form-separator {
    width: 100%;
    height: 1px;
    background: #dcdcdc;
    margin: 30px 0;
  }
  a.register,
  .auth-btn {
    width: 100%;
  }
  .credit-inner {
    width: 500px;
  }
  .credit-row,
  .credit-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .credit-select {
    margin-left: 0;
  }
  .credit-col {
    height: unset;
    padding-left: 40px;
  }
  .credit-col:not(:first-child) {
    padding: 0;
    margin-top: 20px;
  }
  .credit-row {
    padding: 30px;
  }
  .credit-select,
  .choose-btn {
    margin-top: 15px;
    width: 100%;
  }
  .choose-btn {
    margin-right: auto;
    margin-left: auto;
  }
  .cart__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .cart-collapse-block .auction-rate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart-collapse-block .auction-reviews {
    margin-top: 10px;
  }
  .comparison__screen .catalog__inner--carts {
    width: 100%;
  }
  .desk-row {
    display: none;
  }
  .table__main--col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
  }
  .table__main--col span {
    font-size: 16px;
    line-height: 21px;
    max-width: 140px;
  }
  .table__mobile--row {
    width: calc(100% - 220px);
  }
  .contacts-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .contacts__screen {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 820px) {
  .card__menu a {
    padding: 0 10px;
    font-size: 14px;
    line-height: 19px;
  }
  .card__menu {
    padding: 10px 0;
  }
  .card__menu ul {
    max-width: 630px;
    overflow: auto;
  }
  .card__menu ul a {
    white-space: nowrap;
  }
  .feature-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
}

@media only screen and (max-width: 768px) {
  .phone-collapse {
    width: 257px;
  }
  .header__upper--wrapper > div.header-catalog {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .header-catalog p {
    display: none;
  }
  .header__upper--wrapper .header-catalog {
    padding-right: 0;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .header-catalog:hover > .inner-catalog {
    display: none;
  }
  .header__tools .lang {
    display: none;
  }
  .header__main--wrapper {
    height: 76px;
  }
  .header__logo {
    width: 121px;
  }
  .cart-items {
    margin-left: 0;
  }
  .item-prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .form-collapse--body li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .item-img {
    margin-bottom: 15px;
  }

  .item-text {
    margin-left: 0;
  }
  .abs-arrow {
    display: none !important;
  }
  .about-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    margin-right: 20px;
  }
  .about-title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
  .about-desc {
    font-size: 12px;
    line-height: 19px;
  }
  .h1 {
    font-size: 24px;
    line-height: 16px;
  }
  .h1 span {
    padding-bottom: 20px;
  }
  .main__title {
    margin-bottom: 20px;
  }
  .shop-images {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .shop__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .shop-img:first-child {
    margin-right: 19px;
    margin-bottom: 0;
  }
  .subscribe-email img {
    margin-right: 15px;
  }
  .list-coll li:hover {
    font-weight: normal;
  }
  .catalog__inner--filter {
    margin: 0 0 30px;
  }
  .catalog__inner--filter,
  .catalog__inner--carts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .selected__filter {
    display: none;
  }
  .filter__category--item .selected__filter {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter__inner {
    border: none;
    display: none;
  }
  .catalog__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .catalog__filter.active {
    padding: 0 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .catalog__filter.active .back-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .filter__category--item:last-child {
    display: block;
  }
  .section-title {
    font-size: 24px;
    line-height: 21px;
  }
  .main__card--rate {
    margin-bottom: 20px;
  }
  .card__menu {
    margin: 20px 0;
  }
  .card-rate img {
    width: 20px;
    height: 20px;
  }
  .card-code {
    font-size: 14px;
    line-height: 19px;
  }
  .breadcrumbs {
    font-size: 14px;
  }
  .table__inner table {
    font-size: 14px;
  }
  .table__inner table td {
    padding: 15px;
  }
  .complectation-text {
    font-size: 16px;
  }
  .question__action {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .quest-name,
  .repl-name,
  .reviews-name {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .quest-text,
  .repl-text,
  .reviews-text {
    margin-left: 0;
  }
  .quest-row,
  .repl-row,
  .reviews-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .question__people,
  .question__reviews {
    padding: 15px;
  }
  .form-review--item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .form-review--item:not(:last-child) {
    margin-bottom: 20px;
  }
  .cart__title--text {
    font-size: 18px;
    line-height: 21px;
  }
  .cart-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart-col:not(first-child) {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .cart-col:last-child {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    margin: 0;
  }
  .cart-col:first-child {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .auction-info.m-info {
    display: block;
    margin-top: 20px;
  }
  .auction-info.d-info {
    display: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .cart-body--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .cart-content {
    width: unset;
  }
  .table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table__mobile--row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .table--inner-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .table__main--col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .table__main--col span {
    max-width: unset;
  }
  .ms-pt {
    padding: 10px;
  }
  .table__striped--col {
    background: unset;
  }
  .table__mobile--title {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
  .table--inner-col {
    text-align: start;
  }
  .table__wrapper {
    padding-top: 20px;
  }
  .comparison__screen .catalog__inner {
    display: none;
  }
  .mobile-comparison {
    display: block;
  }
  .table-ellipse img {
    width: 20px;
    height: 20px;
  }

  .accessories-inner .slick-slide {
    margin: 0 5px;
  }
  .accessories-inner .slick-list {
    margin: 0 -5px;;
  }
}

@media only screen and (max-width: 700px) {
  .catalog__items .auction-item {
    width: 300px;
  }
  /* .auction-item {
        width: 397px;
    } */
  .auction__slider .slick-slide {
    margin: 0 14px;
  }

  .auction__slider .slick-list {
    margin: 0;
  }
  .auction__slider .slick-list {
    overflow-x: clip;
    overflow-y: visible;
  }
}

@media only screen and (max-width: 650px) {
  .phone-collapse {
    left: -30px;
  }
  .cart-items li a svg {
    width: 26px;
    height: 26px;
  }
  .badghed::after {
    width: 19px;
    height: 19px;
    font-size: 12px;
    line-height: 16px;
  }
  .input-search {
    font-size: 12px;
    line-height: 16px;
    color: #848484;
    padding-left: 8px;
  }
  .about__screen,
  .tools__screen {
    margin: 30px 0;
  }
  .shop__screen {
    margin: 40px 0;
  }
  .auction__screen {
    margin: 40px 0 30px;
  }
  .shop-images {
    margin-top: 30px;
    display: block;
    margin-left: 0;
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .shop-img:first-child {
    margin-bottom: 19px;
    margin-right: 0;
  }
  .main__subtitle {
    margin-bottom: 20px;
  }
  .h3 {
    font-size: 28px;
    line-height: 25px;
  }
  .subscribe-form form {
    display: block;
  }
  .subscribe-input,
  .subscribe-btn {
    width: 100%;
  }
  .subscribe-input {
    margin-bottom: 20px;
  }
  .sort {
    display: none;
  }
  .card__inner--block {
    margin-bottom: 40px;
  }
  .specs__subtitle h3 {
    font-size: 22px;
    line-height: 21px;
  }
  .feature-content {
    margin-top: 10px;
  }
  .feature-name {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 18px;
    height: unset;
  }
  .feature-text {
    font-size: 10px;
    line-height: 15px;
    height: unset;
  }
  .feature-item {
    margin: 15px 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }
  .feature-items {
    margin: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .specs__feature {
    margin-bottom: 40px;
  }
  .cart-phone {
    max-width: 131px;
    text-align: right;
  }
  .cart-phone br {
    display: block;
  }
  .cart-phone span {
    font-size: 14px;
    line-height: 19px;
  }
  .cart-phone a {
    font-size: 16px;
    line-height: 22px;
  }

  .header-cart .header__main--wrapper {
    height: 120px;
  }
  .cart-name {
    font-size: 14px;
    line-height: 19px;
  }
  .cart-count--input {
    width: 75px;
    height: 25px;
  }
  .cart-count--input button {
    width: 20px;
  }
  .cart-body--item {
    padding: 10px;
  }
  .cart-collapse-block .auction-stars img {
    width: 11px;
    height: 11px;
  }
  .cart-collapse-block .auction-reviews {
    font-size: 12px;
    line-height: 14px;
  }
  .cart-collapse-block .auction-reviews svg {
    width: 12px;
    height: 12px;
  }
  .cart-collapse-block .accessories-title {
    margin: 10px 0;
    padding: 0 10px;
  }
  .cart-collapse-block .accessories-tools {
    padding: 0 10px 10px;
  }
  .cart-collapse-btn {
    height: 40px;
    font-size: 14px;
    line-height: 15px;
  }
  .cart-collapse-btn svg {
    width: 12px;
    height: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .footer__wrapper .col-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__wrapper li {
    font-size: 14px;
    line-height: 27px;
  }
  .logo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .logo__wrapper p {
    max-width: 320px;
    text-align: center;
  }
  .list-coll {
    padding: 10px 0;
    display: none;
  }
  .footer__list ul:not(.list-coll) li {
    text-align: center;
  }
  .footer-coll .footer__list-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
  }
  .footer-coll {
    width: 100%;
    margin-bottom: 0;
    border-top: 1px solid #848484;
    border-bottom: 1px solid #848484;
  }
  .footer-coll .footer__list-first {
    margin-bottom: 0;
  }
  .footer__list-first svg {
    display: block;
    margin-left: auto;
  }
  .footer__list-first {
    margin-bottom: 15px;
  }
  .footer-logo {
    width: 122px;
    margin-bottom: 24px;
  }
  .logo__wrapper p {
    font-size: 14px;
    line-height: 19px;
  }
  .footer__wrapper {
    padding: 15px 0;
  }
  .footer__list-first {
    text-align: center;
  }
  .footer__wrapper .col-12 {
    margin: 11px 0;
  }
}

@media only screen and (max-width: 550px) {
  
  .header-phone:hover .phone-collapse {
    display: none;
  }
  .header__upper--wrapper .header-info {
    display: none;
  }
  .header__menu > ul > li {
    font-size: 14px;
  }
  .cart-items li:nth-child(2) {
    display: none;
  }
  .about-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about-img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about-text {
    text-align: center;
  }
  .about__wrapper .col-6 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tools-text {
    height: 40px;
    font-size: 12px;
    line-height: 16px;
  }
  .auction-badges > div {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .auction-item {
    width: 290px;
  }
  .auction-tools {
    top: 17px;
    right: 10px;
  }
  .auction-tool svg {
    width: 30px;
    height: 30px;
  }
  .auction-badges > .discount.active {
    font-size: 18px;
    width: 60px;
  }
  .auction-rate,
  .auction-price {
    padding: 0 10px;
  }
  .auction-name {
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
  }
  .auction-stars img {
    width: 21px;
    height: 21px;
  }
  .auction-reviews svg {
    width: 21px;
    height: 21px;
    margin-right: 8px;
  }
  .info-btn {
    font-size: 14px;
    margin: 0 10px;
  }
  .auction-price-old {
    font-size: 12px;
    line-height: 19px;
  }
  .auction-price-new,
  .info-price {
    font-size: 20px;
    line-height: 27px;
  }
  .auction-price-btn,
  .info-buy {
    height: 43px;
    width: 43px;
  }
  .auction-price-btn svg,
  .info-buy svg {
    height: 28px;
    width: 28px;
  }
  .info-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    height: 40px;
  }
  .info-text {
    font-size: 12px;
    line-height: 16px;
  }
  .info-auction-collapse {
    padding: 10px;
  }
  .auction-price-btn.active::after,
  .info-buy.active::after {
    width: 15px;
    height: 15px;
    top: 3px;
    right: 4px;
  }
  .auction-tool.active::after {
    width: 15px;
    height: 15px;
  }
  .auction-item {
    width: 251px;
  }
  .auction__slider .slick-slide {
    margin: 0 8px;
  }
  .none-sales.active {
    line-height: 15px;
  }
  .filter__category--title,
  .filter__item label {
    font-size: 16px;
  }
  .filter__category--title {
    padding: 5px 0 15px;
    margin: 0 15px 5px;
  }
  .section-title {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 15px;
  }
  .main__title {
    border-bottom: 1px solid #dcdcdc;
  }
  .pagination__block li a {
    width: 36px;
    height: 44px;
  }
  .add-btn {
    height: 59px;
  }
  .pagination__block li:not(:last-child) {
    margin-right: 5px;
  }
  .pagination-left svg,
  .pagination-right svg {
    width: 5px;
    height: 10px;
  }
  .pagination-left {
    margin-right: 19px;
  }
  .pagination-right {
    margin-left: 19px;
  }

  .breadcrumbs {
    font-size: 12px;
    line-height: 19px;
  }
  .long-title::before {
    width: 40%;
  }
  .card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .card__image {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .card__slider--wrapper {
    max-width: 100%;
    padding: 0 30px;
  }
  .card-arr {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 0;
    left: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .card-right {
    right: 0;
  }
  .card-left {
    left: 0;
  }
  .slider-desk {
    display: none;
  }
  .slider-mob {
    display: block;
  }
  .card__slider .slick-slide {
    margin: 0 7px;
  }
  .card__slider .slick-list {
    margin: 0 -7px;
  }
  .card-wrapper {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .availability {
    font-size: 14px;
    line-height: 19px;
  }
  .card-tools svg {
    width: 30px;
    height: 30px;
  }
  /* .card-tools svg:first-child {
    margin-right: 15px;
  } */
  .price--tools {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .card-btn-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-btn-row > a:not(:last-child) {
    margin: 0 0 15px;
  }
  .card-btn-row > a {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
  }
  .add-card-btn svg {
    width: 25px;
    height: 25px;
    margin-left: 12px;
  }
  .card-subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .deliver-item p {
    padding-left: 24px !important;
  }
  .deliver-item {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .deliver-item p img {
    width: 14px;
    height: 14px;
  }
  .payment-wrapper .img {
    width: 41px;
    height: 42px;
  }
  .payment-wrapper .img:not(:last-child) {
    margin-right: 8px;
  }
  .guarrantee-wrapper p {
    font-size: 14px;
    line-height: 19px;
  }
  .card__inner--block {
    margin-top: 20px;
  }
  .breadcrumbs .mobile-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  .breadcrumbs li:not(:last-child):not(.mobile-arrow) {
    display: none;
  }
  .card__image {
    height: unset;
  }
  .specs__subtitle h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .table__inner {
    margin-bottom: 40px;
  }
  .table__inner table {
    font-size: 12px;
    line-height: 19px;
  }
  .table__inner table td {
    padding: 15px 9px;
    vertical-align: middle;
  }
  .complectation-item {
    padding: 0 0 15px;
  }
  .complectation-img {
    margin-bottom: 10px;
  }
  .complectation-text {
    font-size: 12px;
    line-height: 19px;
  }
  .complectation-inner .row > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  .specs__complectation {
    margin: 0 0 40px;
  }
  .accessories-tools .auction-price-btn {
    width: 27px;
    height: 27px;
  }
  .accessories-tools .auction-price-btn svg {
    width: 19px;
    height: 19px;
  }
  .accessories-tools .new-price,
  .accessories-title {
    font-size: 10px;
    line-height: 15px;
  }
  .accessories-title {
    margin: 10px 0;
  }
  .accessories-title {
    padding: 0 5px;
  }
  .accessories-tools {
    padding: 0 5px 10px;
  }
  .accessories-tools {
    padding-bottom: 10px;
  }
  .specs__subtitle {
    margin-bottom: 21px;
  }
  .specs__accessories,
  .specs__video {
    margin: 0 0 40px;
  }
  .people-item > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .quest-name,
  .repl-name,
  .reviews-name {
    font-size: 14px;
    line-height: 19px;
  }
  .quest-text,
  .repl-text,
  .reviews-text {
    font-size: 12px;
    line-height: 15px;
  }
  .quest-date,
  .repl-date,
  .reviews-date {
    font-size: 12px;
    line-height: 15px;
  }
  .question__people,
  .question__reviews {
    padding: 15px 10px;
  }
  .question__block {
    margin-bottom: 30px;
  }
  .review__form label {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  div.input-form-wrapper input,
  div.input-form-wrapper select {
    height: 40px;
  }
  .form-review--item:not(:last-child) {
    margin-bottom: 15px;
  }
  .form__review--row {
    margin-bottom: 15px;
  }
  .review__inner {
    padding: 20px 10px;
  }
  .input-form-wrapper input,
  .input-form-wrapper select,
  .form-textarea--wrapper input {
    padding-left: 10px;
    padding-right: 17px;
    font-size: 14px;
  }
  .form-textarea--wrapper {
    height: 160px;
  }
  .form-review--btn {
    width: 154px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .models__screen {
    margin: 0 0 100px;
  }
  .question__screen {
    margin-bottom: 40px;
  }
  .deliver-item p {
    font-size: 14px;
    line-height: 19px;
  }
  .popup-title {
    padding-top: 15px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 15px;
  }
  .popup-content {
    padding: 15px;
  }
  .popup-title span {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .popup-cross {
    top: 10px;
    right: 15px;
  }
  .popup-cross svg,
  .popup__click .popup-cross svg {
    width: 17px;
    height: 17px;
  }
  .popup__input img {
    width: 23px;
    height: 20px;
  }
  .input__group .label {
    font-size: 14px;
    line-height: 19px;
  }
  .remember-pass {
    font-size: 12px;
    line-height: 15px;
  }
  .auth-btn,
  .popup__form--btn {
    height: 40px;
    font-size: 16px;
    line-height: 22px;
  }
  .a.register {
    font-size: 16px;
    line-height: 22px;
  }
  .auth-btn svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  .popup__check {
    font-size: 12px;
    line-height: 15px;
  }
  div.label {
    font-size: 14px;
    line-height: 19px;
  }
  a.register {
    margin-top: 15px;
  }
  .form-condition {
    font-size: 14px;
    line-height: 15px;
  }
  input[name="phone"]::-webkit-input-placeholder {
    font-size: 14px;
  }
  input[name="phone"]::-moz-placeholder {
    font-size: 14px;
  }
  input[name="phone"]:-ms-input-placeholder {
    font-size: 14px;
  }
  input[name="phone"]::-ms-input-placeholder {
    font-size: 14px;
  }
  input[name="phone"]::placeholder {
    font-size: 14px;
  }
  .credit-inner {
    width: 400px;
  }
  .credit-text {
    margin-top: 20px;
    padding: 0 15px 30px;
  }
  .credit-text p:first-child {
    font-size: 16px;
    line-height: 21px;
  }
  .credit-price {
    font-size: 16px;
    line-height: 21px;
  }
  .credit-price span {
    font-size: 16px;
    line-height: 21px;
  }
  .credit-select {
    height: 30px;
    font-size: 12px;
    line-height: 14px;
  }
  .choose-btn {
    height: 40px;
    font-size: 16px;
  }
  .credit-row {
    padding: 15px;
  }
  .credit-col img {
    width: 12px;
    height: 12px;
  }
  .credit-col {
    padding-left: 20px;
  }
  .credit-col span {
    font-size: 12px;
    line-height: 14px;
  }
  .credit-col:not(:first-child) {
    margin-top: 14px;
  }
  .credit-text p:last-child {
    font-size: 14px;
    line-height: 19px;
  }
  .popup__click .form-inner {
    width: 380px;
  }
  .cart__title--text {
    font-size: 14px;
    line-height: 15px;
  }
  .cart__inner {
    margin: 0 0 40px;
  }
  .cart-collapse--item {
    margin-bottom: 40px;
  }
  .cart-contacts .input-row > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .cart-contacts {
    margin-bottom: 20px;
  }
  .cart-delivery--item__select {
    height: 40px;
  }
  .cart-delivery--item {
    padding: 15px;
  }
  .delivery-title svg {
    margin: 0 8px;
    width: 22px;
    height: 22px;
  }
  .delivery-title a {
    font-size: 16px;
    line-height: 22px;
  }
  .cart-delivery-price {
    font-size: 16px;
    line-height: 19px;
  }
  .cart-delivery-title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 15px;
  }
  .cart-delivery-text {
    font-size: 12px;
    line-height: 14px;
  }
  .checkbox-cart--wrapper {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
  }
  .checkbox-cart--wrapper::after {
    width: 10px;
    height: 10px;
  }
  .cart-delivery--item .input-row {
    margin-left: 0;
  }
  .cart-delivery--item:nth-child(3) .cart-delivery-title {
    margin-bottom: 20px;
  }
  .cart-delivery--item__select {
    margin: 15px 0;
  }
  .cart-delivery--item__select select {
    font-size: 14px;
    line-height: 19px;
  }
  .scheme-item .hours,
  .scheme-item .day {
    font-size: 16px;
    line-height: 19px;
  }
  .cart__body {
    margin-bottom: 40px;
  }
  .com-img {
    width: 43px;
    height: 43px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 43px;
    flex: 0 0 43px;
  }
  .com-content .auction-price--text {
    margin: 10px 0 5px;
  }
  .com-btn .auction-price-btn {
    width: 27px;
    height: 27px;
  }
  .com-btn .auction-price-btn svg,
  .com-btn a:first-child svg {
    width: 19px;
    height: 19px;
  }
  .com-btn a:first-child {
    margin-bottom: 30px;
  }
  .table--inner-col,
  .ms-pt {
    padding: 10px 0;
  }
  .table-ellipse {
    width: 30px;
    height: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    margin-right: 10px;
  }
  .table-ellipse img {
    width: 15px;
    height: 15px;
  }
  .table__mobile--title,
  .table--inner-col,
  .table-complectation {
    font-size: 12px;
    line-height: 14px;
  }
  .table__main--col span {
    font-weight: bold;
  }
  .table__screen {
    margin-bottom: 40px;
  }
  .com-content {
    margin-right: 20px;
  }
  .contacts__screen {
    margin-bottom: 0;
  }
  .contacts__form .form-textarea {
    margin-bottom: 15px;
  }
  .contacts__content--inner p,
  .contacts__content--title {
    font-size: 14px;
    line-height: 19px;
  }
  .contacts__form .input__group .label,
  .form-textarea label {
    font-size: 14px;
    line-height: 19px;
  }
  .contacts-label label {
    font-size: 12px;
    line-height: 15px;
  }
  .contacts-captcha {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .captcha-block {
    width: 49%;
    margin-right: 0;
  }
  .captcha-input {
    width: 49%;
  }
  .captcha-input input {
    width: 100%;
  }
  .contacts__form--btn {
    width: 290px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  #map {
    display: none;
  }
  .reveal-content {
    width: 151px;
    padding: 5px 8px 8px;
    font-size: 12px;
    line-height: 15px;
  }
  .abs-it {
    top: -11px;
    left: 15%;
    width: 16px;
    height: 5px;
  }
  .popup__input img {
    top: 9px;
  }
  
  .map {
    min-height: 150px;
  }
}

@media only screen and (max-width: 425px) {
  .header__upper--wrapper > div {
    height: 47px;
  }
  .hamburger {
    margin: 0 8px !important;
    width: 31px !important;
  }
  .header__upper--wrapper .header-catalog {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0;
    min-width: unset;
  }
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    width: 31px !important;
  }
  .header-phone {
    font-size: 14px;
  }
  .header-phone svg {
    width: 13px;
    height: 13px;
  }
  .header-cabinet img {
    width: 21px;
    height: 21px;
  }
  .header__main--wrapper {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .header-cart .header__main--wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__search-bar {
    margin-left: auto;
  }
  .input-wrapper {
    width: 0;
    display: none;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    position: absolute;
    right: 100%;
    top: 0;
  }
  .form-wrapper {
    position: relative;
  }
  .header__search-bar {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .search-btn button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
  }
  .search-btn button svg {
    width: 23px;
    height: 23px;
  }
  .cart-items {
    margin-left: 10px;
  }
  .cart-items li:nth-child(1) {
    display: none;
  }
  .header__tools {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .form-collapse--body li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .item-img {
    margin-bottom: 0;
  }
  .item-text {
    margin-left: 16px;
  }
  .slider__inner {
    padding: 97px 0 159px;
  }
  .slider-title {
    font-size: 22px;
    line-height: 30px;
  }
  .slider-subtitle {
    font-size: 24px;
    line-height: 32px;
    margin: 3px 0 17px;
  }
  .slider-btn {
    height: 40px;
    width: 124px;
    font-size: 14px;
    line-height: 19px;
  }
  .slider-img {
    right: 0;
  }
  .slider-img img {
    width: 100%;
  }
  .about__wrapper {
    padding: 0 18px;
  }
  .about-item {
    margin: 16px 0;
  }
  .col-6 .about-item .about-img svg {
    width: 42px;
    height: 42px;
  }
  .about-img {
    margin-bottom: 10px;
  }
  .about-title {
    font-size: 11px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .about-desc {
    font-size: 11px;
    line-height: 15px;
  }
  .col-6:nth-child(3) .about-item,
  .col-6:nth-child(4) .about-item {
    margin-top: 0;
  }
  .slick-dots li {
    width: 8px !important;
    height: 8px !important;
  }
  .slick-dots li.slick-active {
    width: 12px !important;
    height: 12px !important;
  }
  .slick-dots li:not(:last-child) {
    margin-right: 14px !important;
  }
  .main__slider .slick-dots {
    bottom: 17px;
  }
  .h1 {
    font-size: 18px;
  }
  .h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .shop-text {
    font-size: 14px;
    line-height: 19px;
  }
  .subscribe-email img {
    width: 47px;
    height: 30px;
  }
  .email-text {
    font-size: 11px;
    line-height: 150.68%;
  }
  .subscribe__wrapper > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .subscribe-input {
    height: 38px;
  }
  .subscribe-input input {
    font-size: 12px;
    line-height: 16px;
  }
  .subscribe-btn {
    height: 40px;
    font-size: 14px;
    line-height: 19px;
  }
  .subscribe-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .subscribe-social p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .social img {
    width: 30px;
    height: 30px;
  }
  .subscribe__wrapper {
    padding: 20px 0 15px;
  }
  .brands-item {
    width: 152px;
  }
  .brands__slider .slick-list {
    margin: 0;
  }
  .mobile-slider--container {
    padding-right: 0;
  }
  .question__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .question-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .question__row .question__action .question-img {
    margin-right: 0;
    max-width: 70px;
    margin-bottom: 10px;
  }
  .question-name,
  .question-btn {
    font-size: 14px;
    line-height: 19px;
  }
  .question-btn {
    width: 187px;
    height: 40px;
  }
  .popup-window {
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    border-radius: 0;
  }
  .form-inner,
  a.register {
    width: 100%;
  }
  .form-separator {
    margin: 26px 0;
  }
  .credit-inner {
    width: 100%;
  }
  .popup-cross svg,
  .popup__click .popup-cross svg {
    width: 12px;
    height: 12px;
  }
  .popup-cross,
  .popup__click .popup-cross {
    width: 12px;
    height: 12px;
    top: 10px;
    right: 15px;
  }
  .popup__click .form-inner {
    width: 100%;
  }
  .cart-img {
    width: 108px;
    height: 147px;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 108px;
    flex: 0 0 108px;
  }
  .cart-col:nth-child(2) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cart-delete svg {
    width: 18px;
    height: 18px;
  }
  .auction-info.m-info {
    margin-top: 10px;
  }
  .cart-sidebar--title {
    font-size: 16px;
    line-height: 19px;
  }
  .cart__sidebar--inner {
    padding: 10px;
  }
  .cart__sidebar--inner .sidebar-row span {
    font-size: 14px;
    line-height: 19px;
  }
  .cart-sidebar--btn {
    max-width: 270px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }
  .cart-sidebar--inner p {
    font-size: 12px;
    line-height: 16px;
  }
  .header-cart .header-phone svg {
    width: 10px;
    height: 8px;
    margin-left: 7px;
  }
  .cart-count--input input {
    width: 37px;
  }
  .cart-collapse-btn {
    font-size: 12px;
    padding: 0 15px;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .info-btn {
    padding: 0 10px;
  }
  .cart-collapse-block {
    padding: 10px 10px 0;
  }
  .cart-collapse-block .accessories-item {
    margin-bottom: 10px;
  }
  /* .cart-collapse-block {
    margin-bottom: 40px;
  } */
  .cart-delivery {
    margin-bottom: 20px;
  }
  .img:nth-child(4) .reveal-content,
  .img:nth-child(5) .reveal-content,
  .img:nth-child(6) .reveal-content {
    left: unset;
    right: 10%;
  }
  .img:nth-child(4) .abs-it,
  .img:nth-child(5) .abs-it,
  .img:nth-child(6) .abs-it {
    left: unset;
    right: 6%;
  }
  
  .catalog__items .auction-item {
    width: 100%;
    margin: 0 0 16px;
  }
}

@media only screen and (max-width: 375px) {
  .slider__inner {
    padding: 47px 0 59px;
  }

  .brands-item {
    width: 152px;
  }
  .catalog__items {
    margin: 0;
  }
}

@media only screen and (max-height: 1000px) and (max-width: 991px) and (min-width: 426px) {
  .popup__login {
    margin: 40px 0;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@media only screen and (max-height: 1350px) and (min-width: 426px) {
  .popup__registration {
    margin: 40px 0;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@media only screen and (max-height: 2000px) and (max-width: 991px) and (min-width: 426px) {
  .popup__credit {
    margin: 40px 0;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@media only screen and (max-height: 700px) and (min-width: 992px) {
  .popup__credit {
    margin: 40px 0;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
