/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/
:root {
    --black: #282828;
    --yellow: #F4CF87;
}



* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
li::marker {
    display: none;
}
ul {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, .no-boot ul {
	list-style: none;
    margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
button, textarea, input, select {
    outline: none;
}

/* overall */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    background: #fff;
    color: var(--black);
    overflow-x: hidden;
}
.ms-container {
    max-width: 1690px;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

/* header */

.header__upper {
    position: relative;
}
.header__upper--wrapper {
    display: flex;
    align-items: center;
}
.header__upper--wrapper > div {
    display: flex;
    align-items: center;
    height: 60px;
    cursor: pointer;
    position: relative;
    flex: 0 0 20%;
}
.header__upper {
    color: #fff;
    background: var(--black);
}
.header__upper--wrapper .header-catalog {
    background: var(--yellow);
    color: var(--black);
    padding-right: 20px;
    flex: 0 0 23%;
}
.hamburger {
    margin: 0 20px !important;
    padding: 0 !important;
    width: 34px !important;
    height: 28px !important;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: var(--black) !important;
    width: 34px !important;
    height: 4px !important;
}
.hamburger-inner:before {
    top: -10px !important;
}
.hamburger-inner:after {
    bottom: -10px !important;
}
.hamburger-box {
    width: 34px !important;
    height: 26px !important;
}
.hamburger-inner {
    margin-top: 0 !important;
}
.hamburger--collapse.is-active .hamburger-inner:before {
    top: 0 !important;
} 
.hamburger--spin.is-active .hamburger-inner:before {
    top: 0 !important;
}
.hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0 !important;
}
.header-cabinet {
    margin-left: auto;
}
.header-cabinet span {
    white-space: nowrap;
}
.header__upper--wrapper > div > svg:first-child {
    margin-right: 15px;
}
.header-info {
    margin-left: 30px;
}
.header-info svg {
    margin-left: 5px;
}
.header-phone svg:nth-child(3) {
    margin-left: 10px;
}
.header-cabinet img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.header-cabinet {
    max-width: fit-content;
}
.collapse {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    color: var(--black);
    padding: 15px 20px;
    transition: opacity .3s ease-in;
    z-index: 3;
}
.header-info:hover .info-collapse {
    display: block;
}
.info-collapse {
    font-size: 20px;
    border: 1px solid #DCDCDC;
    width: calc(100% - 30px);
    max-width: 313px;
    min-width: 265px;
    display: none;

}
.info-collapse li:first-child {
    padding: 0 0 15px;
}
.info-collapse li:last-child {
    padding: 15px 0 0;
}
.info-collapse li {
    padding: 15px 0;
}
.info-collapse li:not(:last-child) {
    border-bottom: 1px solid #DCDCDC
}
.header-phone:hover .phone-collapse {
    display: block;
}
.phone-collapse {
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.18);
    border-radius: 0px 5px 5px 5px;
    max-width: 257px;
    width: 100%;
    display: none;
    line-height: 40px;
    font-size: 22px;
}
.phone-collapse span {
    font-weight: 600;
}
.inner-catalog {
    border: 1px solid #DCDCDC;
    padding: 15px 0;
    line-height: 25px;
    width: 100%;
    display: none;
}
.header-catalog:hover > .inner-catalog {
    display: block;
}
.inner-catalog > ul > li > a {
    position: relative;
    padding-left: 28px;
}
.inner-catalog > ul > li:first-child > a {
    margin: 0 0 15px;
}
.inner-catalog > ul > li:last-child > a {
    margin: 15px 0 0;
}
.inner-catalog > ul > li > a {
    margin: 15px 0;
}
.inner-catalog > ul > li {
    position: relative;
    transition: color .1s ease-in;
    padding: 0 20px;
}
.inner-catalog li:not(:last-child) {
    border-bottom: 1px solid #DCDCDC
}
.inner-catalog > ul > li a:hover {
    color: var(--yellow);
    font-weight: bold;
}
.inner-catalog li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner-catalog li svg:first-child {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.inner-catalog li .menu-arrow {
    margin-left: auto;
}
.inner-catalog-sub {
    position: absolute;
    top: -15px;
    left: 100%;
    background: #fff;
    border: 1px solid #DCDCDC;
    padding: 0 20px;
    min-width: 275px;
    display: none;
}
.inner-catalog li.complex:hover > .inner-catalog-sub {
    display: block;
}
.inner-catalog-sub li {
    padding: 15px 0;
    color: var(--black);
    font-weight: normal;
}
.inner-catalog-sub li a {
    padding-left: 9px;
}

/* mobile menu */   

.header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 11px 15px;
    color: var(--black);
    width: 100%;
    background: #fff;
    display: none;
    z-index: 2;
}
.hidden {
    display: none;
}
.header__menu > ul .menu__first-cat .open-svg {
    display: none;
}
.header__menu li {
    cursor: pointer;
}
.header__menu > ul > li {
    padding: 10px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    padding: 10px 0;
    border-top: 1px solid #848484;
    border-bottom: 1px solid #848484;
    margin-bottom: 20px;
}
.header__menu > ul .menu__first-cat .collapsed .open-svg {
    display: block;
}
.header__menu > ul .menu__first-cat .collapsed .closed-svg {
    display: none;
}
.menu-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-category.collapsed {
    color: var(--yellow);
}
.svg-arrow svg {
    transition: all .3s ease-in;
}
.menu-category.collapsed .svg-arrow svg {
    transform: rotate(180deg);
}
.menu-category.collapsed .svg-arrow svg path {
    stroke: var(--yellow);
}
.menu__first-cat {
    display: none;
}
.menu__first-cat > li a {
    position: relative;
    padding-left: 29px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__first-cat > li {
    padding-top: 10px;
    padding-bottom: 10px;

}
.menu__first-cat > li:first-child {
    padding-top: 30px;
}
.menu__first-cat > li:not(:last-child) {
    border-bottom: 1px solid #DCDCDC;

}
.menu__first-cat > li a svg:first-child, .menu__first-cat > li a .open-svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
}
.inner-menu-sub {
    display: none;
    margin-top: 10px;
}
.inner-menu-sub li {
    padding: 10px 0;
}
.inner-menu-sub li:not(:last-child) {
    border-bottom: 1px solid #DCDCDC;
}
.inner-menu-sub.collapsed-body {
    border-top: 1px solid #848484
}
.menu__first-cat .collapsed {
    font-weight: 700;
}
li.lang {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border: none !important;
    position: relative;
    width: fit-content;
}
.current-lang {
    padding: 5px 7px;
    width: 48px;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
}
.lang::after {
    content: "";
    width: 7px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: url(../img/little-arrow.svg);
    display: block;
}
select::-ms-expand {
    display: none;
}
select.current-lang {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

select.current-lang::-ms-expand {
    display: none;
}
.header__main--wrapper {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header__logo {
    max-width: 240px;
}
.search-icon {
    display: none;
}
.header__search-bar {
    max-width: 825px;
    flex: 0 0 48%;
    transition: all .3s ease-in;
}
.header-form {
    position: relative;
}
.form-wrapper {
    width: 100%;
    display: flex;
}
.input-search {
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 20px;
}
.input-wrapper {
    border: 1px solid #DCDCDC;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
    height: 68px;
    max-width: 657px;
    width: 100%;
}
.search-btn {
    width: 168px;
    height: 67px;
    border-radius: 0px 5px 0px 0px;
}
.search-btn button {
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--yellow);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    border: none;
    cursor: pointer;
}
.header__tools {
    display: flex;
    flex: 0 0 17%;
}
.header__tools select {
    width: 61px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.header__tools option {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
}
.header__tools .lang {
    position: relative;
}
.header__tools .lang::after {
    width: 12px;
    height: 8px;
    background: url(../img/little-arrow.svg);
    background-size: cover;
}
.cart-items {
    display: flex;
    margin-left: 50px;
}
.cart-items li:not(:last-child) {
    margin-right: 30px;
}
.badghed {
    position: relative;
}
.badghed::after {
    content: attr(data-count);
    width: 23px;
    height: 23px;
    background: var(--yellow);
    position: absolute;
    top: -10px;
    right: -5px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #282828;
}
.cart-items li a {
    display: flex;
}
.active .input-wrapper {
}
.active .search-btn button {
    background: var(--yellow);
}
.form-collapse--body {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #F4F4F4;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.18);
    border-radius: 0px 0px 5px 5px;
}
.item-img {
    width: 85px;
    height: 85px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    flex: 0 0 85px;
}
.form-collapse--body li {
    padding: 20px;
}
.form-collapse--body li:hover {
    background: #ECECEC;
}
.form-collapse--body li a {
    display: flex;

}
.item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 26px;
}
.item-prices {
    display: flex;
    align-items: flex-end;
}
.item-name {
    font-weight: 600;
    line-height: 25px;
    color: #282828;
}
.old-price {
    margin-right: 15px;
    line-height: 31px;
    text-decoration-line: line-through;    
    color: #666666;
}
.new-price {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #282828;
}


/* main */

/* slider */

.main__screen {
    position: relative;
}
.main__slider--item {
    position: relative;
}
.abs-arrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.arr-left {
    left: 20px;
}
.arr-right {
    right: 20px;
}
.slider__inner {
    padding: 200px 0;
    display: flex;
    align-items: center;
}
.slider-title {
    font-size: 56px;
    line-height: 76px;
    text-align: center
}
.slider-subtitle {
    font-weight: 800;
    font-size: 69px;
    line-height: 94px;
    color: var(--yellow);
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0 40px;
}
.slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
    width: 262.86px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: #F4CF87;
    border-radius: 5px;
}
.slider-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.slider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__slider {
    position: relative;
}
.main__slider .slick-dots {
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center;
}
.slick-dots li button {
    display: none;
}
.main__slider .slick-dots li {
    color: transparent; 
    border: none;
    width: 12.5px;
    height: 14.29px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}
.main__slider .slick-dots li.slick-active {
    background: var(--yellow);
    width: 17.5px;
    height: 20px;
}
.main__slider .slick-dots li:not(:last-child) {
    margin-right: 21px;
}

/* about b;pcl */


.about__screen {
    margin: 50px 0 60px;
}
.about__wrapper {
    border:  1px solid #DCDCDC;
    border-radius: 5px;
    padding: 0 28px;
}

.about__wrapper .col-6 {
    align-items: center;
}
.about-item {
    display: flex;
    margin: 28px 0;
}
.about-img {
    display: flex;  
    align-items: center;
    flex: 0 0 70px;
    margin-right: 30px;
}
.about-title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
.about-desc {
    line-height: 25px;
    color: #666666;
}

/* tools block */

.tools__screen {
    margin: 60px 0;
}
.tools-item {
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}

.tools-text {
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    text-align: center;    
    color: #FFFFFF;
    position: absolute;
    bottom: 6px;
    left: 0;
    background: #282828;
    opacity: 0.6;
    transition: all .3s ease;
    overflow: hidden;
    border-radius: 5px;
}
.tools-item:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.tools-item:hover .tools-text {
    background: var(--yellow);
    opacity: 0.6;
}
.tools-item:hover .tools-text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
    width: 100%;
}

/* auction */

.auction__screen {
    margin: 100px 0 80px;
}
.main__title {
    border-bottom: 1px solid #282828;
    margin-bottom: 40px;
}
.h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 76px;
}
.h1 span {
    position: relative;
    display: flex;
    width: fit-content;
    padding-bottom: 40px;
}
.h1 span::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #F4CF87;
    z-index: 1;
}
.auction-img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* auction slider */

.auction-item {
    width: calc(100% / 4);
    height: 664px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    padding-bottom: 20px;
}
.auction-item:hover {
    border: 1px solid #F4CF87;
}
.auction-item:hover .auction-tools svg path {
    fill: var(--yellow);
    background: var(--yellow);
}
.auction-item:hover .auction-tools .auction-tool:first-child svg:first-child {
    display: none;
}
.auction-item:hover .auction-tools .auction-tool:first-child svg:last-child {
    display: block;
}
.auction-item:hover .info-auction-collapse {
    border-color: #F4CF87;
}
.auction-tools .auction-tool:first-child svg:last-child {
    display: none;
}
.auction-tools {
    position: absolute;
    top: 26px;
    right: 20px;
}
.auction-tool:first-child {
    margin-bottom: 13px;
}
.auction-tool svg {
    height: 42px;
}
.auction-tool {
    height: 42px;
    position: relative;
}
.top-sales.active {
    background: #F3D6A1;
    border-radius: 0px 5px 5px 0px;
}
.auction-badges > .discount.active {
    width: 84px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    background: #F3D6A1;
}
.new.active {
    background: #ACF3A2;
}
.ending.active {
    background: #F2B29E;
}
.auction-badges > div {
    display: none;
    margin-bottom: 10px;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    height: 57px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.auction-badges {
    width: 40%;
    position: absolute;
    top: 15px;
    left: 0;
}
.none-sales.active {
    background: #C3C3C3;
}
.auction-badges > div.active {
    display: flex;
}

.auction-name {
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    margin: 15px 0 20px;
    padding: 0 20px;
    height: 50px;
}
.auction-rate {
    padding: 0 20px;
}
.auction-stars {
    margin-right: 15px;
}
.auction-stars img {
    width: 30px;
    height: 30px;
}
.auction-stars img:not(:last-child) {
    margin-right: 4px;
}
.auction-reviews {
    display: flex;
    align-items: center;
}
.auction-reviews svg {
    margin-right: 15px;
}
.auction-info {
    margin: 15px 0;
    position: relative;
}
.info-btn {
    margin: 0 20px;
    background: #F0F0F0;
    border-radius: 5px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;

}
.info-auction-collapse {
    display: none;
    background: #fff;
    position: absolute;
    top: 51px;
    left: -1px;
    padding: 20px;
    border-top: 0 !important;
    border: 1px solid #DCDCDC;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: calc(100% + 2px);
    z-index: 3;
}
.info-text {
    max-width: 275px;
}
.info-img {
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    flex: 0 0 61px;
    height: 61px;
}
.auction-price {
    padding: 0 20px;
    display: flex;
    justify-content: space-between; 
}
.auction-price-old {
    line-height: 25px;
    text-decoration-line: line-through;
    color: #666666;
}
.auction-price-new {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
}
.info-price {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
}
.auction-price-btn, .info-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    border-radius: 5px;
    width: 61px;
    height: 61px;
    position: relative;
}
.info-items:not(:last-child) {
    margin-bottom: 15px;
}
.auction__slider .slick-slide {
    margin: 0 12px;
}
.auction__slider .slick-list {
    margin: 0 -12px;
}
.auction__slider .slick-list {
    overflow-x: clip;
    overflow-y: visible;
    overscroll-behavior: none;
}
.auction-price-btn.active::after, .info-buy.active::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../img/check.svg) no-repeat;
    background-size: cover;
    top: 7px;
    right: 8px;
}
.auction-tool.active::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../img/check.svg) no-repeat;
    background-size: cover;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}
.auction-slider--wrapper {
    position: relative;
}
.slider-arr__auction .arr-left {
    left: 10px;
}
.slider-arr__auction .arr-right {
    right: 10px;
}
.auction__slider .slick-dots {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center;
}
.auction__slider .slick-dots li button {
    display: none;
}
.auction__slider .slick-dots li {
    color: transparent; 
    border: none;
    width: 12.5px;
    height: 14.29px;
    border-radius: 50%;
    background: #DCDCDC;
    cursor: pointer;
}
.auction__slider .slick-dots li.slick-active {
    background: var(--yellow);
    width: 17.5px;
    height: 20px;
}
.auction__slider .slick-dots li:not(:last-child) {
    margin-right: 21px;
}
.auction__slider {
    position: relative;
    margin-bottom: 100px;
}


/* brands */

.brands__wrapper {
    position: relative;
}
.brands-item {
    width: 255px;
}
.brands__slider .slick-slide {
    margin: 0 15px;
}
.brands__slider .slick-list {
    margin: 0 -15px;
}

.slider-arr__brands .arr-left {
    left: 10px;
}
.slider-arr__brands .arr-right {
    right: 10px;
}
/* shop */

.shop__screen {
    margin: 80px 0 60px;
}
.main__subtitle {
    margin-bottom: 60px;
}
.h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
}
.shop__wrapper {
    display: flex;
}
.shop-text {
    font-size: 22px;
    line-height: 150.68%;
}
.shop-text p:not(:last-child) {
    margin-bottom: 20px;
}
.shop-images {
    margin-left: 31px;
    flex: 0 0 397px;
}
.shop-img:first-child {
    margin-bottom: 19px;
}

/* subscribe */

.subscribe__screen {
    background: var(--black);
}
.subscribe__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
}
.subscribe__wrapper > div:not(:last-child) {
    margin-right: 30px;
}
.subscribe-email {
    display: flex;
    align-items: center;
}
.subscribe-email img {
    width: 112px;
    height: 90px;
    margin-right: 30px;
}
.email-text {
    font-size: 20px;
    line-height: 150.68%;
    color: #FFFFFF;
    max-width: 410px;
}
.subscribe-form form {
    display: flex;
}
.subscribe-input {
    width: 362px;
    height: 67px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin-right: 30px;
}
.subscribe-input input {
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    line-height: 25px;
    color: #DCDCDC;
    padding-left: 20px;
}
.subscribe-btn {
    width: 190px;
    height: 67px;
    background: #F4CF87;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.subscribe-social {
    display: flex;
    align-items: center;
}
.subscribe-social p {
    font-size: 20px;
    line-height: 150.68%;
    color: #FFFFFF;   
    margin-right: 30px;
}
.social {
    display: flex;
}
.social img {
    height: 58px;
    width: 58px;
}
.social a:first-child img {
    margin-right: 20px;
}

/* footer */

.footer {
    background: #F2F2F2;    
}
.footer__wrapper {
    padding: 40px 0;
}
.footer__wrapper .col-12 {
    margin: 20px 0;
}
.footer__list-first {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;    
}
.footer__list-first svg {
    display: none;
}
.footer__list li {
    font-size: 20px;
    line-height: 33px;
}
.list-coll li:hover {
    font-weight: bold;
}
.footer-logo {
    max-width: 100%;
    width: 230px;
    margin-bottom: 30px;
}
.footer__wrapper .row {
    display: flex;
    justify-content: space-between;
}





/* catalog */

/* catalog section */


.breadcrumbs ul {
    display: flex;
}
.breadcrumbs ul li:last-child {
    font-weight: bold;
    color: var(--yellow);
}
.catalog-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.catalog-title {
    line-height: 40px;
    margin-top: 10px;
}
.sort-select {
    width: 100%;
    height: 100%;    
    background: #F0F0F0;
    border-radius: 5px; 
    line-height: 25px;
    color: #282828;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.sort {
    width: 232px;
    height: 51px;   
    display: flex;
    position: relative;
    margin-bottom: 40px;
}
.sort::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    right:15px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/little-arrowB.svg);
    display: block;
    background-size: cover;
    z-index: 1;
}
select::-ms-expand {
    display: none;
}
select.sort-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

select.sort-select::-ms-expand {
    display: none;
}
.section-title {
    font-weight: bold;
    font-size: 56px;
    line-height: 76px;
    position: relative;
    padding-bottom: 40px;
}
.section-title::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #F4CF87;
    z-index: 1;
}
.filter__category {
  padding: 15px 0;
}
.catalog__inner {
    display: flex;
    flex-wrap: wrap;
}
.catalog__inner--filter {
    flex: 0 0 400px;
    margin-right: 30px;
}
.catalog__inner--carts {
    width: calc(100% - 430px);
}
.catalog__items .auction-item {
    width: 350px;
    margin: 0 10px 20px;
    height: unset;
}
.filter__inner {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}
.catalog__items {
    display: flex;
    flex-wrap: wrap;
}
.back-btn {
    display: none;
}
.back-btn span {
    margin-left: 8px;
    text-decoration: underline;
}

.filter__category--title {
    margin: 0 20px 5px;
    padding: 20px 0 30px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    border-bottom: 1px solid #DCDCDC;
}
.filter__item {
    margin-top: 15px;
    padding: 7px 20px;
}
.filter__item:hover {
    background: #F2F2F2;
}
.filter__item label {

}
.filter__item label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter__item label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.filter__item label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter__item label input:checked ~ .checkmark {
    background: #2FB718;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter__item label input:checked ~ .checkmark:after {
  display: block;
}

.filter__item label .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/checkbox.svg) no-repeat;
    background-size: cover;
    width: 13px;
    height: 10px;
}
.catalog__filter {
    width: 100%;
    background: var(--yellow);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}
.filter-btn svg {
    margin-right: 7px;
}
.selected__filter {
    display: flex;
    flex-wrap: wrap;
}
.selected__filter--item {
    width: fit-content;
    min-width: 104px;
    height: 47px;
    background: #F0F0F0;
    border-radius: 5px;
    line-height: 25px;
    color: #848484;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 10px 20px;
    cursor: pointer;
}
.selected__filter--item span {
    margin-right: 30px;
}
