@media only screen and (max-width: 1440px) {
    .header__items {
        flex: 0 0 24%;
    }
    .about--wrapper {
        padding: 140px 60px 120px;
    }
    
    .whatwillyouget__container .abs-item:nth-child(3) {
        left: -20px;
        top: 50px;
    }
    .whatwillyouget__container .abs-item:nth-child(2) {
        display: none;
    }
    .ourrights__container .abs-item:nth-child(3) {
        left: -20px;
        top: 50px;
    }
    .ourrights__container .abs-item:nth-child(2) {
        display: none;
    }
    .whatwillyouget__image {
        right: -300px;
    }
    .school-abs {
        right: -350px !important;
    }
    .school-container .abs-item:nth-child(4) {
        display: none;
    }
    .course-abs {
        display: none;
    }
}
@media only screen and (max-width: 1260px) {
    .about--wrapper {
        padding: 140px 0 120px 60px;
    }
    .about-content {
        max-width: 445px;
    }
    .profession--wrapper {
        gap: 32px;
    }
}
@media only screen and (max-width: 1090px) {
    .about-image {
        width: 368px;
    }
    .about-image > img {
        width: 100%;
    }
    leaf-image {
        left: -164px;
    }
    .about__container .abs-item {
        display: none;
    }
    .footer__row--nav ul li:not(:nth-last-child(-n+3)) {
        margin-right: 60px;
    }
    .info-block {
        bottom: 70px;
        left: -100px;
        padding: 24px;
    }
}
@media only screen and (max-width: 992px) {
    .nav {
        display: none;
    }
    .header__items {
        flex: 0 0 278px;
    }
    .upper__container .abs-item:nth-child(1) {
        left: -13vw;
    }
    .upper__container .abs-item:nth-child(2) {
        left: -23vw;
    }
    .upper__container .abs-item:nth-child(3) {
        display: none;
    }
    .upper__container .abs-item:nth-child(4) {
        right: -40.085vw;
    }
    .screen-image {
        display: none;
    }
    .courses__container .abs-item:nth-child(3) {
        display: none;
    }
    
    .info-block {
        left: -350px;
    }
}
@media only screen and (max-width: 970px) {
    .about--wrapper {
        padding: 100px 0 80px;
        gap: 32px;
    }
    .about-content {
        flex-shrink: 2;
    }
    .about-image {
        flex-shrink: 0;
        width: 348px;
    }
    .about-row {
        flex-direction: column;
        align-items: unset;
    }
    .about-row .button {
        margin-bottom: 32px;
    }
    .about-title {
        margin-bottom: 40px;
    }
    .about-row {
        margin-top: 40px;
    }
    .leaf-image {
        width: 160px;
        left: -80px;
    }
    .leaf-image img {
        width: inherit;
    }
    .whatwillyouget__content ul li {
        position: relative;
        padding-left: 34px;
        margin-left: 0;
    }
    .whatwillyouget__content {
        max-width: 483px;
    }
    .whatwillyouget__content p {
        font-size: 15px;
    }
    .reviews__container {
        padding-top: 60px;
    }
    .review-name {
        font-size: 17px;
    }
    .review-text p {
        font-size: 17px;
        font-size: 13px;
    }
    .review-content {
        max-width: 224px;
    }
    .bonus-block {
        width: 288px;
        height: 229px;
    }
    .bonus__section--title, .bonus-title {
        font-size: 17px;        
    }
    .bonus-title {
        margin-bottom: 8px;
    }
    .bonus-content p {
        font-size: 13px;
    }
    .downloader {
        width: 24px;
        height: 24px;
        bottom: 32px;
        right: 24px;
    }
    .downloader svg {
        width: 100%;
        height: 100%;
    }
    .bonus-content {
        padding: 32px 24px;
    }
    .blog-page {
        width: 272px;
        height: 650px !important;
    }
    .blog-image {
        height: 282px;
    }
    .blog-content {
        font-size: 13px;
        height: calc(100% - 282px);
    }
    .blog-title {
        font-size: 17px;
    }
    .footer__row {
        flex-wrap: wrap;
    }
    .footer__row--contacts {
        width: 100%;
        margin-top: 40px;
    }
    .footer--wrapper {
        padding: 32px 0;
        background-color: #66AF5D;
    }
    .footer .abs-item {
        width: 62px;
        top: 0px;
    }
    .footer .abs-item img {
        width: 100%;
    }
    .profession__text p:not(:last-child) {
        margin-bottom: 32px;
    }
    .profession__text {
        font-size: 15px;        
    }
}
@media only screen and (max-width: 900px) {
    .fitfor-item {
        width: 288px;
    }
    .fitfor-image {
        height: 400px;
    }
    .fitfor-image img {
        width: 288px;
    }
    .fit-title {
        height: 44px;
        font-size: 17px;
    }
    .fitfor-content p {
        font-size: 16px;
    }
    .whatwillyouget__image, .whatwillyouget__image img {
        width: 405px;
    }
    .whatwillyouget__image {
        top: 100px;
        right: -100px;
    }
    .ourrights__container {
        padding-bottom: 80px;
    }
    .whatwillyouget__container {
        padding-bottom: 80px;
    }
    .whatwillyouget__content ul li::before {
        top: 5px;
    }
    .whatwillyouget__content {
        max-width: 436px;
    }
    .whatwillyouget__container .abs-item:nth-child(3) {
        width: 50px;
        left: 10px;
    }
    .whatwillyouget__container .abs-item:nth-child(3) img {
        width: 100%;
    }
    .whatwillyouget__container .abs-item:nth-child(1) img:last-child {
        display: block;
    }
    .whatwillyouget__container .abs-item:nth-child(1) img:first-child {
        display: none;
    }
    .ourrights__container .abs-item:nth-child(3) {
        width: 50px;
        left: 10px;
    }
    .ourrights__container .abs-item:nth-child(3) img {
        width: 100%;
    }
    .ourrights__container .abs-item:nth-child(1) img:last-child {
        display: block;
    }
    .ourrights__container .abs-item:nth-child(1) img:first-child {
        display: none;
    }
    .bonus-text p {
        font-size: 15px;
    }
    .blog-page {
        height: 450px !important;
        padding-bottom: 24px;
    }
    .blog-image {
        height: 182px;
    }
    .blog-content {
        padding: 24px 24px 0;
        height: calc(100% - 182px);
    }
    .blog-content p:not(:first-of-type) {
        display: none;
    }
    .rights:last-child {
        margin-top: 16px;
    }
    .footer li {
        font-size: 13px;
    }
    .nav-title, .info-title, .contacts-title {
        font-size: 17px;
        margin-bottom: 25px;
    }
    .footer__row:not(:first-child) {
        font-size: 10px;
    }
    .footer__row--contacts {
        width: unset;
        order: 1;
        margin-top: 0;
    }
    .footer__row--info {
        margin-left: 0;
        order: 3;
    }
    .footer__row--nav {
        order: 2;
    }
    .footer__row--nav ul {
        columns: unset;
    }
    .footer__row--contacts ul {
        margin-bottom: 21px;
    }
    .footer__row:nth-child(2) {
        margin: 40px 0 16px;
    }
    .footer__row:last-child {
        flex-direction: column;
    }
    .footer--wrapper {
        padding-bottom: 16px;
    }
    .profession__content, .profession__image {
        width: calc(50% - 32px);
    }
    .profession__content .block-title {
         font-size: 28px;
    }
}
@media only screen and (max-width: 800px) {
    .teacher__container {
        padding-top: 64px;
    }
    .teacher-block {
        width: 288px;
    }
    .teacher-name {
        font-size: 15px;
    }
    .teacher-about {
        font-size: 13px;
    }
    .block-about {
        font-size: 13px;
    }
    .diploma-text {
        font-size: 13px;
    }
    .block-subtitle {
        font-size: 28px;
    }
    .ourrights__text {
        font-size: 15px;
    }
    .detailedcard__inner {
        font-size: 13px;
    }
    .detailedcard__text-title {
        font-size: 17px;
    }
}
@media only screen and (max-width: 768px) {
    .upper__container {
        overflow: hidden;
        height: 616px;
    }
    .upper__container .abs-item:nth-child(1) {
        top: 90px;
        left: -176.640px;
    }
    .upper__container .abs-item:nth-child(2) {
        left: -238.080px;
    }
    .upper__container .abs-item:nth-child(4) {
        right: -530.573px;
        top: 38px;
    }
    .header {
        height: 90px;
        padding: 24px 0;
    }
    .logo {
        width: 144px;
    }
    .logo img {
        width: 100%;
    }
    .header__items p {
        display: none;
    }
    .header__items {
        flex: 0 0 79.5px;
    }
    .auth-img {
        width: 31.6px;
        height: 24px;
        padding-right: 7.6px;
    }
    .auth-img img {
        width: 24px;
        height: 24px;
    }
    .hamburger-wrapper {
        width: 24px;
        height: 21px;
    }
    .hamburger-wrapper > div {
        height: 3px;
    }
    .text-title {
        font-size: 52px;
    }
    .text-about {
        font-size: 28px;
    }
    .screen-text__wrapper p {
        margin: 32px 0 16px;
        font-size: 15px;
    }
    .main__screen {
        height: calc(100% - 90px);
    }
    .button {
        width: 288px;
        height: 64px;
    }
    .menu-header {
        padding: 24px 0;
    }
    .menu__nav li {
        font-size: 24px;
    }
    .menu__about {
        margin: 40px 0 45px;
    }
    .menu__about li,
    .menu__social p {
        font-size: 13px;
    }
    .about--wrapper {
        padding: 80px 0 64px;
    }
    .about-title {
        font-size: 24px;
    }
    .about-content > p {
        font-size: 15px;
    }
    .about--wrapper {
        gap: 24px;
    }
    .about-row .button {
        height: 64px;
        width: 288px;
        font-size: 13px;
    }
    .about-row p a {
        font-size: 14px;
    }
    .block-title {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .container--wrapper {
        padding-bottom: 64px;
    }
    .courses__slider .slick-slide {
        margin: 0 8px !important;
      }
    .courses__slider .slick-list {
        margin: 0 -8px !important;
        overflow: unset !important;
    }
    .course-block {
        padding: 24px;
        height: 496px !important;
    }
    .course-list {
        height: 176px;
    }
    .course-title {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .course-list span {
        font-size: 13px;
    }
    .common-price {
        padding-left: 27px;
        font-size: 10px;
    }
    .main-price {
        padding-left: 27px;
        font-size: 17px;
    }
    .main-price p:last-child {
        font-size: 27px;
    }
    .course-reference {
        font-size: 24px;
        margin: 24px 0 8px;
    }
    .date-block p {
        font-size: 13px;
    }
    .courses__container .abs-item {
        display: none;
    }
    .violet-button img {
        width: 13.6px;
        height: 13.6px;
    }
    .course-button {
        bottom: 43px;
    }
    .violet-button {
        width: 32px;
        height: 32px;
    }
    .whatwillyouget__image {
        top: -20px;
    }
    .review-img {
        margin-right: 16px;
    }
    .review-img img {
        width: 54px;
    }
    .footer--wrapper {
        padding-top: 0;
    }
    .footer__row > div {
        margin-top: 32px;
    }
    .footer .abs-item {
        right: 30px;
        top: 10px;
    }
    .blog__container .abs-item:nth-child(2) {
        display: none;
    }
    .detailedcard__container .abs-item:nth-child(2) {
        display: none;
    }
    .school-abs {
        display: none;
    }
    .offert {
        display: none;
    }    
    .school-container .abs-item:nth-child(4) {
        display: block;
    }
    .school--course {
        padding-top: 80px;
    }
    .info-block {
        right: 0;
        bottom: 0;
    }
    .blog--page__container {
        padding-top: 40px;
    }
    .blog--page-content {
        gap: 32px;
    }
    .inner-text:first-child {
        margin-bottom: 40px;
    }
    .inner-text p {
        font-size: 13px;
    }
    .inner-text p:not(:last-child) {
        margin-bottom: 8px;
    }
    .auth__container {
        padding-top: 40px;
    }
    .detailedcard__container {
        padding-top: 40px;
    }
    .bonus-page {
        padding-top: 36px;
    }
    .sertificate__image {
        width: 288px;
    }
    .sertificate-page {
        padding-top: 40px;
    }
    .sertificate__description {
        font-size: 13px;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 760px) {
    .whatwillyouget__image, .whatwillyouget__image img {
        width: 301px;
    }
    .diploma-image {
        width: 100%;
    }
    .diploma-row {
        flex-direction: column;
    }
    .diploma-text {
        width: 100%;
    }
    .review__page-slide {
        width: 288px;
    }
    .review__page-image {
        height: 208px;
    }
    .review__page-content p {
        font-size: 16px;
    }
}
@media only screen and (max-width: 730px) {
    .about--wrapper {
        flex-direction: column;
    }
    .whatwillyouget__image, .whatwillyouget__image img {
        width: 181px;
    }
    .profession__content, .profession__image {
        width: 100%;
    }
    .profession--wrapper {
        gap: 40px;
        flex-direction: column;
    }
    .block__title--row {
        flex-direction: column;
        gap: 0;
    }
    .blog--page__container .block-title {
        width: 100%;
    }
    .blog--page-text {
        width: 100%;
    }
    .blog--page-image {
        width: 100%;
    } 
    .blog--page-content {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 670px) {
    .course-block {
        width: 272px !important;
    }
    .bonuses__container .abs-item:nth-child(2) {
        display: none;
    }
    .bonuses__container .abs-item:nth-child(3) {
        display: block;
    }
    .auth-block {
        width: 100%;
    }
    .input-column {
        width: 100%;
    }
    .input-row {
        flex-direction: column;
    }
    .input-row .input-column {
        max-width: unset;
    }
    .input-row {
        gap: 0;
    }
    .auth-block:first-child .input-column:nth-child(2) {
        margin-bottom: 0;
    }
    .input-column {
        margin-bottom: 36px;
    }
    .input-row:nth-child(2) .input-column:first-child {
        margin-bottom: 36px;
    }
    .input-bottom {
        flex-wrap: wrap;
    }
    .auth-block:nth-child(2) .input-bottom {
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 600px) {
    .upper__container .abs-item:nth-child(1) {
        left: -300px;
    }
    .upper__container .abs-item:nth-child(2) {
        left: -320px;
    }
    .upper__container .abs-item:nth-child(4) {
        right: -650px;
    }
    .about-image, .about-image img {
        width: 100%;
    }
    .info-block {
        max-width: 288px;
        bottom: -100px;
    }
    .auth-form {
        padding: 24px;
    }
    .submit button {
        font-size: 15px;
    }
    .input-column input {
        font-size: 10px;
    }
    .auth-block {
        font-size: 15px;
    }
    .auth-title {
        font-size: 17px;
    }
}
@media only screen and (max-width: 500px) {
    .sertificate__image {
        display: flex !important;
        justify-content: center !important;
    }
    .whatwillyouget__content {
        margin-top: 220px;
    }
    .whatwillyouget__image {
        top: 58px;
        right: unset;
        left: 0;
    }
    .whatwillyouget__container .abs-item:nth-child(4) {
        display: block;
        top: 120px;
        left: 20%;
    }
    .ourrights__container .abs-item:nth-child(4) {
        display: block;
        top: 120px;
        left: 20%;
    }
    .info-block {
        left: unset;
        right: unset;
    }
    .ourrights__row--license {
        justify-content: center;
    }
    .detailedcard__inner {
        flex-direction: column-reverse;
    }
    .detailedcard__content {
        width: 100%;
    }
    .detailedcard__image {
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    .container {
        padding: 0 16px;
    }
    .screen-text__wrapper {
        margin-bottom: 50px;
    }
    .text-title {
        font-size: 48px;
    }
    .leaf-image {
        display: none;
    }
    .upper__container .abs-item:nth-child(4) {
        bottom: -10px;
        top: unset;
        right: 0;
    }
    .upper__container .abs-item:nth-child(2) {
        display: none;
    }
    .upper__container .abs-item:nth-child(1), .upper__container .abs-item:nth-child(1) img {
        width: 370px;
    }
    .upper__container .abs-item:nth-child(1) {
        top: 0;
        left: -200px;
    }
    .upper__container .abs-item:nth-child(4) img:last-child {
        display: block;
    }
    .upper__container .abs-item:nth-child(4) img:first-child {
        display: none;
    }
    .fitfor-image img {
        position: absolute;
        left: -20px;
        width: 300px;
    }
    .blog--page-text .block-subtitle {
        font-size: 16px;
    }
}

@media only screen and (max-width: 360px) {
    .upper__container .abs-item:nth-child(4) {
        right: -20px;
    }
    .screen-text__wrapper {
        margin-bottom: 20px;
    }
    .school-screen .text-title {
        font-size: 46px;
    }
    .text-date {
        font-size: 17px;
    }
}

@media only screen and (min-height: 860px) and (max-height: 1080px) {
    .upper__container {
        height: 100vh;
        max-height: unset;
    }
}

@media only screen and (min-width: 2000px) {
    .footer--wrapper {
        padding-top: 20vw;
    }
}