* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input, textarea, button {
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
    z-index: 1;
}
ul, li {
    list-style: none;
}
body {
    font-size: 16px;
    font-family: 'Manrope', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #6D6D6D;
}
.hidden {
    display: none;
}
.blacky {
    color: #3E3E3E !important;
}
.overlayed {
    overflow: hidden;
    padding-right: 17px;
    background: #F1F0FD;
}
.upper__container {
    max-height: 992px;
    height: 992px;
    width: 100%;
    background: #F1F0FE;
}
.layer {
    position: relative;
    overflow: hidden;
}
.abs-item {
    position: absolute;
    z-index: 0;
}
.uppercased {
    text-transform: uppercase;
}
.upper__container .abs-item:nth-child(1) {
    top: 160px;
    left: -3vw;
}
.upper__container .abs-item:nth-child(2) {
    bottom: 0;
    left: 0;
}
.upper__container .abs-item:nth-child(3) {
    top: 0;
    right: 0;
}
.upper__container .abs-item:nth-child(4) {
    top: 208px;
    right: 2.915vw;
}
.upper__container .abs-item:nth-child(4) img:last-child {
    display: none;
}
.container {
    max-width: 1488px;
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;
}
.whity {
    color: #fff !important;
}
.violety {
    background: #ECE9FE !important;
}
/* HEADER */

.header {
    height: 160px;
    padding: 62px 0 32px;
}
.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__items {
    display: flex;
    flex: 0 0 20%;
    justify-content: space-between;
}
.header__items p {
    color: #8676FB;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.logo {
    display: block;
}
.nav {
    display: flex;
    flex: 0 0 45%;
}
.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul li {
    z-index: 2;
    transition: .3s ease-in;
}
.nav ul li:hover {
    color: #8676FB;
}
.header-auth {
    display: flex;
    align-items: center;
    z-index: 2;
}
.auth-img {
    position: relative;
    padding-right: 10px;
}
.auth-text {
    margin-right: 8px;
}
.ellipse-wrapper {
    position: absolute;
    top: 3px;
    right: 0;
}
.header-hamburger {
    z-index: 2;
    display: flex;
    align-items: center;
}
.hamburger-text {
    margin-right: 8px;
}
.hamburger-wrapper {
    position: relative;
    width: 32px;
    height: 28px;
}
.hamburger-wrapper > div {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #8676FB;
    border-radius: 12px;
}
.hamb-up {
    top: 0;
}
.hamb-bottom {
    bottom: 0;
}
.hamb-center {
    display: flex;
    justify-content: space-between;
    background: transparent !important;
    top: 50%;
    transform: translateY(-50%);
}
.hamb-center--item:first-child {
    width: 20px;
    background: #8676FB;
    border-radius: 12px;
}
.hamb-center--item:last-child {
    width: 8px;
    background: #8676FB;
    border-radius: 12px;
    opacity: 0.4;
}

/* SCREEN */

.main__screen {
    height: calc(100% - 160px);
}
.main__screen--wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.screen-text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.screen-image {
    margin-right: -50px;
    display: flex;
    align-items: flex-end;
    z-index: 2;
}
.inner-image {
    display: contents;
}
.text-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 1px;    
    color: #3E3E3E;
    margin-bottom: 12px;
}
.text-about {
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 1px;  
    color: #3E3E3E;
}
.text-about span {
    color: #8676FB;
}
.screen-text__wrapper {
    margin-bottom: 100px;
}
.screen-text__wrapper p {
    margin-top: 64px;
    margin-bottom: 32px;
    font-size: 20px;

}
.button {
    background: #8676FB;
    border-radius: 24px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 330px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 19px 44px -16px #8676fb;
    transition: .3s ease-in;
}
.greeny-btn {
    background: #6BBF5F !important;
    box-shadow: 0px 19px 44px -16px #6BBF5F !important;
}
.greeny-btn:hover {
    background: #84D079 !important;
}
.button:active {
    box-shadow: none;
}
.button:hover {
    background: #9B8EFF;
}
.screen-container {
    height: 100%;
}

/* MENU MOBILE */

.overlay__menu {
    z-index: 100;
    position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F1F0FD;
}
.menu-header {
    display: none;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding: 62px 0 32px;
}
.menu__nav li {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1px;
    color: #3E3E3E;
    transition: .3s ease-in;
}
.menu__nav li:not(:last-child) {
    margin-bottom: 24px;
}
.menu-block li:hover {
    color: #8676FB;
}
.menu__about {
    margin: 88px 0 77px;
}
.menu__about li {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;    
    color: #3E3E3E;
}
.menu__about li:not(:last-child) {
    margin-bottom: 16px;
}
.menu__social ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    margin: 0 auto;
}
.menu__social > p {
    text-align: center;
    margin-top: 37px;
}
.menu__social > p a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #3E3E3E;
}
.menu-close {
    cursor: pointer;
    display: flex;
}


/* -------------------MAin---------------------- */


/* ABOUT */

.about__container {
    background: #ECEAFE;
}
.about--wrapper {
    padding: 160px 120px 120px;
    display: flex;
    justify-content: space-between;
}
.about-content {
    max-width: 577px;
    z-index: 2;
}
.about-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 56px;
}
.violet {
    color: #8676FB !important;
}
.about-image {
    position: relative;
}
.leaf-image {
    position: absolute;
    left: -190px;
    top: 134px;
}
.about-content > p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 160%;
    color: #6D6D6D;
}
.about-content > p:nth-child(2) {
    margin-bottom: 30px;
}
.about-row {
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-row .button {
    width: 292px;
}
.about-row > p a {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #8676FB;
    transition: .3s ease-in;
}
.about-row > p a:hover {
    opacity: 0.6;
}
.about__container .abs-item {
    bottom: -50px;
    right: 0;
}


/* SERTIFICATE */
.container--wrapper {
    padding-bottom: 120px;
}
.sertificate__container {
    background: linear-gradient(180deg, rgba(236,234,254,1) 23%, rgba(252,252,255,1) 72%);
}
.block-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 1px;  
    color: #3E3E3E;
    margin-bottom: 80px;
    z-index: 1;
    position: relative;
}
.slider--nav {
    display: flex;
    margin-top: 41px;
}
.slider--nav > div {
    cursor: pointer;
    z-index: 2;
}
.slider--nav .left {
    transform: rotate(180deg) translateY(7px);
}
.slider--nav .no-active {
    opacity: 0.4;
}
.slider--nav .right {
    margin-left: 20px;
}

/* COURSES */

.courses__container {
    background: linear-gradient(180deg, rgba(252,252,255,1) 72%, rgba(255,255,255,1) 72%);
}
.unvisualed {
    opacity: 0;
}
.greeny {
    color: #6BBF5F !important;
}
.course-block {
    height: 752px !important;
    font-family: Roboto, sans-serif;
    padding: 48px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(151, 251, 118, 0.15);
    border-radius: 20px;
    width: 453px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}
.diet-course .course-button {
    background: #6BBF5F;
}
.violet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    background: #8676FB;
    box-shadow: 0px 10px 20px rgba(134, 118, 251, 0.5);
    transition: .3s ease-in;
    bottom: 88px;
    right: -12px;
}
.violet-button:hover {
    background: #9B8EFF !important;
    box-shadow: 0px 10px 20px rgba(134, 118, 251, 0.5) !important;
}
.course-button {
}
.course-button:hover {
    background: #84D079 !important;
    box-shadow: 0px 10px 20px rgba(107, 191, 95, 0.5) !important;
}
.violet-button img {
    margin-right: 5px;
}
.course-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 120%;    
    letter-spacing: 2px;
    text-transform: uppercase;    
    color: #3E3E3E;
    margin-bottom: 40px;
}
.course-list {
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-list li {
    display: flex;
}
.text-span {
    margin-left: 10px;
}
.course-list span {
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
}
.common-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #6D6D6D;
    opacity: 0.5;
}
.main-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    color: #3E3E3E;
}
.main-price p:last-child {
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1px;
}
.main-price p:first-child {
    margin: 4px 0 8px;
}
.course-reference {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    margin: 56px 0 32px;
    transition: .3s ease-in;
}
.course-reference:hover {
    opacity: .75;
}
.date-block p {
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3E3E3E;
}
.courses__container .abs-item:nth-child(1) {
    top: -120px;
    left: -30px;
}
.courses__container .abs-item:nth-child(2) {
    top: 80px;
}
.courses__container .abs-item:nth-child(3) {
    right: 0;
    bottom: 0;
}
.leaf-block {
    display: flex;
    justify-content: center;
}

/* COURSE SLIDER */

.courses__slider {
    box-shadow: 0px 10px 60px rgba(134, 118, 251, 0.15);
}
.courses__slider .slick-slide {
    margin: 0 20px !important;
}
.courses__slider .slick-list {
    margin: 0 -20px !important;
}


/* FIT FOR */

.fitfor__container {
    background: #ffffff;
}
.fitfor-row {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.fitfor-item {
    margin-top: 24px;
    width: 380px;
}
.fitfor-image {
    height: 484px;
    position: relative;
}
.fitfor-item:nth-child(1) .fitfor-image img, .fitfor-item:nth-child(3) .fitfor-image img {
    position: absolute;
    bottom: 50px;
}
.fit-title {
    height: 64px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-bottom: 16px;
}
.fitfor-content p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #6D6D6D;
}


/* WHAT WILL YOU GET */
.whatwillyouget__container {
    padding-bottom: 140px;
}
.whatwillyouget__container .abs-item:nth-child(1) {
    top: 0;
    right: 0;
}
.whatwillyouget__container .abs-item:nth-child(1) img:last-child {
    display: none;
}
.whatwillyouget__container .abs-item:nth-child(2) {
    top: -50px;
    right: 0;
}
.whatwillyouget__container .abs-item:nth-child(3) {
    left: 50px;
}
.whatwillyouget__container .abs-item:nth-child(4) {
    display: none;
}
.whatwillyouget__container {
    padding-top: 80px;
    background: #60A859;
}
.whatwillyouget__content {
    max-width: 634px;
}
.whatwillyouget__content p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 160%;
}
.whatwillyouget__content ul li {
    position: relative;
    padding-left: 34px;
    margin-left: 35px;
}
.whatwillyouget__content ul li:not(:last-child) {
    margin-bottom: 48px;
}
.whatwillyouget__content ul li::before {
    position: absolute;
    content: "";
    top: 10px;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    background: #C8F154;
    border-radius: 50%;
    height: 10px;
    margin-left: -24px;
}
.whatwillyouget__inner {
    width: 100%;
    position: relative;
}
.whatwillyouget__image {
    position: absolute;
    top: 0;
    right: 0;
}

/* REVIEWS */

.reviews__container {
    padding-top: 100px;
}
.review-content {
    max-width: 372px;
}
.reviews-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.review {
    margin-bottom: 50px;
    display: flex;
    font-family: Roboto, sans-serif;
}
.review-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.review-name {
    padding-top: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.review-img {
    margin-right: 21px;
}
.review-text p {
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.review-text p:last-child {
    margin-top: 16px;
}


/* BONUS */

.bonuses__container .abs-item:nth-child(1) {
    top: 0;
    left: 0;
}
.bonuses__container .abs-item:nth-child(2) {
    top: 230px;
    right: 0;
}
.bonuses__container .abs-item:nth-child(3) {
    bottom: 0;
    right: 0;
}
.bonuses__container {
    background: #ECE9FF;
    padding-top: 80px;
}
.bonus-text {
    max-width: 577px;
    position: relative;
}
.bonus-text p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 160%;
}
.bonuses-row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bonus-block {
    margin-top: 40px;
    width: 453px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.bonus-block:hover .hover-block {
    opacity: 1;
}
.bonus-block:hover .bonus-title, .bonus-block:hover p {
    color: #fff;
}
.bonus-block:hover svg path {
    fill: #fff;
}
.block-bg {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.block-bg img {
    width: 100%;
    z-index: -1;
}
.hover-block {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(134, 118, 251, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease-in;
}
.bonus-content {
    font-family: Roboto, sans-serif;
    width: 55%;
    padding: 48px 32px;
    color: #3E3E3E;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.bonus-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase; 
    margin-bottom: 16px;
    transition: .3s ease-in;
}
.bonus-content p {
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    transition: .3s ease-in;
}
.downloader {
    position: absolute;
    bottom: 32px;
    right: 40px;
}
.bonus--custom {
    background: #fff;
    padding-bottom: 35px;
}
.downloader svg path {
    transition: .3s ease-in;
}
.bonus__section {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bonus__section--button {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bonus__section--title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #3E3E3E;
}

/* INSTAGRAM */

.instagram__container {
    padding-top: 80px;
    background: linear-gradient(180deg, #FFFFFF 0%, #ECE9FF 100%);
}


/* BLOG */

.blog__container {
    background: #ECE9FF;
}
.blog__container .abs-item:nth-child(1) {
    bottom: 100px;
    left: 0;
}
.blog__container .abs-item:nth-child(2) {
    top: -100px;
    right: 0;
}
.blog-page {
    width: 453px;
    height: 752px !important;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(134, 118, 251, 0.15);
    border-radius: 20px;
    padding-bottom: 48px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}
.blog-content {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 304px);
    font-size: 17px;
    padding: 32px 32px 0;
}
.blog-image {
    width: 100%;
    height: 304px;
    overflow: hidden;
}
.blog-image img {
    width: 100%;
}
.blog-reference {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #8676FB;
    display: flex;
}
.blog-reference span {
    margin-right: 20px;
    transition: all .3s ease-in;
}
.blog-reference:hover span {
    opacity: 0.6;
    margin-right: 30px;
}
.blog-content p:not(:last-child) {
    margin-bottom: 16px;
}
.blog-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #3E3E3E;
}
.blog-btn {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

/* BLOH SLIDER */

.blog-slider {
    box-shadow: 0px 10px 60px rgba(134, 118, 251, 0.15);
}
.blog-slider .slick-slide {
    margin: 0 20px !important;
}
.blog-slider .slick-list {
    margin: 0 -20px !important;
}

/* FOOTER */

.footer {
    padding-top: 47px;
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    background: #FFFFFF;
}

.footer .abs-item {
    right: 200px;
    top: 0;
}
.footer--wrapper {
    background: url('../img/footer.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 185px 0 32px;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer li {
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    transition: .3s ease-in;
}
.footer li:hover a {
    opacity: 0.6;
}
.nav-title, .info-title, .contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.footer__row--contacts ul {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.footer__row--contacts ul li:not(:last-child) {
    margin-right: 40px;
}
.footer__row--nav ul {
    columns: 2;
}
.footer__row--nav ul li {
    max-width: 248px;
}
.footer__row--nav ul li:not(:nth-last-child(-n+3)) {
    margin-right: 130px;
}
.footer__row--nav ul li:not(:last-child),
.footer__row--info ul li:not(:last-child) {
    margin-bottom: 16px;
}
.footer__row:nth-child(2) {
    margin: 80px 0 32px;
}
.footer__row--info {
    margin-left: -200px;
}
.rights:last-child {
    text-decoration: underline;
}
.footer__row:not(:first-child) {
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;   
    opacity: 0.8;
}


/* -------------------SCHOOL---------------------- */

.school-abs {
    bottom: -300px;
}
.school-screen .main__screen--wrapper {
    flex-direction: column;
    padding-bottom: 80px;
}
.school-screen .screen-text {
    align-items: unset;
}
.school-screen .screen-text__wrapper p {
    max-width: 577px;
}
.text-date {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    color: #6D6D6D;
}
.offert {
    text-decoration: underline;
}
.courses-btn {
    display: flex;
    justify-content: center;
}

/* COURSE SCHOOL */


.school--course {
    padding-top: 120px;
    background: #ECE9FE;
}
.course-sub {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 2px; 
}
.course-sub span {
    margin-right: 10px;
}
.course-sub a {
    position: relative;
}
.course-sub img:hover + .info-block {
    opacity: 1;
}
.info-block {
    transition: .3s ease-in;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 60px;
    display: flex;
    width: 463px;
    padding: 32px;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #000000;
    background: #FAFAFF;
    box-shadow: 0px 10px 60px rgba(134, 118, 251, 0.15);
    border-radius: 8px;
    cursor: default;
}
.school--course .course-button {
    background: #60A859;
}
.school--course .right svg path, .school--course .left svg path {
    fill: #60A859;
}
/* FITFOR SCHOOL */

.school--fitfor {
    background: #ECE9FE;
}


/* PROFESSION */

.profession__container {
    /* background: linear-gradient(180deg, #ECE9FF 0%, #FFFFFF 100%); */
    background: #ECE9FF;
    font-family: Roboto, sans-serif;
}
.profession__image {
    max-width: 453px;
    width: 33%;
}
.profession__image img {
    width: 100%;
}
.profession--wrapper {
    display: flex;
    gap: 40px;
}
.profession__content {
    width: calc(67% - 40px);
}
.profession__text p:not(:last-child) {
    margin-bottom: 40px;
}
.profession__text {
    font-size: 20px;
    line-height: 160%;
}


/* LICENSE */

.ourrights__row--license {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 50px;
}
.block-subtitle {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 40px;
    max-width: 947px;
}
.ourrights__text {
    max-width: 485px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 40px;
}
.ourrights__container {
    padding-bottom: 80px;
}
.ourrights__container .abs-item:nth-child(1) {
    top: 0;
    right: 0;
}
.ourrights__container .abs-item:nth-child(1) img:last-child {
    display: none;
}
.ourrights__container .abs-item:nth-child(2) {
    top: -50px;
    right: 0;
}
.ourrights__container .abs-item:nth-child(3) {
    left: 50px;
}
.ourrights__container .abs-item:nth-child(4) {
    display: none;
}
.ourrights__container {
    padding-top: 80px;
    background: #60A859;
}
.ourrights__inner {
    width: 100%;
    position: relative;
}
.ourrights-license {
    width: 185px;
    height: 273px;
    cursor: pointer;
    overflow: hidden;
}
.ourrights-license img {
    width: 100%;
}
.download-license {
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 24px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    transition: .3s ease-in;
    
}
.download-license p {
    transition: .3s ease-in;
}
.license-downloader {
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.license-downloader svg path {
    transition: .3s ease-in;
}

.download-license:hover {
    background: #fff;
    border: 2px solid #6D6D6D;
}
.download-license:hover p {
    color: #6D6D6D !important;
}
.download-license:hover svg path {
    fill: #6D6D6D;
}


/* TEACHER */


.teacher__container {
    background: #F7F6FF;
    padding-top: 120px;
}
.block__title--row {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.block__title--row .block-title {
    max-width: 947px;
}
.block-about {
    max-width: 453px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.teacher-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}
.teacher-block {
    width: 330px;
    font-family: Roboto, sans-serif';
}

.teacher-name {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 8px;
    color: #3E3E3E;
}
.teacher-about {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #6D6D6D;
}
.teacher-image {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
}
.teacher-image img {
    width: 100%;
}


/* DIPLOMA  */

.diploma__container {
    background: linear-gradient(180deg, #F7F6FF 0%, #FFFFFF 100%);
}
.diploma-row {
    display: flex;
    gap: 40px;
}
.diploma-image {
    width: 70%;
    max-width: 947px;
}
.diploma-image img {
    width: 100%;
}
.diploma-text {
    width: calc(30% - 40px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    
}


/* FORFIT SCHOOL */

.course--fitfor {
    padding-top: 120px;
}



/* -------------------COURSES---------------------- */




.main--course {
    padding-top: 120px;
    background: #ECE9FE;
}
.course-abs {
    bottom: 0;
}


/* -------------------AUTHORIZATION---------------------- */


.auth-page .abs-item:first-child {
    z-index: 2;
}
.auth__container {
    padding-top: 120px;
    background: linear-gradient(180deg, #F1F0FD 0%, #ECE9FD 100%);
}
.auth-wrapper {
    max-width: 1194px;
    margin: 0 auto;
}
.auth-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Roboto;
    color: #3E3E3E;
    gap: 40px;
}
.auth-block {
    width: 577px;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    background: #BEB5FD;
    position: relative;
    border-radius: 20px;
    z-index: 2;
}
.auth-block:last-child {
    background: #e7e3ff;
}
.auth-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-bottom: 16px;
}
.auth-form {
    max-width: 577px;
    padding: 36px 48px 48px;
    position: relative;
    width: 100%;
}
.input-column {
    display: flex;
    flex-direction: column;
    width: 481px;
}
.input-column input {
    background: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 120%;
    padding-left: 16px;
    color: rgba(62, 62, 62, 0.3);
    border: none;
}
.input-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-column label {
    margin-bottom: 8px;
}
.input-column:nth-child(1) {
    margin-bottom: 36px;
}
.input-bottom > div {
    margin-top: 24px;
}
.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.checkbox input {
    width: 24px;
    height: 24px;
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: 1;
    cursor: pointer;
}
.checkbox-checker {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background: transparent;
}
.checkbox-checker::before {
    content: "";
    left: 6px;
    top: 1px;
    position: absolute;
    background: #ffffff;
    width: 8px;
    height: 13px;
    border: solid #882FF2;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-checkbox__container > input:checked ~ span::before {
    display: block;
}
.form-checkbox__container > input:checked ~ span {
    background: #ffffff;
}
.form-checkbox__container {
    margin-right: 8px;
    background: #ffffff;
    position: relative;
    width: 24px;
    height: 24px;
}
.submit button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #8676FB;
    border-radius: 24px;
    width: 160px;
    height: 56px;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;    
    color: #FFFFFF;
}
.input-row {
    display: flex;
    gap: 40px;
}
.input-row .input-column {
    max-width: 221px;
}
.input-row:nth-child(2) .input-column {
    margin-bottom: 0;
}
.auth-block:nth-child(2) .input-bottom {
    display: flex;
    justify-content: flex-end;
}



/* -------------------ANOTHER PAGES---------------------- */


.another-page {
    height: unset !important;
}
.another-page__container {
    padding-top: 98px;
}

/* BLOG PAGE */

.blog--page__container {
    background: #F1F0FD;
    padding-top: 98px;
}
.blog--page__container .block-title {
    max-width: 947px;
    width: calc(70% - 40px);
}
.blog--page-content {
    display: flex;
    gap: 40px;
}
.blog--page-text {
    width: calc(70% - 40px);
    max-width: 947px;
}
.inner-text:first-child {
    margin-bottom: 80px;
}
.inner-text p:not(:last-child) {
    margin-bottom: 16px;
}
.inner-text p {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    
}
.blog--page-image {
    max-width: 453px;
    width: 30%;
}
.blog--page-image img {
    width: 100%;
}
.blog-page__slider {
    background: linear-gradient(180deg, #F1F0FD 0%, #FFFFFF 100%);
}


/* BONUSES PAGE */

.bonus-page {
    background: linear-gradient(180deg, #F1F0FD 0%, #FFFFFF 100%);
}
.bonus-page .bonus-text {
    max-width: 947px;
}
.bonus-page .bonuses-row {
    gap: 40px;
    justify-content: unset;
}
.bonus-page .bonus-block {
    margin: 0;
}


/* REVIEWS PAGE */

.review--page__container {
    padding-top: 90px;
    background: linear-gradient(180deg, #F1F0FD 0%, #FFFFFF 100%);
}
.review__page-slide {
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}
.review__page-image {
    width: 100%;
    height: 228px;
}
.review__page-image img {
    width: 100%;
    height: 100%;
}
.review__page-content {
    display: flex;
    justify-content: center;
    padding: 29px 0;
    background: #ffffff;
}
.review__page-content p {
    font-family: Roboto;
    font-size: 20px;
    line-height: 160%;
}

/* REVIEW PAGE SLIDER */

.detailedcard__container {
    background: linear-gradient(180deg, #F1F0FD 0%, #FFFFFF 100%);
    padding-top: 98px;
}

.reviews-slider .slick-slide {
    margin: 0 20px !important;
}
.detailedcard__container .abs-item:nth-child(1) {
    bottom: 100px;
    left: 0;
}
.detailedcard__container .block-title {
    width: calc(70% - 40px);
}
.detailedcard__container .abs-item:nth-child(2) {
    top: -100px;
    right: 0;
}
.detailedcard__inner {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    display: flex;
    gap: 40px;
}
.detailedcard__text-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-bottom: 16px;
}
.detailedcard__text:not(:last-child) {
    margin-bottom: 16px;
}
.detailedcard__content {
    width: calc(70% - 40px);
}
.detailedcard-btn {
    position: relative;
    margin-top: 80px;
}
.detailedcard__description > p {
    color: #3E3E3E;
    margin: 40px 0;
}
.detailedcard__image {
    width: 30%;
    max-width: 453px;
}
.detailedcard__image img {
    width: 100%;
}
.detailedcard__tabs--inner {
    max-width: 863px;
    border-bottom: 3px solid rgba(134, 118, 251, 0.2);
    color: #3E3E3E;
    display: flex;
}
.detailed__tab {
    padding: 8px 16px;
    position: relative;
    cursor: pointer;
}
.active-tab::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #6BBF5F;
    bottom: -3px;
    left: 0;
    display: block;
    position: absolute;
}

 /* BRIEF CARD PAGE */

.briefly-card.review--page__container {
    background: #FFFFFF;
 }
.briefly-card .detailedcard__text p {
    margin: 40px 0 20px;
}
.briefly-card .reviews-row {
    max-width: 947px;
}


/* SERTIFICATE PAGE */

.sertificate-page {
    padding-top: 98px;
    background: linear-gradient(180deg, #F1F0FD 0%, #FFFFFF 100%); 
}
.sertificate__description {
    margin-bottom: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
}
.sertificate__row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.sertificate__image img {
    width: 100%;
}
.sertificate__slider .slick-slide {
    margin: 0 20px !important;
}
.sertificate__slider .slick-list {
    margin: 0 -20px !important;
}

/* BLOGS PAGE */

.blogs-page {
    padding-top: 98px;
    background: linear-gradient(180deg, #F1F0FD 0%, #FFFFFF 100%); 
}
.blog-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}




.menu-close__mobile {
    display: none;
}
.overlayed .menu-close__mobile {
    cursor: pointer;
    display: flex;
}
.overlayed .nav, .overlayed .header-auth {
    display: none;
}
.overlayed .hamburger-text, .overlayed .hamburger {
    display: none;
}
.overlayed .header__items {
    justify-content: flex-end;
}
.overlayed .abs-items {
    display: none;
}