
@font-face {
    font-family: 'A_Albionicbold';
    src: url('a_Albionic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
