/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/


* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
li::marker {
    display: none;
}
ul {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, .no-boot ul {
	list-style: none;
    margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: var(--blue);
}
img {
    width: 100%;
    height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* body */
body, html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizelegibility;
}
body {
    margin: 0; 
    padding: 0;
    font-family: Circular Std, serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    overflow-x: hidden;
    background: #FFFFFF;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}

.title {
    font-family: Recoleta Alt;
}
.container {
    max-width: 1260px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    cursor: pointer;
}
.is-open {
    overflow: hidden;
}
.is-open .title-slogan {
    display: none;
}
.section-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #0C0A7A;
}
/* header */

.header {
    color: #FFFFFF;
}
.header__wrapper {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header .container {
    max-width: 100%;
    padding: 0 100px;
}
.logo {
    width: 210px;
    height: 60px;
}
.header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-logo {
    margin-right: 7vw;
}
.header-nav li:not(:last-child) {
    margin-right: 3vw;
}
.hamburger {
    cursor: pointer;
}
.hamburger__inner {
    width: 20px;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.h-top, .h-bottom,.h-cent-t, .h-cent-b  {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2.5px;
    height: 2.5px;
}
.h-cent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10px;
}
.h-cent svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.is-active .h-cent svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.h-cent__left {
    display: flex;
}
.h-cent__right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.menu-btn {
    height: 54px;
    color: #000000;
    background: url(../img/btn-bg.jpg) no-repeat;
    background-size: cover;
    font-weight: 700;
    max-width: 335px;
    width: 100%;
    margin: 0 auto 40px;
}


/* screen */

.main__screen {
    background: #0C0A7A;
    position: relative;
    
}
.screen-squares {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 705px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}
.screen-square {
    width: calc(100% / 3);
    height: calc(100% / 4);
    max-height: 235px;
}
.screen-square {
    -o-object-fit: cover;
       object-fit: cover;
}
.main__screen--content {
    color: #FFFFFF;
}
.screen__wrapper {
    padding: 123px 0 171px;
    max-width: 595px;
}
.screen-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    position: relative;
}
.title-slogan {
    position: absolute;
    width: 152px;
    height: 106px;
    bottom: calc(50% + 20px);
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    right: 0;
    background: url(../img/slogan.png) no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;

}
.title-slogan p {
    font-style: italic;
    font-weight: 450;
    font-size: 20px;
    line-height: 106%;
    text-align: center;
    -webkit-transform: rotate(-9.39deg);
            transform: rotate(-9.39deg);
}
.screen-text {
    margin: 37px 0 47px;
    font-size: 20px;
    line-height: 30px;
    color: #9797ED;
    font-weight: 450;
}
.screen-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-btn {
    margin-right: 50px;
    width: 189px;
    height: 64px;
    color: #000000;
    background: url(../img/btn-bg.jpg);
    font-weight: 700;
}
.about-btn {
    font-weight: 500;
}
.btn-text {
    margin-right: 17px;
}
.btn-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #9797ED;
    border-radius: 50%;
}
.btn-inner img {
    width: 13px;
    height: 12px;
}

/* description */

.description__screen {
    padding: 150px 0 167px;
}
.description__screen--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.description__squares {
    width: 42%;
}
.description__squares img {
    height: unset;
}
.description__content {
    width: 50%;
}
.description-info {
    margin: 30px 0 70px;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    color: #111111;
    opacity: 0.6;
}
.section-title span {
    position: relative;
}
.description-title span {
    line-height: 40px;
}
.description-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 8px);
    height: 37px;
    background: url(../img/descriptionL.svg);
    bottom: 4px;
    z-index: -1;
    left: 0;
}
.description-item {
    padding-bottom: 24px;
    margin-top: 44px;
    border-bottom: 1px solid #EDEDF5;
}
.description-item > p {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0C0A7A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}
.description-item p svg {
    float: right;
    margin-left: 10px;
}
.description-collapse {
    color: #111111;
    opacity: 0.6;
}
.description-collapse p:not(:last-child) {
    margin-bottom: 20px;
}
.description-collapse ul {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
}
.collapse:not(.show) {
    display: none;
  }
  
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

/* information */

.information__screen {
    padding-bottom: 150px;
}
.information__screen--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;

}
.information-title {
    margin-bottom: 85px;
}
.information-desc {
    width: 42%;
}
.information-social {
    width: 50%;
}
.information-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 8px);
    height: 37px;
    background: url(../img/descriptionL.svg) no-repeat;
    background-size: cover;
    bottom: 4px;
    z-index: -1;
    left: 0;
}
.information-social--text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0C0A7A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; 
    width: 50%;
    margin-bottom: 85px;
}

.desc-img {
    width: 74px;
    height: 74px;
    margin-right: 30px;
}
.soc-img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.information-desc--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 41px 0;
    border-bottom: 1px solid #F6F6FA;
    max-width: 417px;
}
.information-social--item > a {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #B27CF8;
}
.information-desc--item:first-child {
    padding-top: 0;
}
.information-social--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
}
.desc-info p:first-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0C0A7A;
    opacity: 0.4;
    margin-bottom: 10px;
}
.desc-info p:last-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0C0A7A; 
}
.soc-info p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0C0A7A;
    margin-bottom: 3px;

}
.soc-info p:last-child {
    color: #111111;
    opacity: 0.6;
}

/* goals */

.goals__screen {
    padding-bottom: 150px;
}
.goals__screen--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.goals-title {
    width: 50%;
    margin-left: auto;
    margin-bottom: 80px;
}
.goals-scrolling {
    width: 43%;
}
.goals-static {
    width: 51%;
    position: relative;
}
.goals-scrolling {
    position: relative;
    height: 600px;
    overflow: hidden;
    color: #111111;
    opacity: 0.4;
}
.goals-scrolling-text p:first-child {
    margin-bottom: 20px;
}
.goals-scrolling-text a {
    color: #D0B1F8;
}
.goals-scrolling-title, .goals-static-title {
    text-transform: uppercase;
    margin-bottom: 51px;
    color: #111111;
    opacity: 0.4;
}
.goals-text {
    color: #111111;
    opacity: 0.6; 
    max-width: 511px;
}
.goals-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 84px;
            flex: 0 0 84px;
    max-height: 84px;
    margin-right: 30px;
}
.goals-static-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.goals-static-item:not(:last-child) {
    margin-bottom: 50px;
}
.goals-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 28px);
    height: 37px;
    background: url(../img/goalsL.svg) no-repeat;
    background-size: cover;
    bottom: 4px;
    z-index: -1;
    left: 0;
}
.goals-scrolling-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 0 100px;
}
.goals-scrolling--second {
    top: 100%;
}
.goals-scrolling--third {
    top: 200%;
}
.goals-scrolling--fourth {
    top: 300%;
}


/* structure */

.structure__screen {
    padding: 150px 0;
    background: #0C0A7A;
    color: #FFFFFF;
}
.structure__screen--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.structure-text {
    max-width: 595px;
    font-size: 20px;
    line-height: 30px;
    color: #9797ED;
}
.structure-arrow {
    width: 150px;
    margin: 0 40px;
}
.structure-title {
    color: #FFFFFF;
    max-width: 300px;
}
.structure__scrolling--container {
    position: relative;
    margin-top: 83px;
    overflow: hidden;
    height: 474px;
}
.structure__scrolling-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 2220px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.structure__scrolling-item {
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    padding: 59px 49px 44px;
    margin-right: 40px;
    width: calc(100% / 5 - 40px);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.structure__inner-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.structure-icon {
    width: 50px;
}
.structure-id {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #8CF2F2;
}
.structure-inner--title {
    font-weight: 500;
    font-size: 34px;
    line-height: 122%;
    margin-top: 23px;
    color: #FFFFFF;
}
.structure-inner--text {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 16px;
    line-height: 24px;
    color: #9797ED;
    margin-top: auto;
}

/* reading */

.reading__screen {
    padding: 150px 0;
}

.reading__screen--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.reading__squares {
    width: 42%;
}
.reading__squares img {
    height: unset;
}
.reading__content {
    width: 50%;
}
.reading-info {
    margin: 30px 0 70px;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    color: #111111;
    opacity: 0.6;
}
.section-title span {
    position: relative;
}
.reading-title span {
    line-height: 40px;
}
.reading-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: 181px;
    height: 53px;
    background: url(../img/readingL.svg) no-repeat;
    background-size: cover;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    z-index: 1;
    left: 110%;
}
.reading-collapse p {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px; 
    color: #111111;
    opacity: 0.6;
}
.reading-item {
    padding-bottom: 24px;
    margin-top: 44px;
    border-bottom: 1px solid #EDEDF5;
}
.reading-item svg.opened {
    display: none;
}
.reading-item > p[aria-expanded="true"] svg.opened {
    display: unset;
}
.reading-item > p[aria-expanded="true"] svg.closed {
    display: none;
}
.reading-item > p {
    cursor: pointer;
    font-weight: 500;
    font-size: 34px;
    line-height: 122%;
    color: #0C0A7A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}
.reading-item p svg {
    float: right;
    margin-left: 10px;
}
.readingEl {
    max-width: 253px;
    margin-bottom: 20px;
}





/* assignments */

.assignments__screen {
    padding: 150px 0;
    background: #0C0A7A;
}
.assignments-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
}
.assignments-title {
    color: #FFFFFF;
}
.assignments-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 68px;
    background: url(../img/assignmentsL.svg) no-repeat;
    background-size: cover;
    bottom: -70px;
    z-index: 1;
    left: 0;
}
.assignments-text {
    line-height: 28px;
    color: #9797ED;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58%;
            flex: 0 0 58%;
}
.assignments-tab {
    padding: 50px 0 25px;
    border-top: 2px solid #FFFFFF;
}
.assignments-tab-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
}
.assignments-tab:last-child {
    border-bottom: 2px solid #FFFFFF;
}
.assignments-btn {
    border: 2px solid #9797ED;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    cursor: pointer;
    -ms-flex-item-align: center;
        align-self: center;
}
.assignments-id {
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #9797ED;
}
.assignments-desc {
    font-weight: 500;
    font-size: 34px;
    line-height: 122%;
    color: #FFFFFF;
    max-width: 500px;
    width: 100%;
    margin: 0 180px 0 80px;
}
.assignments-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
}
.assignments-date p:first-child {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #9797ED;
}
.assignments-date p:last-child {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.assignments-collapse {
    line-height: 28px;
    color: #9797ED;
}
.assignments-date--mobile {
    display: none;
    margin-bottom: 10px;
}
.assignments-date--mobile p:first-child {
    margin-right: 16px;
    line-height: 22px;
    color: #9797ED;
}
.assignments-date--mobile p:last-child {
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
}


/* research */


.research__screen {
    padding: 150px 0;
}
.research-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    background: url(../img/researchL.svg) no-repeat;
    background-size: cover;
    bottom: 7px;
    z-index: -1;
    left: 8px;
}
.research__screen--wrapper {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #F3F3F8;
    padding-bottom: 100px;
}

.research-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    max-width: 596px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
}
.research-img img {
    height: unset;
}
.research-img:first-child, .research-content:nth-child(2) {
    margin-bottom: 150px;
}

.research-content-text {
    color: #111111;
    opacity: 0.6; 
    max-width: 511px;
}
.research-content-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    max-height: 64px;
    margin-right: 30px;
}
.research-content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.research-content-item:not(:last-child) {
    margin-bottom: 50px;
}
.research-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
}
.research-content--title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0C0A7A;
    margin-bottom: 70px;
}
.research-content > p {
    line-height: 28px;
    color: #707070;
}
.research-content > p:nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0C0A7A;
    margin-bottom: 20px;
}
.research-content p span {
    color: #0C0A7A;
}
.research-image {
    width: 64px;
    height: 64px;
    margin: 59px 0 29px;
}

.research__screen--main {
    margin-bottom: 100px;
}



.research__scroll--container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    
  -webkit-perspective: 1000;
  perspective: 1000;
}
.research__scroll--abs {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 2400px;
}
.research__scroll--item {
    width: 300px;
    margin-right: 100px;
}
.milestone-title {
    font-weight: 500;
    font-size: 34px;
    line-height: 122%;
    color: #0C0A7A;
}
.milestone-arrow {
    width: 171px;
    margin-top: 6px;
}
.research-date {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #9E9EC8;
}
.research-date img {
    margin-right: 12px;
    width: 18px;
    height: 18px;
}
.research-inner--title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0C0A7A;
    margin: 30px 0 12px;
}
.research-text--inner {
    color: #111111;
    opacity: 0.6;
}

.research__scroll--item-mobile {
    display: none;
}











/* grading */

.grading__screen {
    padding: 150px 0;
    background: #0C0A7A;
    color: #FFFFFF;
}
.grading__top--row, .grading__bottom--row, .grading-content--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.grading__bottom--row {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}
.grading__top--row {
    margin-bottom: 100px;
}
.grading__top--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.grading__top--image {
    max-width: 491px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41%;
            flex: 0 0 41%;
}
.grading-title {
    color: #FFFFFF;
}
.grading-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 32px;
    background: url(../img/gradingL.svg) no-repeat;
    background-size: cover;
    bottom: -40px;
    z-index: 1;
    left: 2px;
}
.grading__top--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54%;
            flex: 0 0 54%;
    max-width: 600px;
}
.grading__screen h1 {
    font-family: Recoleta;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 96px;
    margin-bottom: 10px;
}
.grading-content--num p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.grading-content--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.grading-content--list > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 60px;
}
.grading-content--list > div:not(:last-child) {
    margin-bottom: 10px;
}
.grading-content--list > div p {
    color: #9797ED;
    font-size: 16px;
    line-height: 24px;
}
.grading-content--list > div span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.grading__bottom--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.grading__bottom--item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
}

.grading__bottom--item p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 200px;
}
.grading__bottom--item p span {
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    color: #9797ED;
}
.grading__bottom--item h1 {
    margin-bottom: 20px;
}

/* acknowledgements */

.aknowledgements__screen {
    padding: 150px 0;
}
.aknowledgements__screen--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.aknowledgements-left {
    margin-right: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
}
.aknowledgements-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 51%;
            flex: 0 0 51%;
    max-width: 595px;
}
.aknowledgements-title {
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 60px;
}
.aknowledgements-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 32px;
    background: url(../img/aknowledgementsL.svg) no-repeat;
    background-size: cover;
    bottom: 2px;
    z-index: -1;
    left: 0;
}
.aknowledgements-text {
    color: rgba(17, 17, 17, 0.6);
}
.aknowledgements-right .form {
    background: #FAF7ED;
    border-radius: 10px;
    padding: 82px 52px 99px;
}
.form-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0C0A7A;
    margin-bottom: 41px;
}
.form-row:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.form-row {
    margin-top: 30px;
}
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.form-group label {
    font-size: 14px;
    line-height: 18px;
    color: #677C95;
    margin-bottom: 12px;
}
.half-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
}
.form-input {
    height: 59px;
    border-radius: 5.65107px;
    overflow: hidden;
}
.form-input input {
    background: #FFFFFF;
    border: none;
    color: #0C0A7A;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}
.form-submit {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;    
}
.form-submit p {
    font-size: 12px;
    line-height: 19px;
    color: #111111;
    opacity: 0.4;
    margin-right: 10px;
    max-width: 277px;
}
.form-btn {
    margin: 0;
    background-size: cover;
}



/* schedule */

.schedule__screen {
    padding: 150px 0;
    background: rgba(151, 151, 237, 0.08);
}
.schedule-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
}
.schedule-title {
    margin-right: 20px;
}
.schedule-title span::after {
    content: "";
    position: absolute;
    display: block;
    width: 110%;
    height: 33px;
    background: url(../img/scheduleL.svg) no-repeat;
    background-size: cover;
    bottom: 0px;
    z-index: -1;
    left: 0;
}
.schedule-text {
    font-size: 18px;
    line-height: 28px;
    color: #6D6D70;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58%;
            flex: 0 0 58%;
}
.schedule-text a {
    color: #CDAEF7;
}
.schedule-tab {
    padding: 50px 0 50px;
    border-top: 2px solid #E8E8F5;
}
.schedule-tab-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
}
.schedule-tab:last-child {
    border-bottom: 2px solid #E8E8F5;
}
.schedule-id {
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0C0A7A;
    opacity: 0.4;
}
.schedule-desc {
    font-weight: 500;
    font-size: 34px;
    line-height: 122%;
    color: #0C0A7A;
    max-width: 513px;
    width: 100%;
    margin: 0 180px 0 80px;
}
.schedule-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: auto;
}
.schedule-date p:first-child {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #0C0A7A;
    opacity: 0.4;
}
.schedule-date p:last-child {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #0C0A7A;
}
.schedule-collapse {
    line-height: 28px;
    color: #9797ED;
}
.schedule-date--mobile {
    display: none;
    margin-bottom: 30px;
}
.schedule-date--mobile p:first-child {
    margin-right: 16px;
    line-height: 22px;
    color: #0C0A7A;
    opacity: 0.4;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.schedule-date--mobile p:last-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #0C0A7A;
}
.schedule-collapse--inner {
    padding-left: 200px;
    position: relative;
}
.schedule-collapse--inner:not(:last-child) {
    margin-bottom: 40px;
}
.schedule-collapse--inner p {
    color: #000000;
    display: block;
    min-height: 20px;
    opacity: 0.6;
}
.schedule-collapse--inner ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #000000;
    opacity: 0.6;
}
.schedule-collapse--inner a {
    color: #B27CF8;
}
.schedule-collapse--inner p:not(:last-child) {
    margin-bottom: 20px;
}
.schedule-collapse--inner span {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0C0A7A;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}


/* footer */

.footer {
    background: #0C0A7A;
    padding: 100px 0;
    font-weight: 450;
    font-size: 16px;
    line-height: 26px;
    color: #9797ED;
}
.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__wrapper .footer__rights {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 420px;
    text-align: center;
}
.footer__social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #8CF2F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.footer__social a:first-child {
    margin-right: 34px;
}
.footer__social a:first-child img {
    width: 16px;
    height: 13px;
}
.footer__social a:last-child img {
    width: 13px;
    height: 16px;
}