:root {
    --blue: #2B80FF;
    --black: #1D1D1D;
    --green: #2FA077;
    --c-green: #4DB45E;
    --bg: #FFFFFF;
    --grey: #7A7A7A;
    --success: #69ED7E;
    --warning: #FFAD18;
    --danger: #FF0100;
}

@media only screen and (max-width: 1260px) {
    .header-nav ul li:not(:last-child) {
        margin-right: 3.5vw;
    }
    .header-nav ul li:last-child {
        margin-right: 0;
    }
    .screen-icon:nth-child(3) {
        left: -40px;
    }
    .screen-icon:nth-child(4) {
        left: -80px;
    }
    .service__slider--item {
        flex: 0 0 50%;
    }
    .screen__about--image {
        width: 319px;
    }
}

@media only screen and (max-width: 1090px) {
    .main__screen--about {
        max-width: 550px;
    }
    .banner-reg {
        width: 100%;
        flex-flow: wrap;
    }
    .banner-tel {
        width: 100%;
        margin-top: 20px;
        padding-top: 0;
    }
    .review-item {
        padding-bottom: 45px;
    }
    .review-rate {
        top: unset;
        bottom: -27px;
    }
}

@media only screen and (max-width: 991px) {
    .header-nav {
        display: none;
    }
    .header__auth {
        display: none;
    }
    .hamburger__wrapper {
        display: block;
    }
    .main__screen--about {
        width: 50%;
    }
    .order-item {
        max-width: unset;
        justify-content: center;
        text-align: center;
    }
    .order-image {
        margin: 0 auto;
    }
    .telegram__sidebar {
        display: none;
    }
    .c-row__panel {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 800px) {
    .screen-icon:nth-child(4) {
        display: none;
    }
    .order-nav {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    .screen__about--image {
        display: none;
    }
    .main__screen--icon {
        display: block;
    }
    .main__screen--about {
        width: 100%;
        max-width: 600px;
    }
    .main {
        padding-top: 53px;
    }
    .screen__about--text {
        margin: 40px 0;
    }
    .service__slider {
        padding-top: 53px;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img {
        width: 100%;
        margin-top: 20px;
    }
    .banner-img--wrapper {
        max-width: 300px;
        max-height: 230px;
    }
    
    .banner-img img {
        display: block;
    }
    .banner-img img.banner-desk {
        display: none;
    }
    .footer-menu + ul {
        grid-template-columns: 60% 1fr;
    }
    .footer-menu + ul > li:nth-child(3) {
        order: 3;
    }
    .footer-menu + ul > li:nth-child(6) {
        order: 1;
    }
    .footer-menu + ul > li:nth-child(9) {
        order: 2;
    }
    .order-desc {
        margin-top: 50px;
    }

}
@media only screen and (max-width: 700px) {
    .tr-title {
        display: none;
    }
    tbody > tr:not(.tr-title) {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 3fr;
        border: 1px solid #E3E3E3;
        padding-top: 20px;
        border-radius: 8px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .panel-title {
        text-align: center;
    }
    .cabinet .main__panel--wrapper:nth-child(4) {
        border-top: 1px solid #E3E3E3;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 6px;
    }
    .form-wrapper {
        padding-right: 15px;
        padding-left: 15px;        
    }
    .td-status{
        padding: 0;
    }
    .td-title .title, .td-col .title, .td-date .title, .td-col .title {
        display: block;
    }
    .td-title {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        text-align: center;
    }
    .td-title .title {
        width: 40px;
        background: #FAFAFA;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .td-date > div, .td-col > div {
        text-align: center;
    }
    .td-col {
        padding: 15px 25px 15px;
    }
    .td-title .title img {
        width: 20px;
    }
    .td-col .value {
        margin: 10px 0;
    }
    .td-status {
        grid-column: 1 / 3;
    }
    .td-status .title {
        width: 100%;
        border-radius: 0;
        padding: 20px 0;
    }
    table .value {
        padding: 0;
    }
    .td-title .title {
        margin-bottom: 10px;
    }
    .title {
        color: var(--black);
    }
    table p {
        color: var(--black);
    }
    .help-inner, .help-up {
        flex-direction: column;
        align-items: center;
    }
    .help-up > div p {
        text-align: center;
    }
    .help-img {
        margin: 0;
    }
    .help-text {
        margin: 15px 0;
    }
    .c-btn-support {
        width: 180px;
    }
    .help-panel {
        margin-top: 0;
    }
    .cabinet .main__panel--wrapper:nth-child(3) {
        padding-top: 0;
    }
}
@media only screen and (max-width: 575px) {
    .banner-title {
        font-size: 18px;
    }
    .banner-reg p {
        font-size: 14px;
    }
    .banner-tel p {
        font-size: 14px;
    }
    .banner-tel--title {
        font-size: 18px;
    }
    .banner-reg, .banner-tel {
        padding: 10px 15px 30px;
    }
    .banner-reg {
        padding-top: 30px;
    }
    .block-margin {
        margin: 25px 0;
    }
    .panel-balance {
        margin-bottom: 27px;
    }
    .account-setting .panel-balance {
        margin-bottom: 0;
    }
    .order-img-sm {
        display: flex;
    }
    .order-img {
        display: none;
    }
    .order-text > div:first-child span {
        display: none;
    }
    .order-text > div:first-child {
        display: flex;
        margin-bottom: 40px;
    }
    .c-card .main__panel--wrapper {
        padding-right: 15px;
        padding-left: 15px;
    }
    .order-text > div:last-child {
        width: unset;
    }
}
@media only screen and (max-width: 475px) {
    .header {
        height: 57px;
    }
    .main {
        padding-top: 23px;
    }
    .screen__about--text {
        font-size: 14px;
        margin: 33px 0;
    }
    .screen__up > div {
        text-align: center;
    }
    .screen__about--title {
        font-size: 18px;
    }
    .screen__about--btn {
        flex-direction: column;
    }
    .screen__about--btn > a:last-child {
        margin: 0 auto;
    }
    .screen__about--btn > a:first-child {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .service__inner {
        display: flex;
        margin: 0 auto;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-image {
        margin: 0 0 20px;
    }
    .service-text {
        text-align: center;
    }
    .service-nav {
        display: flex;
    }
    .cd-container.c-container {
        width: 100%;
    }
    .banner-reg, .banner-tel {
        border-radius: 0;
        margin: 0;
    }
    .order-title {
        font-size: 18px;
    }
    .main__order--inner {
        padding: 15px;
        border-radius: 0;
    }
    .footer-menu + ul {
        grid-template-columns: 1fr 1fr;
    }
    .footer-menu + ul > li:nth-child(3) {
        order: 3;
        grid-column: 1 / 3;
    }
    .footer-menu + ul > li:nth-child(6) {
        
        grid-column: 1 / 3;
    }
    .footer-menu + ul > li:nth-child(9) {
        grid-column: 1 / 3;
    }
    .footer-rights {
        text-align: start;
        margin-top: 20px;
    }
    .top {
        bottom: -42px;
        top: unset;
    }
    .promotion__sidebar {
        border-radius: 0;
    }
    .c-panel-btn {
        width: 100%;
    }
    .balance-content {
        margin-left: 12px;
    }
    .mobile-menu {
        top: 57px;
    }
    .promotion__sidebar--title {
        padding-top: 40px;
        background: unset;
        color: var(--black);
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }
    .promotion__sidebar--items .promotion__active, .promotion__sidebar--items .promotion__block {
        border: 1px solid #DBDBDB;
    }
    .promotion__sidebar--items .promotion__item {
        margin-bottom: 10px;
    }
    .c-d-none {
        display: block;
    }
    .td-col, .td-date {
        padding: 15px 10px 15px 26px;
    }
    .td-col > div, .td-date > div {
        text-align: start;
    }
    .td-date {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .td-col {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .main__cabinet {
        padding-top: 0;
    }
    .main__panel {
        border-radius: 0;
    }
    .form-wrapper > * {
        width: 100%;
    }
    .email-set {
        text-align: center;
    }
    .form-inner {
        width: 100%;
    }
    .c-input__inner {
        margin-right: 10px;
    }
    .choose-btn {
        display: inline;
    }
    .desc__up {
        display: none;
    }
}

@media only screen and (min-width: 1260px) {
    /* .container {
        max-width: 1250px !important;
    } */
}

@media only screen and (min-width: 475px) {
    
}