/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/

:root {
    --blue: #2B80FF;
    --black: #1D1D1D;
    --green: #2FA077;
    --c-green: #4DB45E;
    --bg: #FFFFFF;
    --grey: #7A7A7A;
    --success: #69ED7E;
    --warning: #FFAD18;
    --danger: #FF0100;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
li::marker {
    display: none !important;
}
ul {
    list-style-type: none !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, .no-boot ul {
	list-style: none !important;
    margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.c-d-none {
    display: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none !important;
    color: var(--blue);
}
button, input, select {
    outline: none !important;
}
.c-container {
    width: calc(100% - 30px);
    max-width: 1250px;
    margin: 0 auto;
}
.c-button {
    border-radius: 360px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 40px;
    cursor: pointer;
}
.c-panel-btn {
    width: 148px;
}
.c-btn-default {
    color: #fff;
    background: var(--blue);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.c-btn-outline {
    background: #fff;
    color: var(--blue);
    border: 1px solid var(--blue);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.c-btn-default:hover {
    background: #0066FF;
}
.c-btn-outline:hover {
    background: #0066FF;
    color: #fff;
}
.c-btn-white {
    background: #fff;
    color: var(--black);
}
.c-btn-sm {
    width: 110px;
}
.c-btn-md {
    width: 180px;
}
.c-btn-lg {
    width: 280px;
}
img {
    width: 100%;
    height: 100%;
}
.mar-x {
    margin: 100px 0 140px;
}
.c-rel {
    position: relative;
}
.center {
    text-align: center;
}
.block-margin {
    margin: 60px 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.c-collapsed .promotion__active {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0;
}

.overflowed {
    overflow: hidden;
}
.hidden {
    display: none;
}

/* body*/

body.no-boot.body {
    margin: 0; 
    padding: 0;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    overflow-x: hidden;
    color: var(--black);
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    background: var(--bg);
}


/* header */

.header {
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #E3E3E3;
}
.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo-title {
    margin-left: 10px;
    font-weight: 600;
    color: #FFAD18;
}
.header-nav ul li a {
    color: var(--black);
}
.header-nav ul li:not(:last-child) {
    margin-right: 5vw;
}
.header-nav ul li:last-child {
    margin-right: 3.5vw;
}
.header-nav ul li:hover a {
    color: #797979;
}
.header__auth > a:first-child {
    margin-right: 20px;
}
.header__auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hamburger__wrapper {
    display: none;
}
.hamburger {
    padding: 0 !important;
    width: 26px !important;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: var(--grey) !important;
    width: 26px !important;
    height: 3px !important;
}
.hamburger-inner:before {
    top: -7px !important;
}
.hamburger-inner:after {
    bottom: -7px !important;
}
.hamburger-box {
    width: 26px !important;
    height: 21px !important;
}
.hamburger-inner {
    margin-top: 0 !important;
}
.hamburger--spin.is-active .hamburger-inner:before {
    top: 0 !important;
}
.hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0 !important;
}

/* main */

.main {
    padding-top: 93px;
}
.main__screen--about {
    max-width: 650px;
}
.screen__about--image {
    width: 25%;
    position: relative;
}
.image-wrapper {
    border-top-right-radius: 2000px;
    border-top-left-radius: 2000px;
    overflow: hidden;
}
.screen__about--title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
}
.screen__about--text {
    margin: 65px 0;
    font-weight: normal;
    font-size: 18px
}
.screen__about--btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.screen__about--btn > a:first-child {
    margin-right: 19px;
}
.screen-icon img {
    width: unset;
}
.screen-icon {
    position: absolute;
}
.screen-icon:nth-child(2) {
    top: -70px;
    right: 0;
}
.screen-icon:nth-child(3) {
    top: -40px;
    left: -70px;
}
.screen-icon:nth-child(4) {
    top: calc(50% - 20px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -120px;
}
.main__screen--icon {
    display: none;
    width: 53px;
    margin: 0 auto 20px;
}


/* service */


.service__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.service__slider--item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding: 45px 0;
    border: 1px solid #E3E3E3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.service__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.service-image {
    width: 40px;
    margin-right: 12px;
}
.service-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.service-nav {
    display: none;
    width: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 14px auto 0;
}
.slider-arr {
    cursor: pointer;
}

/* promotion */

.block-title {
    font-weight: 600;
    font-size: 24px;
}
.block-subtitle {
    color: var(--grey);
}
.icon {
    position: absolute;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
    top: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.promotion__sidebar--items .icon {
    left: 31px;
}
.icon img {
    width: unset;
}
.promotion__item {
    margin-bottom: 16px;
    cursor: pointer;
}
.promotion__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    position: relative;
    padding: 15px 22px 15px 40px;
    font-weight: bold;
}
.promotion__block {
    border: 1px solid #DBDBDB;
}
.promotion__block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 6px;
    position: relative;
    padding: 15px 22px 15px 40px;
    cursor: pointer;
    font-weight: bold;
}
.promotion__block-item:hover {
    background: #FCFCFC;
}
.caret {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}
.c-collapsed .caret {
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
}

.promotion__sidebar--items .promotion__block-item, .promotion__sidebar--items .promotion__active {
    padding-left: 40px;
}

/* banner */

.main__banner {
    color: #fff;
    line-height: 120%;
}
.banner-reg p {
    line-height: 120%;
}
.banner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}
.banner-reg {
    border-radius: 12px;
    padding: 49px 20px 58px 69px;
    background: var(--black);
    width: 59%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.banner-tel {
    width: 39%;
    border-radius: 12px;
    padding: 49px 0 58px 0;
    background: var(--blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner-title {
    line-height: 120%;
    font-weight: 600;
    font-size: 18px;
}
.banner-content {
    max-width: 379px;
    line-height: 120%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.banner-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner-tel--text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.banner-tel p {
    line-height: 21px;
}
.banner-tel--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px
}
.banner-abs {
    position: absolute;
    top: -80px;
    right: 0;
}
.banner-img--wrapper {
    position: relative;
}
.banner-img img {
    display: none;
}
.banner-img img.banner-desk {
    display: block;
}

/* reveiws */

.review-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.review-nav > div {
    border-radius: 50%;
    background: #F4F4F4;
    width: 30px;
}
.review-nav > div:first-child {
    margin-right: 20px;
}
.reviews-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.review-item {
    padding: 24px;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
}
.review-inner {
    position: relative;
}
.review-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.review-img {
    width: 60px;
    margin-right: 18px;
}
.review-user--info p:last-child {
    font-size: 12px;
    line-height: 28px;
    color: #6A6A6A;
}
.review-user--info p span:last-child {
    color: var(--blue);
}
.review-rate {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.review-rate > div + div {
    margin-right: 3px;
}
.reviews-slider .slick-slide {
    margin: 0 10px !important;
}

/* order */


.main__order--inner {
    padding: 60px 60px;
    background: #389F79;
    border-radius: 12px;
}
.order-title {
    color: #fff;
}
.order-image {
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.order-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}
.order-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    max-width: 182px;
}
.order-text p:first-child {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
}
.order-text p:last-child {
    line-height: 160%;
    color: #fff;
}
.order-image img {
    width: 44px;
}
.order-slider .slick-slide {
    margin: 0 10px !important;
}
.order-nav {
    display: none;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.order-nav > div {
    border-radius: 50%;
    background: #F4F4F4;
    width: 30px;
}
.order-nav > div:first-child {
    margin-right: 10px;
}

/* question */

.question-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    position: relative;
    padding: 15px 22px 15px 15px;
}
.question-item--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    border: 1px solid #DBDBDB;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 15px 22px 15px 15px;
}
.question__block {
    margin-bottom: 16px;
}
.c-collapsed .question-item {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

/* footer */

.footer {
    background: var(--black);
    padding: 43px 0 33px;
}
.footer-logo img {
    width: unset;
}
.footer-text {
    margin-top: 17px;
    line-height: 22px;
    color: var(--grey);
}
.footer-menu {
    color: #fff;
    margin-bottom: 15px;
}
.footer-menu + ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 1fr;
    grid-template-columns: 25% 25% 1fr;
    -ms-grid-rows: 15px 10px 15px 10px 15px;
    grid-template-rows: 15px 15px 15px;
    grid-row-gap: 10px;
    padding: 0;
}
.footer-menu + ul > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.footer-menu + ul > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.footer-menu + ul > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.footer-menu + ul > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.footer-menu + ul > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}
.footer-menu + ul > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.footer-menu + ul > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.footer-menu + ul > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
}
.footer-menu + ul > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.footer-menu + ul > li a {
    color: #fff;
}
.telegram-block {
    background: #ECECEC;
    color: var(--black);
    border-radius: 4px;
    width: 138px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}
.telegram-block img {
    width: 4px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -3px;
}
.footer-telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-telegram > img {
    margin-right: 16px;
    width: unset;
}
.footer-pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin-top: 12px;
}
.pay {
    width: 49px;
    height: 30px;    
    background: #414141;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
}
.pay img {
    width: unset;
    height: unset;
}
.pay:not(:last-child) {
    margin-right: 9px;
}
.footer-rights {
    margin-top: 30px;
    color: var(--grey);
    text-align: end;
}
.top {
    position: absolute;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 12px;
    right: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

/* menu */

.mobile-menu {
    z-index: 100;
    top: 73px;
    right: 0;
    position: absolute;
    padding: 20px 15px 34px 15px;
    width: 320px;
    border-radius: 0px;
    background: #fff;
    border-left: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.mobile-nav a {
    color: var(--black);
}
.mobile-nav li {
    margin-bottom: 16px;
}
.telegram-mobile {
    background: #ECECEC;
    color: var(--black);
    border-radius: 4px;
    width: 249px;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding-left: 10px;
}
.telegram-mobile img {
    width: 4px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -3px;
}
.mobile-telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mobile-telegram > img {
    margin-right: 16px;
    width: unset;
}
.mobile__auth {
    margin-top: 34px;
}
.mobile__auth a:first-child {
    margin-bottom: 10px;
}
.closed {
    right: -500px;
    visibility: hidden;
    display: none;
}





/* CABINET */


.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
a.user {
    color: var(--black);
}
.user img {
    width: unset;
    margin-left: 12px;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.main__cabinet {
    padding: 38px 0;
    background: #FAFAFA;
}

/* sidebar */

.promotion__sidebar {
    background: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
}
.promotion__sidebar--items {
    padding: 15px;
}
.promotion__sidebar--title {
    padding: 15px 0;
    color: #fff;
    background: var(--blue);
}
.promotion__sidebar--items .promotion__active, .promotion__sidebar--items .promotion__block {
    border: none;
}
.promotion__sidebar--items .promotion__item {
    margin-bottom: 0;
}
.telegram__sidebar {
    margin-top: 22px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 22px 0;
}
.telegram__sidebar--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.telegram-img {
    width: 140px;
}

/* panel */

.main__panel {
    background: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
}
.main__panel--wrapper:nth-child(2) {
    border-bottom: 1px solid #E3E3E3;
}
.main__panel--title {
    padding: 15px 0;
    color: #fff;
    background: var(--blue);
}
.main__panel--wrapper {
    padding: 26px 44px;
}
.balance-content {
    margin-left: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.balance-img {
    width: 51px;
}
.balance-img img {
    width: unset;
}
.panel-balance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.balance-content p:first-child {
    margin-bottom: 10px;
    font-weight: 600;
}
.balance-content p:last-child {
    color: var(--grey);
}
.order-count {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 44px;
}
.panel-title {
    font-size: 18px;
    line-height: 44px;
}
.tr-title {
    background: #F5F5F5;
    border-radius: 6px;
}
.tr-title th:first-child .title, .td-date {
    padding: 15px 25px 15px;
}
.lk_order-table th {
    background: #dddddd;
    padding: 16px 12px;
}
.main__panel--wrapper table {
    width: 100%;
}
.td-title .title, .td-col .title, .td-date .title, .td-col .title {
    display: none;
}
table {
    color: var(--grey);
}
table .value {
    line-height: 24px;
    padding-right: 12px;
}
.tr-title th:last-child, .td-status {
    padding-left: 40px;
}
.td-status {
    padding: 12px;
    vertical-align: middle;
}
.status .title {
    margin: 0 auto;
    width: 110px;
    height: 28px;
    color: #fff;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tr-title .title {
    color: var(--black);
}
.title.error {
    background: var(--danger);
}
.title.success {
    background: #71EB86;
}
.title.warning {
    background: var(--warning);
}
.title.default {
    background: var(--blue);
}
tbody > tr:not(:last-child):not(.tr-title) {
    border-bottom: 1px solid #E3E3E3;
}
.tr-title th:first-child {
    width: 200px;
}
.cabinet .main__panel--wrapper:nth-child(3) {
    padding-bottom: 0;
}

/* help */

.help-panel {
    background: #fff;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px 44px;
}
.c-btn-support {
    width: 136px;
}
.help-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.help-img {
    margin-right: 37px;
    max-width: 67px;
}
.help-text p:first-child {
    font-size: 18px;
    line-height: 34px;
}
.help-text p:last-child {
    font-size: 14px;
    line-height: 24px;    
    color: #7A7A7A;
}
.help-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.help-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* auth menu */

.auth-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    top: 51px;
    left: 0;
    background: #fff;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    z-index: 100;
}
.auth-menu a {
    color: var(--black);
}
.auth-menu li {
    line-height: 33px;
    padding: 0 16px;
}
.auth-menu li:hover {
    background: #FCFCFC;
}
.polygol {
    position: absolute;
    top: -14px;
    left: 20px;
}
.opened-auth .auth-menu {
    visibility: visible;
    opacity: 1;
}
.opened-auth .user img {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}

/* none order */

.main__panel--none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sad-image {
    width: 100px;
    margin: 0 auto;
}
.none-title {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
}
.t-hidden tr:not(.tr-title) {
    display: none;
}


/* account setting */

.password-change {
    width: 244px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #1B1B1B;
    background: #F5F5F5;
    border-radius: 6px;
    margin-bottom: 30px;
}
.c-btn-submit {
    width: 100%;
}
.password-form {
    width: 244px;
}
.form-block {
    width: 100%;
    margin-bottom: 29px;
}
.form-block label {
    font-size: 18px;
    margin-bottom: 16px;
}
.form-block > input {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    color: var(--black);
    padding-left: 30px;
    width: 100%;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
}
.form-block input::-webkit-input-placeholder {
    color: #BFBFBF;
    font-size: 14px;
}
.form-block input::-moz-placeholder {
    color: #BFBFBF;
    font-size: 14px;
}
.form-block input:-ms-input-placeholder {
    color: #BFBFBF;
    font-size: 14px;
}
.form-block input::-ms-input-placeholder {
    color: #BFBFBF;
    font-size: 14px;
}
.form-block input::placeholder {
    color: #BFBFBF;
    font-size: 14px;
}
.form-wrapper p img {
    width: unset;
    margin-right: 3px;
}
.form-wrapper p {
    color: #979797;
}

/* balance */

.balance-form {
    width: 244px;
}
.balance-form label {
    font-weight: bold;
    font-size: 14px;
}
.payment:not(:last-child) {
    margin-bottom: 10px;
}
.input-block {
    padding-left: 40px;
    position: relative;
    height: 40px;
    line-height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}
.selected-pay {
    border: 1px solid #2B80FF;
}
.input-block::after {
    content: "";
    display: none;
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    right: 10px;
    width: 14px;
    height: 14px;
    background: url(../img/selected.svg);
    background-position: center;
    background-size: cover;

}
.selected-pay::after {
    display: block;
}
.input-img {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 22px;
    position: absolute;
    top: 50%;
    left: 10px;
}



/* CARD */

.order-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.order-img {
    min-width: 90px;
    height: 90px;
    background: #FAFAFA;
    border-radius: 4px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 43px;
}
.order-img img {
    width: 50px;
}
.order-img-sm {
    display: none;
    width: 44px;
    background: #FAFAFA;
    border-radius: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.order-img-sm img {
    width: 24px;
}
.order-form label {
    font-size: 14px;
}
.order-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.order-text > div:first-child {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;
}
.order-text > div:last-child {
    color: #7A7A7A;
    width: 374px;
    font-size: 14px;
}
.form-inner {
    width: 284px;
}
.order__form--wrapper {
    margin-top: 30px;
}
.form-block .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    height: 100%;
}
.select .btn-light {
    background: #fff !important;
}
.select .btn {
    outline: none !important;
    height: 100% !important;
    padding: 7px 23px 7px !important;
    font-size: 14px;
    line-height: 26px;
    border: 1px solid #E3E3E3;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.select {
    height: 42px;
    width: 100%;
    position: relative;
    border-radius: 6px;
}
.select .bootstrap-select .dropdown-toggle:focus, .select .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none;
    outline: none !important;
    outline-offset: unset !important;
}
.select .btn-light.focus, .select .btn-light:focus {
    -webkit-box-shadow: unset !important;
            box-shadow: unset !important;
}
.select .dropdown-toggle::after {
    display: none;
}
.select .c-select {
    position: relative;
}
.select .c-select::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/arrD.svg);
    background-size: cover;
    background-position: center;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}
.select .dropdown-item:focus, .select .dropdown-item:hover {
    background-color: #F3F3F3;
}
.select .c-select.show::after {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.select-inner {
    color: #7A7A7A !important;
}
.select-inner span {
    color: var(--black) !important;
}
.select .dropdown-item {
    padding: 10px 23px 10px !important;
}
.select .dropdown-item.active, .dropdown-item:active {
    background-color: unset !important;
    color: var(--black);
}
.select .dropdown-item {
    font-size: 14px;
    border-bottom:  1px solid #E3E3E3;
}
.select .dropdown-menu {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select .show .btn {
    border-bottom: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.c-input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.c-input__inner {
    margin-right: 20px;
    width: 174px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 9px 11px;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
}
.c-input__inner > div {
    background: #EEEFF1;
    border: 1px solid #B6BCC3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}
.c-input__inner > div span {
    margin-bottom: 2px;
}
.input-type {
    width: 30%;
    border: none;
    height: 100%;
    text-align: center;
}
.order-form .form-block > input {
    padding-left: 23px;
}
.input__promo {
    width: 100%;
    border: 1px solid #B6BCC3;
    border-radius: 6px;
    height: 40px;
    padding: 0 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.input__promo input {
    border: none;
    height: 100%;
    width: 53%;
}
.promo {
    display: block;
}
.input-note {
    margin-top: 16px;
    color: #7A7A7A;
}
.choose-label {
    width: 100%;
}
.choose-label span {
    float: left;
}
.choose-label a {
    float: right;
}
.choose-btn {
    display: none;
}

/* description */

.desc-subtitle {
    color: #7A7A7A;
}
.star {
    display: block;
    width: 11.3px;
    margin-right: 2px;
}
.star:first-child {
    margin-left: 16px;
}
.desc-quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
}
.desc-speed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.desc__up {
    margin-bottom: 40px;
}
.desc-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}
.zip-icon--inner img {
    width: 10px;
}
.zip-icon--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    background: #F9F9F9;
    border-radius: 50%;
}
.zip-text p:last-child {
    color: #7A7A7A;
}
.zip-icon {
    margin-right: 12px;
}

/* overlay */


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
}
.overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .4);
    max-height: 581px;
}
.popup {
    position: absolute;
    width: 284px;
    height: 400px;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: none;
    z-index: 200;
}
.popup--content {
    padding: 0 20px 20px;
    height: 305px;
    overflow-y: scroll;

}
.popup-title {
    position: relative;
    padding: 20px;
    font-weight: 800;
    border-bottom: 1px solid #B6BCC3;
}
.cross {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 11px;
    cursor: pointer;
}
.tarif-item {
    padding: 20px 0;
}
.tarif-item:not(:last-child) {
    border-bottom: 1px solid #B6BCC3;
}
.popup-close {
    width: 100%;
    padding: 12px;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
}


/* confirm */

.your-order {
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    overflow: hidden;
    margin: 30px 0;
}

.your-order--title {
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #E3E3E3;
}
.your-order--content {
    padding: 24px;

}
.your-order--content li {
    line-height: 44px;
    color: #7A7A7A;
}
.your-order--content span {
    color: var(--black);
}
.y-order-change {
    cursor: pointer;
    color: #7A7A7A;
}
.confirm-att img {
    width: 13px;
    margin-bottom: 2px;
    margin-right: 10px;
}
.confirm-att {
    color: #7A7A7A;
}

/* auth */

.m-height {
    min-height: 858px;
}
.auth-screen {
    padding-top: 68px;
    background: #FAFAFA;
}
.main__auth {
    background: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto;
}
.auth-title {
    background: var(--blue);
    color: #fff;
    padding: 15px 0;
}
.auth-form {
    padding: 50px 15px 50px;
}
.form-auth {
    width: 260px;
    margin: 0 auto;
}
.auth-c {
    width: 100%;
    margin-bottom: 20px;
}
.auth-c label {
    font-weight: bold;
    margin-bottom: 20px;
}
.form-checkbox {
    margin-bottom: 20px;
}
.auth-input-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    height: 40px;
    padding-left: 15px;
    padding-right: 10px;
}
.auth-input-row input {
    border: none;
    height: 100%;
    padding-left: 10px;
    color: var(--black);

}
.auth-input-row input::-webkit-input-placeholder {
    color: #BFBFBF;
}
.auth-input-row input::-moz-placeholder {
    color: #BFBFBF;
}
.auth-input-row input:-ms-input-placeholder {
    color: #BFBFBF;
}
.auth-input-row input::-ms-input-placeholder {
    color: #BFBFBF;
}
.auth-input-row input::placeholder {
    color: #BFBFBF;
}
.pass-icon {
    margin-left: auto;
}
.w-btn {
    width: 100%;
}

.form-agreement {
    margin: 25px 0;
}
.form-agreement .custom-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}
.form-agreement.checkbox input[type="checkbox"] .custom-checkbox:before {
    content: "";
    display: block;
    background: url(../img/checkbox.svg) no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 11px;
}
.form-agreement.checkbox input[type="checkbox"] ~ label:before {
    content: "";
    display: block;
    border: 1px solid #0072ff;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 11px;
    position: absolute;
    left: 0;
}
.form-agreement.checkbox input[type="checkbox"]:checked ~ label:before {
    content: "";
    display: block;
    background: url(../img/checkbox.svg) no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}
.form-agreement.checkbox input[type="checkbox"] {
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 11px;
    opacity: 0;
    position: absolute;
}
.form-agreement.checkbox input[type="checkbox"]:checked {
    background: url(../img/checkbox.svg) no-repeat;
    background-size: cover;
}
.form-agreement.checkbox label {
    padding: 0;
    color: #1b1b1b;
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
    position: relative;
    padding-left: 31px;
}
.p-forgot-auth {
    max-width: 380px;
    color: #7A7A7A;
    margin-right: auto;
    margin-left: auto;
}
.forgot-screen {
    padding-bottom: 300px;
}

/* 404 */

.notfound-screen {
    padding-top: 89px;
}
.main__notfound {
    max-width: 516px;
    margin: 0 auto;
}
.notfound-title {
    font-size: 18px;
    line-height: 120%;
}
.main__notfound > p {
    color: #7A7A7A;
    line-height: 120%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.notfound-img {
    margin-bottom: 60px;
}


/* contacts */

.green-title {
    background: var(--green);
}
.contact-wrapper p {
    color: #7A7A7A;
}
.contact-wrapper p:first-child {
    color: var(--black);
    font-weight: bold;
}


/* politics*/

.politics-wrapper p {
    margin-bottom: 20px;
}
.politics-wrapper .politics-title {
    margin-bottom: 35px;
    font-size: 18px;
}
.politics-wrapper .politics-title:not(:first-child) {
    margin-top: 35px;
}


  
  .account-setting label {
      font-size: 14px;
  }
  .account-setting .form-inner {
      width: 244px;
  }