@media only screen and (max-width: 1250px) {
    .header__wrapper, .screen--portfolio, .portfolio--content {
        width: 96%;
    }
    .main__content--wrapper__team,
    .main__content--wrapper__contacts,
    .main__content--wrapper__ability,
    .footer__wrapper {
        width: 98%;
    }
    .main__content--wrapper__portfolio {
        width: 85%;
    }
    .main__portfolio--inner {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .main__screen {
        background-size: contain;
    }

    .project--image {
        width: 471px;
        height: unset;
    }
    .project--logo, .picture--wrapper span {
        width: 100px;
        height: 100px;
    }
    .univermag--scheme__up {
        grid-template-rows: 108vw 45%;
    
    }
}

@media only screen and (max-width: 1160px) {
    .header {
        height: 74px;
    }
    .hamburger {
        display: block !important;
    }
    .header__nav {
        display: none;
    }
    .logo {
        padding-top: 21px;
    }
    .hamburger {
        margin-top: 27px !important;
    }
    .header-lang {
        margin-top: 26px;
    }
    .lang-logo__wrapper {
        width: 350px;
    }
    .main__screen--about {
        font-size: 36px;
        line-height: 10px;
    }
    .main__screen--logan {
        font-size: 26px;
    }
    .main__content--wrapper {
        width: 90%;
    }
    .main__content--skill {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__content--skill:nth-child(2n) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .main__content--skill h2, .main__content--skill p {
        text-align: center !important;
    }
    .main__content--skill:nth-child(even) .main__content--skill__logo {
        margin-left: 0;
    }
    .main__content--skill:nth-child(odd) .main__content--skill__logo {
        margin-right: 0;
    }
    .main__content--skill__text h2 {
        margin: 4vw 0;
    }
    .main__about--inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__section--title {
        margin: 0 auto;
    }
    .main__about--list {
        margin-bottom: 50px;
        max-width: 90%;
    }
    .team__person--white {
        width: 27%;
    }
    .main__team--inner_person h3 {
        font-size: 16px;
    }
    
    .footer__logo a:hover, .footer__logo a:focus, .logo a:hover, .logo a:focus {
        transform: scale(1.1);
    } 
    .project--description__inner {
        flex-direction: column;
    }
    .project--content {
        margin-bottom: 42px;
    }
    .project--info ul {
        align-items: flex-start;
    }
    
}
@media only screen and (max-width: 1080px) {
    .main__screen hr {
        margin: 4vh 0;
    }
    .contacts__inner--form {
        width: 100%;
        padding-bottom: 100px;
    }
    .contacts__inner--social {
        bottom: -470px;
        top: unset;
        background: -o-linear-gradient(197deg, #DE466D 0.95%, #000000 91.75%);
        background: linear-gradient(253deg, #DE466D 0.95%, #000000 91.75%);
    }
    .contacts__inner--social ul {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        padding-top: 45px;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 200px;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .contacts__inner--social ul li:last-child {
        margin: 25px 0 25px 140px;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 80px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .contacts__inner--social ul li {
        font-size: 14px;
    }
    .contacts__inner--social ul li img {
        width: 25px;
        margin-right: 10px;
    }
    .screen--portfolio__content h2 {
        font-size: 36px;
    }
    .univermag--scheme__up {
        display: flex;
        flex-direction: column;
    }
    .univermag__scheme--item:not(:last-child) {
        margin-bottom: 60px;
    }
    .scheme__bottom--right, .scheme__bottom--left {
        width: 100%;
    }
    .scheme__bottom--left {
        margin-bottom: 62px;
    }
}
@media only screen and (max-width: 970px) {
    .main__screen--about {
        font-size: 29px;
    }
    .main__screen--logan {
        font-size: 19px;
    }
    .main__content--whoweare__inner h2 {
        font-size: 35px;
        max-width: 730px;
    }
    .main__content--whoweare__inner h2 > span {
        padding: 5px 0;
    }
    .preloader {
        font-size: 26px;
    }
    .preloader__image_animate {
        left: calc(50% - 104px);
        width: 80px;
        height: 80px;
        -webkit-animation: up-down2 2s infinite;
                animation: up-down2 2s infinite;
    }
    .span {
        margin-left: 65px;
    }
    .main__team--inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        grid-gap: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__team--inner_person {
        width: 581px;
    }
    .main__team--inner_person:not(:last-child) {
        margin-bottom: 44px;
    }
    .team__person--content p {
        max-width: unset;
    }
    .main__portfolio--project h2 {
        font-size: 18px;
    }
    .main__portfolio--inner {
        padding-top: 120px;
    }
    .main__portfolio--item {
        flex-direction: column-reverse !important;
        align-items: center;
    }
    .main__portfolio--image h3 {
        margin-bottom: 21px;
        display: inline;
    }
    .main__portfolio--content h3 {
        display: none;
    }
    .main__portfolio--image {
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
    }
    .main__portfolio--item:nth-child(2n) .main__portfolio--image,
    .main__portfolio--item:nth-child(2n+1) .main__portfolio--image  {
        margin-right: 0;
        margin-left: 0;
    }
    .main__portfolio--item:not(:last-child) {
        margin-bottom: 62px;
    }
    .screen--portfolio__content h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .hashtags {
        flex-direction: column;
    }
    .hashtags span:not(:last-child) {
        margin: 0 0 8px 0;
    }
}
@media only screen and (max-width: 768px) {
    .project--info ul {
        align-items: unset;
    }
    .project--info {
        display: grid;
        grid-template-columns: 35% 1fr;
    }
    .project--info ul:nth-child(1) {
        order: 1;
    }
    .project--info ul:nth-child(2) {
        order: 3;
    }
    .project--info ul:nth-child(3) {
        order: 2;
    }
    .project--info ul:nth-child(3) li {
        align-self: flex-end;
    }
    .project--info ul:nth-child(4) {
        order: 4;
    }
    .project--info ul:nth-child(4) li {
        align-self: flex-end;
    }
    /* :root {
        touch-action: unset;
    }
    * {
        cursor: unset;
        touch-action: unset;
    }
    .cursor {
        display: none;
    } */
    .main__screen--about {
        font-size: 22px;
        line-height: 47px;
    }
    .main__screen--wrapper hr {
        margin: 5vh 0;
    }
    .br-desktop {
        display: none;
    }
    .main__screen--logan {
        font-size: 16px;
        line-height: 21px;
    }
    .br-mobile {
        display: block;
    }
    .whoweare__inner--arrow {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .whoweare__inner--arrow img {
        width: 122px;
        height: 201px;
    }
    .whoweare__inner--our_projects {
        width: 150px;
        height: 150px;
        position: unset;
        margin-top: 4vw;
    }
    .whoweare__inner--our_projects h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .whoweare__inner--our_projects:active {
        background: #DE466D;
    }
    .whoweare__inner--our_projects:active h3 {
        color: #fff;
    }
    .portfolio--button:active .portfolio__navigation--arrow .arrow__line-right {
        width: 145px;
    }
    .whoweare__inner--arrow img {
        margin: 37px 0 0 0;
    }
    .main__content--whoweare__inner h2 {
        font-size: 24px;
        max-width: 530px;
    }
    .main__content--whoweare__inner .chevron {
        margin-top: 7vh;
    }
    .main__about--list {
        margin-bottom: 0;
    }
    .main__about--list ul li p {
        font-size: 16px;
    }
    .main__about--list ul li p > span > span {
        width: 33px;
        height: 33px;
    }
    .main__about--list ul li p > span > span > span {
        padding: 10px 0 0 10px;
    }
    .main__about--list ul li p > span {
        padding-left: 28px;
    }
    .main__about--list ul li:last-child p > span {
        padding-left: 25px;
    }
    .main__about--list ul li:last-child p > span > span > span {
        padding: 10px 0 0 14px;
    }
    .main__about--list ul li p > span > span {
        left: -10px;
    }
    .main__about--inner {
        margin-top: 61px;
    }
    .main__portfolio--inner {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .about__sphere {
        display: none;
    }
    .main__portfolio--navigation {
        justify-content: center;
    }
    .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__nav {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .footer__nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__nav ul li {
        margin-right: 0 !important;
    }
    .footer__nav ul li:not(:last-child) {
        margin-bottom: 21px;
    }
    .footer__logo {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .footer__social {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 25px 0;
    }
    .footer__social ul li:first-child {
        margin-right: 20px;
    }
    .main__screen--span {
        line-height: 35px;
    }
    .screen--portfolio__content h2 {
        font-size: 24px;
        line-height: 40px;
    }

    .scheme__bottom--right .scheme__bottom--item:last-child .scheme__bottom--inner, .scheme__bottom--left .scheme__bottom--inner {
        max-width: 140px;
    }
    .univermag--scheme__bottom {
        flex-direction: column;
    }
}
@media only screen and (max-width: 660px) {
    .main__screen--about {
        font-size: 24px;
        line-height: 28px;
    }

    .navigation__block {
        display: none;
    }
    .preloader {
        font-size: 18px;
    }
    .preloader__image_animate {
        left: calc(50% - 73px);
        width: 50px;
        height: 50px;
        -webkit-animation: up-down3 2s infinite;
                animation: up-down3 2s infinite;
    }
    .preloader__text {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    .span {
        margin-left: 45px;
    }
    .main__team--inner_person h2 {
        font-size: 18px;
    }
    .main__team--inner_person h3 {
        font-size: 13px;
    }
    .team__person--content p {
        font-size: 9px;
        max-width: 250px;
        line-height: 160%;
    }
    .main__team--inner_person {
        height: 257px;
        width: 400px;
    }
    .team__person--content img {
        width: 122px;
        height: unset;
    }
    .team__person--white {
        width: 30%;
    }
    .mobile__menu ul li a {
        line-height: 25px;
    }
    .main__screen--span {
        line-height: 30px;
    }
    .team__person--content picture {
        width: 130px;
        height: 190px;
    }
    .main__portfolio--inner {
        padding-top: 80px;
    }
    .screen--portfolio__content h2 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 32px;
    }
    .hashtags span {
        font-size: 10px;
        line-height: 145.4%;
    }
    .screen--portfolio {
        height: 350px;
        justify-content: unset !important;
        padding-top: 62px !important;
    }
    .main__project--description {
        padding-bottom: 45px;
    }
    .univermag--scheme__bottom {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    
    .scheme__bottom--item:not(:last-child), .scheme__bottom--left, .scheme--inner h3, .univermag__scheme--item:not(:last-child) {
        margin-bottom: 30px;
    }
    .preloader .logo-svg {
        width: 300px;
        height: unset;
    }
    .preloader .animation__target--logo {
        width: 60px;
        height: 60px;
        left: calc(50% - 88px);    
        -webkit-animation: up-down5 2s infinite !important;
        animation: up-down5 2s infinite !important;
    }
}
@media only screen and (max-width: 540px) {
    .lang-logo__wrapper {
        width: 320px;
    }
    .main__content--whoweare__inner h2 {
        font-size: 18px;
        max-width: 384px;
    }
    .main__about--list ul li p {
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.255em;
    }
    .main__section--title {
        font-size: 24px;
    }
    .main__section--title::after {
        width: 200px;
    }
    .main__content--describe {
        padding: 50px 0 10.4vw;
        font-size: 18px;
        text-align: center;
    }
    .main__content--wrapper__about {
        padding: 49px 0 61px;
    }
    .main__about--list ul li p > span > span {
        width: 30px;
        height: 30px;
    }
    .main__about--list ul li:last-child p > span {
        padding-left: 23px;
    }
    .main__about--list ul li p > span {
        padding-left: 25px;
    }
    .contacts__inner--social ul li {
        font-size: 9px;
    }
    .contacts__inner--social ul li img {
        width: 15px;
    }
    .contacts__inner--social ul {
        padding-top: 20px;
    }
    .contacts__inner--social {
        bottom: -190px;
        width: 340px;
        height: 340px;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 120px;
    }
    .contacts__inner--social ul li:last-child {
        margin: 25px 0 25px 80px;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 45px;
    }
    .main__content--wrapper__contacts {
        width: 85%;
        padding: 35px 0 0;
        margin-bottom: 14px;
    }
    .contacts__inner--form {
        padding-top: 30px;
    }
    .form__submit {
        width: 91px;
        height: 31px;
        font-size: 14px;
    }
    .form__group--row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .form__group--row:not(:last-of-type) {
        margin-bottom: 21px;
    }
    .input--wrapper {
        width: 100%;
        font-size: 14px;
    }
    .form__group--input::-webkit-input-placeholder {
        font-size: 14px;
    }
    .form__group--input::-moz-placeholder {
        font-size: 14px;
    }
    .form__group--input:-ms-input-placeholder {
        font-size: 14px;
    }
    .form__group--input::-ms-input-placeholder {
        font-size: 14px;
    }
    .form__group--input::placeholder {
        font-size: 14px;
    }
    .form__group--input:not(:last-of-type) {
        margin-bottom: 21px;
    }
    .form__group--row:last-of-type {
        margin-top: 0;
    }
    .contacts__inner--social {
        background: -o-linear-gradient(301deg, #DE466D 0.95%, #000000 27.75%);
        background: linear-gradient(149deg, #DE466D 0.95%, #000000 27.75%);
    }
    .main__content--wrapper__ability {
        padding-top: 60px;
    }
    .contacts__inner--social ul li svg {
        margin-right: 13px;
        width: 20px;
    }
    
    .for-mobile {
        display: block;
    }
    .for-desktop {
        display: none ;
    }
    .main__screen--about {
        font-size: 18px;
        line-height: 28px;
    }
    .main__portfolio--image h3 {
        text-align: center;
        font-size: 24px;
    }
    .portfolio--round {
        font-size: 14px;
        line-height: 129.9%;
        text-align: center;
        letter-spacing: 0.15em;
        justify-content: center;
    }
    .main__portfolio--content p {
        font-size: 14px;
    }
    .main__portfolio--inner img {
        width: 100%;
    }
    .picture--wrapper span {
        width: 23%;
        height: 43%;
        bottom: 7px;
        left: unset !important;
        right: 9px !important;
    }
    .project--logo {
        width: 100%;
        height: 100%;
    }

    .main__project--description h3 {
        font-size: 14px;
        line-height: 120.4%;
        margin-bottom: 22px;
    }
    .project--content p {
        font-size: 13px;
        line-height: 120.4%;
    }
    .project--info ul li:first-child {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
    }
    .project--info li {
        font-size: 14px;
        line-height: 16px;
    }
    .scheme--inner h3 {
        font-size: 14px;
        line-height: 16px;    
    }
    .univermag__scheme--item:nth-child(2) .scheme--inner {
        max-width: 140px;
        margin: 0 auto;
    }
    .mobile {
        width: 71px;
        height: 151px;
    }
    .mobile-left {
        left: -35px;
    }
    .mobile-right {
        right: -35px;
    }
    .french--type .main__section--title::after {
        left: 96px;
    }
}
@media only screen and (max-width: 425px) {
    .header {
        height: 104px;
    }
    .lang-logo__wrapper {
        width: unset;
        flex-direction: column;
        justify-content: unset;
    }
    .header-lang {
        margin-top: 25px;
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 33%;
        left: 35%;
    }
    .main__screen {
        background: url('../img/mobile-bg.svg') no-repeat;
        background-position: 0 -101px;
        background-size: cover;
    }
    @media not all and (min-resolution:.001dpcm) 
    { @supports (-webkit-appearance:none) {
        .portfolio--background {
            background: url('../img/univer-mob-bg.png') no-repeat !important;
            background-position: 100% 77% !important;
            background-size: 301px 223px !important;
        }
    }}
    .portfolio--background {
        background: url('../img/univer-mob-bg.webp') no-repeat;
        background-position: 100% 77% !important;
        background-size: 301px 223px !important;
    }
    .main__project--description {
        padding-top: 0;
    }
    .main__screen--logan {
        font-size: 14px;
        line-height: 26px;
    }
    .main__screen hr {
        margin: 2vh 0;
    }
    .chevron {
        display: none;
    }
    .main__screen--contact__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .main__content--about {
        font-size: 14px;
        line-height: 139.9%;
    }
    .main__content--skill__logo {
        width: 100px;
        height: 100px;
    }
    .main__content--skill__text h2 {
        font-size: 18px;
        line-height: 119.04%;
    }
    .main__content--skill__text p {
        font-size: 10px;
        line-height: 180%;
    }
    .main__content--about {
        padding-top: 32px;
    }
    .main__content--skill__text h2 {
        margin: 24px 0;
    }
    .main__content--skill:not(:last-child) {
        margin-bottom: 41px;
    }
    .main__content--whoweare__inner h2 > span {
        background: none;
        display: inline;
        padding: 0;

    }
    .main__content--whoweare__inner h2 > span > span {
        background: #DE466D;
        display: block;
        margin: 0 auto;
    }
    .main__content--whoweare__inner h2 {
        max-width: 284px;
        line-height: 198.9%;
        letter-spacing: 0.15em;
    }
    .br-mobile__whoweare {
        display: inline;
    }
    .main__content--wrapper__team {
        width: 100%;
        padding: 52px 17px 56px;
    }
    .main__team--inner_person {
        width: 100%;
    }
    .team__person--white {
        width: 114px;
    }
    .team__person--black {
        width: unset;
    }
    .main__section--title::after {
        width: 146px;
    }
    .team__person--white {
        padding: 8px 1px 8px 0;
    }
    .main__portfolio--project p {
        font-size: 13px;
        text-align: center;
        margin: 22px 0 35px;
    }
    .main__portfolio--project {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px 6px 29px 6px;
        border: 1px solid #FFFFFF;
        background: url('../img/ellipse-mini.svg') no-repeat;
        background-position: 100% 100%;
    }
    .main__portfolio--project h2 {
        text-align: center;
    }
    .main__portfolio--project a {
        width: 100%;
        text-align: right;
    }
    .main__portfolio--project:hover a {
        color: #fff;
        text-decoration: underline;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 110px;
    }
    .contacts__inner--social ul li:last-child {
        margin: 25px 0 25px 62px;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 18px;
    }
    .contacts__inner--social ul li svg {
        margin-right: 10px;
        width: 15px;
    }
    .main__portfolio--navigation {
        display: none;
    }
    .contacts__inner--social {
        bottom: -247px;
    }
    .contacts__inner--social ul {
        padding-top: 23px;
    }
    .contacts__inner--social ul li:first-child {
        margin-left: 110px;
    }
    .contacts__inner--social ul li:nth-child(2) {
        margin: 0 0 0 37px;
    }
    .contacts__inner--social ul li:last-child {
        margin: 0px 0 3px 71px;
    }
    .main__content {
        padding-bottom: 40px;
    }
    .main__nopage--inner h1 {
        font-size: 18px;
        line-height: 21px;
        max-width: 250px;
    }
    .main__wrapper--nopage {
        min-height: 365px;
        height: unset;
    }
    .main__nopage--inner {
        padding-bottom: 140px;
    }
    .main__nopage--round {
        height: 80px;
        width: 80px;
        border: 1px solid #fff;
    }
    .main__nopage--round h3 {
        font-size: 10px;
        line-height: 12px;
    }
    .main__nopage--round:active {
        background: #fff;
    }
    .main__nopage--round:active h3 {
        color: #DE466D;
    }
    .main__about--image {
        background: url('../img/balls-mobile.svg') no-repeat;
    }
    .main__about--list ul li:not(:last-child) {
        margin-bottom: 53px;
    }
    .main__screen--wrapper hr {
        height: 1px;
    }
    .main__screen--span i {
        letter-spacing: 0.135em;
    }
    .button-wrapper--magnetic {
        width: 80px;
        height: 80px;
    }
    .portfolio--round:focus span, .portfolio--button:active .portfolio--round span {
        width: 225%;
        height: 462.5px;
    }
    .portfolio--button:hover .portfolio--round span {
        width: unset;
        height: unset;
    }
    .portfolio--button:hover .portfolio--round {
        color: unset;
    }
}

@media only screen and (max-width: 375px) {
    .form--windows > img {
        margin-right: 6px;
    }
}

@media only screen and (min-height: 800px) and (min-width: 660px) {
    .sphere {
        bottom: 30%;
    }
}
@media only screen and (min-height: 1300px) and (min-width: 660px) {
    .sphere {
        bottom: 35%;
    }
}

@media only screen and (min-height: 400px) and (max-width: 768px) {
    .main__screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }
    .main__screen--contact__block {
        align-self: flex-end;
    }
}

@media only screen and (min-height: 700px) {
    .main__screen--contact__block {
        bottom: 105px;
    }
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .main__screen--contact__block {
            bottom: 195px;
        }
     }

@media only screen and (max-height: 700px) and (min-width: 660px) {
    .main__screen {
        padding-top: 6.2vh;
    }
    .main__screen .chevron {
        margin-top: 15vh;
    }
}


@media only screen and (max-height: 550px) and (min-width: 660px) {
    .chevron {
        margin-top: 14vh;
    }
    .main__screen--wrapper hr {
        margin: 4vh 0;
    }
    
    .navigation__block {
        display: none;
    }
    .main__content--whoweare__inner {
        padding-bottom: 50px;
    }
    .main__content--whoweare__inner .chevron {
        margin-top: 110px;
    }
    .main__content--wrapper__portfolio .chevron {
        margin: 76px auto 0;
    }
}

@media only screen and (max-height: 440px) and (min-width: 660px) {
    .main__screen--wrapper hr {
        margin: 2vh 0;
    }
    .main__screen--about {
        font-size: 24px;
        line-height: 28px;
    }
    .main__screen--logan {
        font-size: 2vw;
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 80px;
    }
}


@media only screen and (max-height: 390px) and (max-width: 660px) {
    .chevron {
        margin-top: 7vh;
    }
    #particles-js1, #particles-js2 {
        width: 100px;
        height: 100px;
    }
    .sphere {
        bottom: 40%;
    }
}

@media only screen and (max-height: 900px) and (min-height: 850px) and (min-width: 768px) {
    .main__content--wrapper__whoweare .chevron {
        margin-top: 15vh;
    }
}
@media only screen and (max-height: 850px) and (min-height: 800px) and (min-width: 768px) {
    .main__content--wrapper__whoweare .chevron {
        margin-top: 12vh;
    }
}
@media only screen and (max-height: 1000px) and (min-height: 900px) and (min-width: 768px) {
    .about__sphere {
        bottom: 250px !important;   
    }
}
@media only screen and (min-height: 800px) and (max-height: 1000px) and (min-width: 768px) {
    .main__content--wrapper__whoweare {
        height: 100vh;
    }
}
@media only screen and (min-height: 850px) and (max-height: 1000px) and (min-width: 970px) {
    .main__content--wrapper__team {
        height: 100vh;
    }
}
@media only screen and (min-height: 850px) and (max-height: 1000px) and (min-width: 1160px) {
    .main__content--wrapper__about {
        height: 100vh;
    }
}

@media only screen and (max-height: 425px) and (min-width: 568px) {
    .header {
        height: 74px;
    }
    /* .mobile__menu--overlay {
        top: 74px;
        height: calc(100vh - 74px);
    } */
    .main__screen {
        max-height: calc(100vh - 74px);
        height: unset;
    }
}   


@media only screen and (min-width: 1440px) {
    #particles-js1, #particles-js2 {
        width: 18vw;
        height: 18vw;
    }

}
@media only screen and (min-width: 1080px) {
    .form__submit {
        margin-bottom: 35px;
    }

}
@media only screen and (min-width: 425px) {
    .mobile__menu ul li:not(:last-child) {
        margin-bottom: 8vh;
    }
    .mobile__menu ul li a {
        font-size: 6vh;
    }
}










@media only screen and (max-height: 550px) and (max-width: 660px) {
    .main__screen {
        padding-top: 1.2vh;
    }
}
@media only screen and (max-height: 550px) and (max-width: 425px) {
    .main__screen {
        background-position: 0 -207px;
    }
}
@media only screen and (max-height: 550px) and (max-width: 360px) {
    .main__screen {
        background-position: center;
    }
}


@media only screen and (orientation: landscape) { 
        .mobile__menu--overlay {
            overflow-y: scroll;
            overflow-x: hidden !important;
        }
}

@media only screen and (orientation: landscape) and (max-height: 600px) { 
    .main__screen {
        max-height: unset !important;
    }
    .screen--portfolio {
        height: 600px !important;
        background-position: 97% top;
    }
    .screen--portfolio__content {
        margin-bottom: 100px;
    }
}